[2017-03-13 15:47] udeved opened #2 "polkit authorization"
I am not sure it is elogind issue, rather than a polkit issue.
System is manjaro, I use a patched polkit-0.114(from git) version with elogind support and elogind-226, openrc init.
Here are the [PKGBUILDS](https://github.com/manjaro/packages-openrc).

The issue I have on plasma, the kcm authorization doesn't work for kwalletmanager, time and sddm kcm.

Is anyone else experiencing this behaviour reg

[2017-03-13 15:57] Yamakuzure commented on #2
I have patched accountsservice, dbus, powerdevil, sddm and udisks to have a fully functional Plasma 5 with elogind as session tracker. All kcms (including kwalletmanager) work just fine.

See:
- [Gentoo Bug for AccountsService](https://bugs.gentoo.org/show_bug.cgi?id=599492)
- [Gentoo Bug for dbus](https://bugs.gentoo.org/show_bug.cgi?id=599494)
- [Gentoo Bug for PowerDevil](https://bugs.gentoo.or

[2017-03-13 16:03] udeved commented on #2
Thanks for quick response.

I have the same plasma, apps and kf5 version installed.

I patched polkit , networkmanager and sddm already.
Will look into your kde patches and give it a try.

Btw, does elogind have this dbus user session activation thing from systemd?

[2017-03-13 16:12] Yamakuzure commented on #2
What do you mean by "dbus user session activation thing" ?

[2017-03-13 16:16] udeved commented on #2
In dbus ...

  --enable-user-session

I wasn't used by consolekit, but I think elgoind can use it?

Regarding polkit auth, have you eventually tried with polkit>0.113 yet?
On the other hand, I will make a try with pk-0.113 instead of 0.114.

[2017-03-13 16:41] Yamakuzure commented on #2
polkit-114 is not in gentoo, yet.
I haven't tried --enable-user-session, yet, and first need to take a look into what it actually is.

I'll give you feedback tomorrow, ok?

[2017-03-13 16:53] udeved commented on #2
Absolutely ok, I guess its new territory for us, just my playground is arch based, while using gentoo too. :)
I need to go with the flow in terms of versions ideally, and arch has pk-0.114 since a while.
I suspect the kcm problem is related to to pk version, because pk-0.114 has a hard depend on spidermonkey-24. Gnetoo still use spidermonkey-185 to compile pk.

[2017-03-13 20:56] udeved commented on #2
I have tested a bit.

No difference between pk 0.113 and 0.114, polkit agent is not registered, as opposed to the consolekit equivalent.
The question is, why isn't the agent registered?

[code]

Something strange going on.

Since no agent is registered, nothing logged as usual when registering the pk agent, I think this is where a pk bug strikes
https://bugs.freedesktop.org/show_bug.cgi?id=97445

[2017-03-13 21:19] udeved commented on #2
On my gentoo, this line is logged with ck installed:

[code]

This was also logged with ck on manjaro.

Nothing like this is logged with elogind on manjaro.

I am nowabout to test elogind on gentoo, just added your overlay...

[2017-03-14 12:20] Yamakuzure commented on #2
On Gentoo polkit installs
`/usr/share/dbus-1/system-services/org.freedesktop.PolicyKit1.service`

with the following content:

[code]

And on my system, polkitd is used through KDE, not elogind:

[code]

[2017-03-14 15:05] udeved commented on #2
I just switched from ck to elogind on my gentoo to have a reference system, it works.

The install location on manjaro is also

     /usr/share/dbus-1/system-services/org.freedesktop.PolicyKit1.service

I find it weird, the pk agent doesn't register in kde session. Will test more.

[2017-03-14 15:20] udeved commented on #2
Back on manjaro, logs from fresh boot....

[code]

Why is the kernel removing the session?

[code]

[2017-03-15 09:13] Yamakuzure commented on #2
I looked it up, and all it does is to install systemd-user files to allow systemd user sessions (where a local user systemd is launched) to spawn their own dbus incarnations.
Actually I have no idea what it is good for, other than to separate user dbus messages from system ones.

Because the sddm helper exited its session the line before. ;-)

About the polkit helper, on gentoo it is autostarted v

[2017-03-15 09:46] udeved commented on #2
T     /etc/xdg/autostart/polkit-kde-authentication-agent-1.desktop

Its where it is located on arch/manjaro too.
For some reason, the autostart isn't executed for this launcher.
I have come closer btw, my logs now show polkit-0.114 activated.
However, still no auth agent registering, which works on my gentoo box with elogind. I deliberately recompiled accountsservice and dbus as well.
Thing is, I

[2017-03-15 10:18] Yamakuzure commented on #2
If systemd is installed, it will be preferred if autodetection is used.
btw: It makes no sense to have both systemd and elogind on the same system. Whose loginctl do you then use? There is a name clash here!

[2017-03-15 10:22] udeved commented on #2
You misunderstood.
There is a libsystemd package present, which makes for example qt5 work without recompiling it without say journald feature.
libsystemd on arch, unfortunately bundles all systemd libs in one lib package, liblogin, libudev for example. In other words, the systemd octopus digs deep in the system.

[2017-03-15 10:56] Yamakuzure commented on #2
Well, if you *run* the system with systemd, then it is better to use systemd-login, as it registers nicely with systemd. If just the libsystemd package is installed, but another init runs the system, then it doesn't matter, of course.

Did you patch in elogind support into accountsservice and dbus?

[2017-03-15 11:10] udeved commented on #2
Yes, I already tested with dbus-elogind (your patch), which made the polkitd startup being logged again.

I think it didn't make a difference between accountsservice and accountsservice-elogind package, also with your patch. It theory, I shouldn't need all of the elogind packages needed on gentoo, since on arch they are by default compiled with systemd features. So I only need to replace packages,

[2017-03-15 11:48] udeved commented on #2
Another question, is the SMACK kernel feature strictly required for elogind to work properly?
My gentoo kernel has it manjaro kernels doesn't atm, but even with SMACK enable, I still have the polkit agent problem on plasma.

[2017-03-15 13:03] Yamakuzure commented on #2
I see...

Well, when the packages are compiled with and linked against libsystemd, then they won't work with elogind, because they must be linked against libelogind instead.

[2017-03-15 13:10] udeved commented on #2
Thx, I was planning to split out libelogind eventually, like I did with libudev.
Stilll leaves libsystemd, but I can better handle depends.

So this means, recompiling kde-polkit-auth-agent against libelogind should make it work. Will test.

[2017-03-15 13:48] Yamakuzure commented on #2
Oh, I forgot:
SMACK is optional.

The next thing is, that the kde-polkit-auth-agent has not a single reference to systemd. Only services that come to my mind are accountsservice, sddm, powerdevil and dbus.

[2017-03-15 14:49] udeved commented on #2
Yes, I have these all patched, but still no agent.
Made me think, if some package has a runtime detection for liblogind(part of libsystemd)?

[2017-03-16 11:27] Yamakuzure commented on #2
Oh, I forgot:
SMACK is optional.

The next thing is, that the kde-polkit-auth-agent has not a single reference to systemd. Only services that come to my mind are accountsservice, sddm, powerdevil and dbus.

[2017-03-16 11:47] Yamakuzure commented on #2
I just thought of another possibility: PAM

elogind is enabled like this on gentoo:

[code]

But I have no idea what makes Plasma to launch the polkit agent, apart from the desktop file in /etc/xdg/autostart.

However, if I understand https://wiki.archlinux.org/index.php/Polkit and https://wiki.archlinux.org/index.php/KDE#Autostarting_applications correctly, it would be enough to place a symlink t

[2017-03-16 14:30] udeved commented on #2
Hmm, nothing helps.
I think I will build the patched packages with debug to see whats going on on the dbus and what goes on with polkit agent.

[code]

[code]

[2017-03-17 17:27] udeved commented on #2
I've made some more tests.

If I run elogind with default packages, which rely on libsystemd, I still get no pk auth agent registered.
If I replace default packages with packages compiled against libelogind, same result, no pk agent.

I am starting to suspect its something kernel related, ie I will compile a test kernel.

[2017-03-18 14:24] udeved commented on #2
Its not the kernel, I tested a custom kernel not much different from my gentoo kernel.

I also recompiled polkit-qt5 from git. still no success.

Am I doing something wrong with compiling  [elogind](https://github.com/manjaro/packages-openrc/blob/master/elogind/PKGBUILD)? Or is this a polkit weird issue and/or wrong pk configuration?

[2017-03-18 16:23] udeved commented on #2
@Yamakuzure

I think I found something.

Question, how is the session id determined? What assigns the id? Its an integer on gentoo, but I get char prefixed int on manjaro.

I have all patched relevant packages installed.

I get this output on gentoo

[code]

[code]

[code]

but on manjaro, the session id is a systemd id cX, and user status returns a slice.

[code]

[code]

[code]

[2017-03-19 22:53] udeved commented on #2
sddm was the culprit.

Took me to recompile lots of packages without libsystemd, to finally recompile sddm with qt5 without journald support. Yay!

[code]

[2017-03-19 22:53] #2 closed

[2017-03-20 07:36] Yamakuzure commented on #2
I am glad you found out what it was. Congratz! :-)

[2017-03-20 09:47] udeved commented on #2
Turns out, having libsystemd in the chroot when compiling sddm, makes sddm somehow switch in systemd mode, despite being disabled. elogind and sddm also don't like xorg with enabled systemd feature.

Btw, I think a next packages to patch on gentoo would be modemmanager, enabling suspend/resume from elogind. ;)

[2017-04-04 10:05] robin0800 opened #4 "bug#25325: elogind does not set ACLs promptly #46"
http://lists.gnu.org/archive/html/bug-guix/2017-01/msg00009.html [](url) refers
I cannot really comment any further as I do not understand ACL's, but it appears this bug affects Manjaro as well.

see forum posts
https://forum.manjaro.org/t/switch-from-consolekit-to-elogind/19412/111 [](url)
https://forum.manjaro.org/t/openrc-and-elogind-permissions-problem/20574/7 [](url)

[2017-04-04 12:58] Yamakuzure commented on #4
As far as I understand it, this applies for elogind-2.19.x, right? Because some of the reports are way before 226.5 got released.

It might help if you upgraded elogind and see whether the issue remains.

[2017-04-04 13:37] robin0800 commented on #4
Yes I too have elogind 226.5-1
If I hash out my user name in 99-android.rules unplug and replug phone this what I get

![screenshot from 2017-04-04 14-36-22](https://cloud.githubusercontent.com/assets/15679668/24659295/27052162-1944-11e7-808a-497d0e48a320.png)

[2017-04-04 14:38] Yamakuzure commented on #4
I do not have an android rules file, I just have:

[code]

And that just works.

I can access my phone (using Dolphin in Plasma 5) either via `kdeconnect://112e6976455d3a60/` or `mtp:/Xperia Z1 Compact/`.
Both work, but kdeconnect has difficulties accessing my phones SD card, while mtp can do it without problems.

I will go and start elogind in a debug session, so I can see what it does when the p

[2017-04-05 07:06] robin0800 commented on #4
I've just installed xfc openrc 17.0 this of couse has console kit and after the 200 updates my phone works fine with it.
One thing I have noticed is that on the first connection mtp is 003,003 and this never changes no matter how many times I disconnect and reconect. I guess it always sees it as the same device.

On elogind every time as above the second digit increments by one i.e. 003,004 then 0

[2017-04-08 15:02] Yamakuzure commented on #4
I am a bit puzzled right now.

What I see in my log with debugging enabled is nothing else than I have already seen:

[code]

This output was generated while attaching my phone, browsing both the internal storage and the sd card on it using mtp via dolphin, and then disconnecting the phone.

I think I have to look somewhere else...

[2017-04-08 15:05] Yamakuzure commented on #4
btw: I do not think that elogind is responsible for the USB device number the kernel assigns.

[2017-04-08 17:28] robin0800 commented on #4
Sure you are right it is not something in elogind but some related package. The fact that nothing is needed if console kit is used, strongly suggests its something in the replacement packages used to replace this but which ones is anyone's guess?

[2017-04-10 11:36] Yamakuzure commented on #4
Well, that is a good question.
elogind needs libcap, libudev and dbus. It can be configured to use polkit, acl, pam and selinux. That's it.
The main task is to substitute systemd-login, so that any applications that have some `#include <systemd/sd-login.h>` anywhere can do exactly the same as before using `#include <elogind/sd-login.h>`.

The packages I have adapted and patched for Gentoo are gvfs

[2017-04-12 07:53] udeved commented on #4
@Yamakuzure

Is there any chance to improve teaching the libelogind lesson to sources with a little makefile for libelogind similar to libudev?
I guess, a virtual/liblogind would also do some good in portage?

[2017-04-12 08:13] Yamakuzure commented on #4
@udeved I do not really understand what you mean with the Makefile similar to libudev.

The "teaching" is simply to add something like `--enable-elogind` to their configure options, that checks for libelogind and sets some define like `HAVE_ELOGIND`.
Then, the sources which include `<systemd/sd-login.h>`, normally it is only one file, need a check for the new define, so that it reads like:

[code]

[2017-04-12 08:55] udeved commented on #4
@Yamakuzure

M fault, I explained badly regarding makefile.

Currently, I do a `make -C src/libudev DESTDIR="$pkgdir" install` for example for a libeudev package, doesn't work for libelogind, it has no makefile in the libelogind folder.
For elogind, I moved the stuff around "manually" to the libelogind split out package.

This got me the thought, one day, you are right, its an octopus, there could

[2017-04-12 10:48] Yamakuzure commented on #4
The next version 227 will have Makefiles back in all directories. That was my fault.

I just tried, and `make -C src/libelogind` works on dev_v227 and dev_v228 branch.

However, for elogind to work, it must run. And logins should be handed over by pam_elogind.so on PAM-enabled systems.
I do not think that this works with only a split out library, when the session tracker is not even running and/or

[2017-04-12 11:51] udeved commented on #4
@Yamakuzure

Thx, will try 227+

The purpose of a split out libelogind is purely for building other packages, some only require liblogind, nothing else, just as some systemd packages only require libsystemd to compile other sources with a logind feature enabled.

[2017-04-13 13:11] robin0800 commented on #4
Adding GROUP="user" is not a full solution as although it must I cannot find its mount point.
This according to Arch is /run/user/1000/gvfs/mtp\:host=%5Busb%3A001%2C006%5D/
the later part relating to the path in nemo when it is mounted
There is nothing in gvfs when using GROUP.

[2017-04-13 14:59] Yamakuzure commented on #4
To clarify this:

elogind never did, does not, and will never do anything about any USB device plugged in. **Unless** it is explicitly told to take over the device using a `TakeDevice` command via dbus.

I haven't looked up systemd-udev, yet, but I do not think they call their own systemd-login to take over USB devices as well. But I may be wrong on this.

[2017-04-13 15:01] udeved commented on #4
@Yamakuzure

I would suspect eudev a bit outdated possibly.
Perhaps eudev-4 branch solves this? Haven't tested.
My suspicion is something udev, or the user should be simply added to some required group.

[2017-04-13 15:07] Yamakuzure commented on #4
@udevd Yes, or maybe it is just one missing udev rule nobody thought about, yet.

I just followed the ACL workflow, and setting and renewing ACLs is only done when activating a seat. There is no code to set anything on newly plugged in devices.

[2017-04-13 15:16] udeved commented on #4
@Yamakuzure

I had the thought, that it may be related to systemd-sysuser thing.
If I understood this thing correctly, it acquires some privileges, eg group privileges.
Arch default packages use it, so it may be a simple privilege problem plus missing udev rule.
Afaik, @robin0800 placed the rule manually.

Btw, is the pam elogind-user similar to systemd-sysuser, or just similar sounding name with

[2017-04-13 15:32] Yamakuzure commented on #4
pam_elogind.sop is pam_systemd.so renamed, but the same in functionality.

elogind **is** systemd-login stripped from all code _not_ being systemd-login.

[2017-04-13 15:40] udeved commented on #4
That I know. :)
So elogind has no systemd-sysuser stuff in it whatsoever.

For example, the systemd-sysuser stuff looks like this.

[code]

Kind of similar to tmpfiles.

I believe this may cause the issue described. There is no entry for the specific group to access via udev?

[2017-04-13 16:03] robin0800 commented on #4
My apology There was no fuse in default so wasn't running so now the mount is in  /run/user/1000/gvfs/ .
I posted in the forum a new problem even with all the above working correctly, if I enable android debugging the mount fails again and doesn't reappear until debugging is turned off.

[2017-04-14 19:01] Gottox opened #6 "Sync state with ConsoleKit2"
We're at VoidLinux use [ConsoleKit2](https://github.com/ConsoleKit2/ConsoleKit2/) for Session Management for most Desktop Environments except Gnome. Due to internal roadmaps I don't believe this will go away soon. Some dbus services such as accountsservice or polkit need to be provided in both variants, ConsoleKit and elogind.

At the moment we're using two variants, polkit and polkit-elogind for

[2017-04-16 08:04] Yamakuzure commented on #4
I have looked up sysuser.

It is (in systemd-228 at least) a process run by init to ensure that all needed system users are correctly set up in /etc/passwd and /etc/group.

So if your system is correctly configured, you will never need it to do anything. All packages requiring system users/groups, should add them anyway.
Well, they do on at least Gentoo and Debian AFAIK.

[2017-04-16 08:29] robin0800 commented on #4
By default with "elogind" in Manjaro. "systemd" is removed and cannot easily be re added.

[2017-04-16 08:29] udeved commented on #4
Yep, however, on arch based systems, by default the don't practically use system groups in /etc/group.
Its become all a giant systemd something.
I guess @robin0800 needs to add his user to uucp group, fiddling with udev rules alone won't solve it until user is added.

[2017-04-16 08:34] robin0800 commented on #4
Yess That is what I have done simply point 51-android.rules and 69-libmtp.rules to uucp then enabling uucp in users

[2017-04-16 08:37] udeved commented on #4
You added your user to uucp group with `usermod`?

Since you copied the udev rul manually, and generally, pacman got tied to systemd stuff for post install scriptlets or alpm hooks, you need to manually configure your stuff.

[2017-04-16 08:45] robin0800 commented on #4
No I used "users gui" opened as root and just ticked the "uucp" box, that's the same?

[2017-04-16 08:56] udeved commented on #4
I have no idea if its the same, I do not use cinnamon or gtk3 DEs.
I guess it is, but kde4 users module has some flaws iirc, better use terminal.

[2017-04-24 09:04] Yamakuzure commented on #4
I will close this issue for the following reasons:

- The very short conclusion: "This is a downstream issue". (_I generally **hate** this answer, but in this case there is nothing I can do about it._)
- The distribution is responsible for setting up the system users and groups needed for the distributions software to work.
- However, if a distribution relies on some (systemd) daemon to do this, r

[2017-04-24 09:04] #4 closed

[2017-04-24 09:16] Yamakuzure commented on #6
Sorry for the delay, I was very busy the last week.

There is no use in using more than one session tracker in parallel.
To tell you the truth, I do not even have the slightest idea how this would work, as ConsoleKit2 and systemd-login/elogin wouldn't talk to each other.
And, well, they work very differently.

Most software must be configured to support either ConsoleKit2, systemd-login or elogind

[2017-04-24 13:28] udeved commented on #4
@Yamakuzure

Just for sake of information, the issue resolved.
A package was missing for the android user.

https://github.com/manjaro/packages-openrc/issues/49#issuecomment-295176903

[2017-04-25 08:29] Gottox opened #8 "Build fails with 227.2 while linking"
Output:

https://travis-ci.org/Gottox/void-packages/jobs/225515253

The Void template for this build:

https://github.com/Gottox/void-packages/blob/master/srcpkgs/elogind/template

[2017-04-25 10:49] #6 closed

[2017-04-25 11:00] Yamakuzure commented on #8
Thanks alot, I'll take a look.

[2017-04-25 11:18] Yamakuzure commented on #8
Builds and links fine with your configure options when using simple "make" with gcc-5.4.0.

You are using gcc-6.3.0 as I can see.
Well, I was planning to upgrade my gcc anyway. I will do so and report back once I have a result.

In the meantime, could you please test removing LTO from configure.ac? Just to test it? You have a lot messages that say "plugin needed to handle lto object" in your log.

[2017-04-25 11:55] Gottox commented on #8
The "plugin needed to handle lto object" messages can be fixed with switchting from ranlib to gcc-ranlib. Unfortunarely this does not solve the linking issues.

The linking issues can be fixed by adding `-fno-lto` to the CFLAGS.

[2017-04-26 08:10] Yamakuzure commented on #8
The new release 227.3 adds a --disable-lto option to configure.ac. With this you can circumvent the auto-detection and disable lto without directly tinkering with the CFLAGS.

Just change

[code]

to

[code]

in your Void template, and you should be fine.

[2017-04-26 11:00] Yamakuzure commented on #8
This issue is fixed in 227.3.

[2017-04-26 11:00] #8 closed

[2017-05-03 21:28] abucodonosor opened #10 "RUN{builtin}+="uaccess" won't work with eudev"
Hello,

while playing around with elogind and eudev we noticed the following error

RUN{builtin}: 'uaccess' unknown /lib/udev/rules.d/73-seat-late.rules:15

Regards

[2017-05-04 09:47] Yamakuzure commented on #10
Interesting. The file hasn't changed for over 5 years, so I am wondering what that is.

I am using eudev on all my machines, too, and never have seen such an issue.

Please tell me:

- Which version of elogind are you useing?
- Which version of eudev are you using?
- What is your "PID 1"?
- How can this (error?) message be reproduced?

[2017-05-04 09:57] udeved commented on #10
This happens, if the udev directory isn't properly configured in make.

Works for me if

[code]

[2017-05-06 11:26] udeved opened #11 "elogind upstream patches"
Just to inform you, I sent a PR for udisks2-2.6.4 to support elogind.

https://github.com/storaged-project/udisks/pull/257

[2017-05-08 01:33] abucodonosor commented on #10
@udeved  This is not about the rules.d dir .. we use /lib/udev/ rules.d..

Also the error tells 'udev' has no such 'builtin'

Are you sure your initrd is systemd free ?

@Yamakuzure I play with 'finit' and the versions we use are the following
  elogind 227.4
  eudev 3.2.2
  finit is 3.0rc2 ( however we work on getting stuff upstream )

  I think a easy way to reproduce will be
  get a minimal ini

[2017-05-08 01:43] abucodonosor commented on #10
https://github.com/systemd/systemd/blob/master/src/udev/udev-builtin.c#L45

While no such code exists in eudev..

[2017-05-08 09:45] udeved commented on #10
@abucodonosor

Yes, I am sure, I had this error once when elogind didn't have proper udev rules dir.

[2017-05-08 09:48] abucodonosor commented on #10
@Yamakuzure

or even shorter test

udevadm test /dev/sda ( or whatever else , doesn't matter )

....
Reading rules file: /lib/udev/rules.d/70-touchpad.rules
Reading rules file: /lib/udev/rules.d/70-uaccess.rules
Reading rules file: /lib/udev/rules.d/71-seat.rules
Reading rules file: /lib/udev/rules.d/73-seat-late.rules
RUN{builtin}: 'uaccess' unknown /lib/udev/rules.d/73-seat-late.rules:15
Reading

[2017-05-08 09:54] abucodonosor commented on #10
@udeved

( off topic here )

not only the rules here have some problems ..

you may want to look lvm2 and mdadm udev rules..
they have ENV{SYSTEMD_WANTS}+="some.service" etc

this bug can be even reproduce with systemd-udevd like this

recompile systemd 'without' ACL , create some chroot , install this version there ,
and fire up udevadm test .. you have same error..

[2017-05-08 13:40] udeved commented on #10
@abucodonosor

What distro are you using?
My lvm udev rules look fine, the lvm package is compiled without systemd.

However, @Yamakuzure , I can confirm the late seat error o one of my testing machines. apparently, no error on laptop, but error on the normal box.
`
May  8 08:00:55 manjaro kernel: udevd[596]: RUN{builtin}: 'uaccess' unknown /usr/lib/udev/rules.d/73-seat-late.rules:15`

[2017-05-08 14:34] Yamakuzure commented on #11
Great! Thank you very much!

I am quite out of the loop these days.
My Laptop is broken down, the hard drive failed. And DELL is too "busy" to send me a replacement in a decent time. *grmpf* I have to wait until Friday.

However, I have patched the udisks2-2.6.4 ebuild and will (at least) upload it to udisks elogind bug in gentoos bugzilla.

[2017-05-08 14:34] #11 closed

[2017-05-09 10:43] abucodonosor commented on #10
@udeved

I use Frugalware Linux .. ( btw are you on irc somwhere on freenode ? )

Have a look at

69-dm-lvm-metad.rules and 63-md-raid-arrays.rules

[2017-05-11 15:42] Yamakuzure commented on #10
@abucodonosor I can reproduce this with the short "udevadm test <foo>" example.
Interesting.

I'll see what I can get from these links. If UACCESS needs some systemd-only helper, then it is unneeded anyway.

From a first glance it seems, that you would not get this error with systemd-udev, but only with eudev, right? If this is the case, then it _seems_ to me, that eudev needs an update.

[2017-05-11 18:48] abucodonosor commented on #10
@Yamakuzure

You can reproduce the issue with systemd-udev too when you compile the whole thing with

--disable-acl .. which is the problem here.

upstream, they have some defines for acl/no-acl and based on that udevd gets 'builtin uaccess' or not.

https://github.com/systemd/systemd/blob/master/src/udev/udev-builtin.c#L45

for eudev one would need to get the *uaccess* code in  and then you need

[2017-05-12 11:38] Yamakuzure commented on #10
Hmm... I have just seen this:

https://github.com/systemd/systemd/blob/master/src/udev/udev-builtin-uaccess.c#L40

I I am not entirely wrong, it means, that UACCESS isn't needed for anything unless systemd runs the show.
So there are two fixes for the problem:

1. Right now ignore the error, it is harmless
2. I will, once my laptop is up and running again, delete the offending line from 73-seat-la

[2017-05-12 11:48] abucodonosor commented on #10
they check there for  .. if (!logind_running()) .. well yes the comment tells systemd since they won't care
about any other forks of logind ..

since I didn't  really looked what parts of logind && systemd elogin is really using I don't know you need
uaccess part or not..

however if not you may want remove all ACL code && rules since they do nothing then

[2017-05-12 12:35] udeved commented on #10
Thought it would be good idea to open an issue on eudev, so this can be cooperatively tackled perhaps. :)

[2017-05-12 14:52] Yamakuzure commented on #10
@udeved : If you hadn't done that, I would have. ;-)

The UACCESS line in the rules file should only be there if --enable-acl was set. Actually supporting it is the task of whoever sets up the device.

So an update to eudev would be nice.

[2017-05-17 14:59] udeved opened #13 "suspend broken in 228.1"
The 228.1 update broke suspend.
This results in the box trying to wake up, but immediately falling in sleep again.

Currently looking through log file, but I haven't found any error logged so far.

[2017-05-17 15:07] udeved commented on #13
Sorry, I just realized new releases.

I assume [this](https://github.com/elogind/elogind/commit/0c062994071d861a12181555617f83c32eb27a14) commit fixes the issue.

[2017-05-18 08:26] Yamakuzure commented on #13
Yep, the issue is already fixed.
... You should have seen my face when I wanted to wake up my laptop and got that damn suspension loop. ;-) (Well, I was sitting on public transport. Not nice...)

[2017-05-18 08:26] #13 closed

[2017-05-18 09:36] udeved commented on #13
I actually still had trouble to wake up the box with 228.3, but, I think I forgot to reboot or restart elogind before it went to sleep, still having 228.1 started.

[2017-05-18 10:16] Yamakuzure commented on #13
A `sudo /etc/init.d/elogind restart` should be enough. ;-)

[2017-05-18 15:49] HubAl49 opened #14 "Hibernation ignores 'HibernateMode' parameter in logind.conf"
elogind 227.2

'loginctl hibernate' always sets the hibernation mode to 'platform' even if 'HibernateMode=shutdown' is specified in /etc/elogind/logind.conf.
This is confirmed by the 'dmsg' line 'PM: Hibernation mode set to 'platform'.

Could I also make the following enhancement request, please?
    Add 'reboot' as a valid value for 'HibernateMode'.

[2017-05-19 06:37] Yamakuzure commented on #14
I'll look into it. I am wondering, why would you do that instead of just using “loginctl shutdown“?
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit GMX Mail gesendet.Am 18.05.17, 17:49, HubAl49 <notifications@github.com> schrieb:
elogind 227.2
'loginctl hibernate' always sets the hibernation mode to 'platform' even if 'HibernateMode=shutdown' is specified in /etc/elogind/logind.conf.

[2017-05-19 10:30] HubAl49 commented on #14
On Thu, 18 May 2017 23:37:24 -0700
Sven Eden <notifications@github.com> wrote:

Hi Sven,

Thanks for the email.

Well ...

According to 'loginctl --help', the only valid 'system' options are
poweroff, reboot, suspend, hibernate, hybrid-sleep, so I guess you mean
'loginctl poweroff' ('loginctl shutdown' is rejected).

Anyway, 'loginctl poweroff' means a full reboot when you switch on
again.

'login

[2017-05-19 11:25] Yamakuzure commented on #14
My fault. It is `loginctl poweroff` of cause.

My question really was:

Why would someone poweroff their system with `loginctl hibernate` instead of `loginctl poweroff`?

btw: `hibernate` saves the state on disk, not needing any electricity/battery at all, while `suspend` shuts down the machine, storing the session in RAM, which of course needs (very little) power to be kept alive.

I have found o

[2017-05-19 15:54] HubAl49 commented on #14
On Fri, 19 May 2017 04:25:45 -0700
Sven Eden <notifications@github.com> wrote:

'loginctl hibernate' shutsdown the system, but as the session is saved
on disk, the restart (when you do it the next day, say) is fairly
quick.

'loginctl poweroff' also shutsdown the system, but on restart, the
machine does a full reboot which is a lot slower.

Anyway, both pm-utils and (I think) systemd have the opti

[2017-05-19 16:07] Yamakuzure commented on #14
Nothing prevents you von setting “reboot“. The config only shows the defaults. ;-)
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit GMX Mail gesendet.Am 19.05.17, 17:54, HubAl49 <notifications@github.com> schrieb:
On Fri, 19 May 2017 04:25:45 -0700
Sven Eden <notifications@github.com> wrote:

'loginctl hibernate' shutsdown the system, but as the session is saved
on disk, the restart (w

[2017-05-22 07:24] Yamakuzure commented on #14
To clarify this:

#HibernateMode=platform shutdown

means, that "loginctl hibernate" first tries "platform", and if this fails it tries "shutdown". This is set by default.
The verb "reboot" is quite contrary to "hibernate", so it is not set as a default.
However, you can, of course, set everything you have in /sys/power/disk here, in any order you like.

The idea of the default is, that if you wan

[2017-05-22 17:04] HubAl49 commented on #14
I'm pleased to report that both "HibernateMode=shutdown" and "HibernateMode=reboot" now work correctly. Many thanks for fixing it.
(I actually tested with your later commit 4ca1b42 - hope that is OK).

When you get the time, it might be useful to update the relevant man page(s) with info about the various configurations options for hibernate, suspend etc.

Should I now close this issue?

[2017-05-23 09:21] Yamakuzure commented on #14
@HubAl49 The man pages got updated in 5124757 :-)

Thank you for your report!

[2017-05-23 09:21] #14 closed

[2017-06-15 07:58] shiba89 opened #17 "elogind >= 228 fails to detect resume from suspend"
It seems that elogind => 228 doesn't trigger resume from suspend.

Syslog with elogind-229 (.3 or .4, can't remember the exact version)
https://forums.gentoo.org/viewtopic-p-8074024.html#8074024

Syslog with elogind-227.4
https://forums.gentoo.org/viewtopic-p-8078942.html#8078942

Let me know if you need more info.

[2017-06-15 09:05] Yamakuzure commented on #17
I've noticed, just this morning.

Currently I am working on integrating some updates from systemd-stable into v229-stable. Once that is finished, I'll check why NetworkManager doesn't get a wakup call any more.

[2017-06-15 09:42] shiba89 commented on #17
What I noticed from syslog is that right after system resume,
`elogind[4701]: System resumed.`
is missing with elogind>=228.

I think all the services relying on elogind to know the system state get confused. Other than NetworkManager, I noticed GNOME stops polling the battery for its current charge level.

[2017-06-15 13:33] Yamakuzure commented on #17
At least that is gone with dev_v230: (from my /var/log/messages)

[code]

What is missing in my logs is, that NetworkManager gets the hint about ending sleep state.

I _think_ I know why. There was a problem with suspend loops, and I guess my fix back then effectively stopped notification of suspended processes.

Well, I am almost done with the current upstream updates. I'll fix that before I rele

[2017-06-15 14:54] Yamakuzure commented on #17
Possibly fixed in dbcd1a8

[2017-06-16 08:18] Yamakuzure commented on #17
Fixed in v229.6 release.

[2017-06-16 08:18] #17 closed

[2017-06-16 08:41] shiba89 commented on #17
I just finished testing 229.5 with your commit and it works fine. I assume 229.6 works fine too, thank you :D

[2017-06-16 10:14] udeved commented on #17
I can also confirm the fix is working with 229.6, NM wifi wakes up again.

[2017-06-16 12:48] Yamakuzure commented on #17
For the upcoming 231 Release I am reworking a lot of code, so that patching in upstream commits is less likely to overwrite elogind specific fixes Hopefully it'll help that I won't drop a clanger like that again ... ;-)

[2017-06-28 15:08] holgersson32644 opened #18 "crash on startup: cannot determine cgroup + oom with SELinux; ⇒ initrd issue"
Hi, I tried to migrate a Gentoo x86-64 testing system from systemd-233 to OpenRC + elogind-229.6 with SELinux.

While booting, elogind crashes with the following message (dmesg):
`[   38.055321] elogind[2231]: Cannot determine cgroup we are running in: No data available`
`[   38.055332] elogind[2231]: Out of memory.`
There is no real OOM (i.e. nothing in dmesg about that), SELinux is in permissive

[2017-06-28 15:34] Yamakuzure commented on #18
What is the output of
[code]
?

[2017-06-28 17:04] holgersson32644 commented on #18
It looks as elogind starts if I use an dracut-044 initramfs with systemd support but crashes if I don’t. Tested each twice.
The output you asked for
- with systemd

- without systemd

[2017-06-28 20:00] Yamakuzure commented on #18
Ok.
The problem is, that elogind has to determine the cgroup controller at configure time.

You built elogind before booting the system with openrc, so configure determined, that systemd is running the Show.

Re-emerge elogind with openrc having started the system, and it should just work.

[2017-06-28 21:56] holgersson32644 commented on #18
This works. However, maybe you could add this to you docs. I’ll inform the gentoo-kde project.
Thanks for your help (including fast responses)!

[2017-06-28 21:56] #18 closed

[2017-06-29 08:21] Yamakuzure commented on #18
@holgersson32644 Your are right, that point should definitely be a part of the README. And it should go to the gentoo wiki.

Normally a system is installed and then elogind added. Switching from systemd to openrc+elogind is kind of gentoo specific.

Generally the cgroup controller is hard coded to name=systemd in systemd-login (surprise!). So I added the detection code to configure, because that h

[2017-06-29 11:38] Yamakuzure commented on #18
@holgersson32644 Please see daa9b80 - the new option is there, and I added information about it to the README.

[2017-06-29 12:02] holgersson32644 commented on #18
@Yamakuzure: Thanks - both in my and @kensington’s name ;-)

[2017-06-30 10:11] udeved opened #20 "polkit with 231.3 broke"
Hi Sven,

Version 231.3 breaks polkit support.
I'll update with the exact log message when I am at home.

It states something like "Could not open new session, already in session" when polkit agent is requested.
eg trying to write a file in /etc with plasma that would request polkit auth.

It works with 229.6, just checked again on laptop.

[2017-06-30 10:15] Yamakuzure commented on #20
The "Could not open new session, already in session" is always geenrated when you do something like opening a console and the su'ing to root. Nothing to worry about.

From my log: (One su to root)

[code]

It is like that for ages, not since 231.3.

Or, and that is why I am not closing this issue, those are two completely different issues?

[2017-06-30 10:25] udeved commented on #20
These may be two different issues, I just noticed that message in the logs I have not noticed before, and indeed, I can't find the message in logs on 229.6 laptop.

I was initially thinking it was an error on my behalf, since I reorganized some depends for elogind, but that wasn't the problem.

For example, opening /etc/environment as user and trying to write changes works on 229.6
`
Jun 30 12:22:

[2017-06-30 10:26] udeved commented on #20
I might add, the error is reproducible on gentoo as well, I updated last night my gentoo, but I get the same error as on arch based system with polkit auth.

[2017-06-30 12:13] Yamakuzure commented on #20
Could you please post what you do exactly? `/etc/environment` is root:root 644 on my system, so, of course, I can not edit it as a user?

I need to reproduce this exactly, so I know where to single-step what.

[2017-06-30 12:51] Yamakuzure commented on #20
Okay, those are definitely two issues.

"__Cannot create session__" is issued, when the user already is in a session, like when su'ing.
-> harmless, pam_elogind returns a success when this happens. The message is just an information.

"__Failed to create session__" is a real error, elogind couldn't successfully perform a CreateSession action.
I'll try to find out what this can be caused by.

[2017-06-30 12:51] udeved commented on #20
At least on plasma, if you open any root owned file and try to safe it, it will pop up a polkit auth box.
This is a rather new feature in plasma, I suppose to drop kdesu.
The same mechanism in plasma system setting eg for the time module, or kwallet. It should ask for polkit auth, but it doesn't with 231.3.

[2017-06-30 12:54] Yamakuzure commented on #20
I have the latest plasma, and never had such a popup...
But I did try out to change SDDM settings, and systemsettings5 didn't ask for a password.

Smells like there will be a 231.4 soon... :-/

[2017-06-30 12:56] udeved commented on #20
You should get a popup with 229.6 on plasma when trying to edit root owned file.
Iirc, this was introduced in plasma 5.10, I can confirm it to be working with elogind 229.6

[2017-06-30 16:31] Yamakuzure commented on #20
Hmm... I get such a popup when I try to change Wifi settings in NetworkManager. So I guess NM and Plasma do it differently.
Well, NM does include systemd/sd-login.h and uses its API directly, while Plasma connects to org.freedesktop.login1.
So the issue must originate from the dbus interface, as direct API calls obviously work.

  (If it isn't elogind that calls polkitd on behalf of NM and Plasma,

[2017-06-30 16:43] udeved commented on #20
After being at home now, I had another look at the logs.

The failing polkit auth doesn't produce any error log message.

[code]

I just found this one upon booting up the system:

`kernel: elogind[1780]: Failed to register Released match on system bus: Invalid argument`

I guess its unrelated to the pk issue.

[2017-06-30 17:37] udeved commented on #20
I downgraded elogind to 229.6.
The polkit issue is not present in 229.6. Just wanted to make sure again.

I have got also a report, that the pk issue is not plasma specific, a report said, cinnamon also has broke pk auth with 231.3.

The expected result on plasma when trying to safe a root owned file looks like this.

[![elogind-229.6.png](https://s14.postimg.org/q2z0gvk69/elogind-229.6.png)](http

[2017-07-01 09:55] kensington commented on #20
I've also run into an issue where NetworkManager is now prompting for the root password after boot. Investigating but haven't found anything yet - let me know if I provide some particular information / debugging to help.

[2017-07-03 08:05] Yamakuzure commented on #20
That is very valuable information, from both of you, thank you very much.

I have two leads I am following. Hopefully I get this fixed, because the alternative is to bisect against 229.6 (*shiver*).

However, thanks to git this will be solved eventually.

[2017-07-03 13:07] Yamakuzure commented on #20
Strange...

The questioning of the root password if you want to write to a root-owned file via kate is defined by
`/usr/share/polkit-1/actions/org.kde.ktexteditor.katetextbuffer.policy`

And all it say is:
[code]

No login1 service is implied.
So something is making kate or Plasma believe, that it does not even need to ask for the root password. Vey strange indeed...

[2017-07-03 13:27] Yamakuzure commented on #20
Found it!

I accidently removed the early user-file-save, which is needed so login1 consumers actually know that the user is tracked by elogind.

This issue is fixed in the v231.4 release. (https://github.com/elogind/elogind/releases/tag/v231.4)

(But please test! Just because everything is working for me again, doesn't mean that it is working for everybody. ;-) )

[2017-07-03 13:27] #20 closed

[2017-07-03 13:28] kensington commented on #20
Thanks! I'm testing now.

[2017-07-03 13:50] udeved commented on #20
Great, will test too.

[2017-07-03 14:13] Yamakuzure commented on #20
@kensington @udeved *yay* - Hopefully the issue is fixed for both of you, too. An ebuild bump should be done quickly, then.

[2017-07-04 13:42] kensington commented on #20
The issues I was seeing with .3 are all gone in .4, thanks!

[2017-07-10 15:07] udeved opened #23 "poweroff/halt calls"
Hi Sven,

I bring a new issue with me.

As pointed out on the openrc issue, elogind has a minor problem with the new openrc-init feature on shutdown to poweroff the box.

We found sort of hack in openrc, but I think it is elogind specific.

https://github.com/OpenRC/openrc/issues/146

Could you have a look into it?

[2017-07-11 05:21] montagdude opened #24 "sd_pid_get_session returns ENOENT"
This is quite likely a configuration issue on my part, but if you could help me understand what I'm doing wrong, I would appreciate it. I'm building GNOME Display Manager on Slackware linking against elogind. I have built it with no problems, but it fails to run due to the call to sd_pid_get_session returning ENOENT. I have dug down far enough to understand (I think, anyway) that it is because the

[2017-07-14 07:23] montagdude commented on #24
Going to close this for now. I had accidentally installed pam_elogind.so in the wrong directory. After fixing that, the sd_pid_get_session error goes away, though I still have other issues getting GDM working...

[2017-07-14 07:23] #24 closed

[2017-07-16 15:35] Yamakuzure commented on #23
I could, and yes, I will.

First, I will try to shutdown my machine. I am usingopenrc-0.27.2 with elogind-232.9999 (which is the 232 dev branch at the moment)

[2017-07-16 15:45] Yamakuzure commented on #23
I am sorry, but shutting down the system from Plasma just works here...

However, I will watch the other thread and see what I can make of it.

[2017-07-17 06:44] Yamakuzure commented on #23
I just wanted to clarify how elogind/systemd do that shutdown/reboot thing:

configure uses AC_PATH_PROG to get the paths to `halt` and `reboot`, which are then hard coded into the library using defines. So if elogind uses halt with parameters, then AC_PATH_PROG would have decided that it needs them. I have no idea whether this is actually possible, but the result is the same: Neither elogind nor

[2017-07-17 06:44] #23 closed

[2017-08-05 18:04] glensc opened #25 "activation question"
i don't understand how is `elogind` daemon activated.

[src/login/org.freedesktop.login1.service:10](https://github.com/elogind/elogind/blob/9be300d25d3ad458d5af612dd931da3377d3e8d1/src/login/org.freedesktop.login1.service#L10) specifies `Exec=/bin/false` because likely in upstream (systemd) it is activated via `SystemdService=dbus-org.freedesktop.login1.service` line.

but elogind is supposed to

[2017-08-06 02:16] kensington commented on #25
In the past, some downstreams patched this file to execute elogind. Now, I believe the recommended method of activation is at boot using an init script.

[2017-08-06 07:29] glensc commented on #25
ok, i'll patch the `.service` file. it's more cleaner than init script. if the process crashes, dbus will start it again. and it's not started if not really needed.

[2017-08-07 09:46] Yamakuzure commented on #25
@glensc That is a very bad idea to do.

The service file is **only** meant to tell dbus, that that service is available. Both systemd and elogind have "__Exec=/bin/false__" in it, because dbus **must not** start a session tracker.

Said tracker is a daemon, and __not__ a one-shot-tool, dbus can start on request and expect it to end.

Upon the next request, dbus will try to start it again, elogind

[2017-08-08 06:37] glensc commented on #25
@Yamakuzure yes, i made too much assumptions not knowing what the `.service` lines do or behave. thanks for explanation.

aside, why the service is told to fail? i.e `Exec=/bin/false` not `Exec=/bin/true`. and why is the `.service` file needed at all for dbus? dbus can't register names if there's no `.service` file? all the rest of the file seems pointless, including `user=root` things.

[2017-08-08 07:30] Yamakuzure commented on #25
Well, the whole idea behind the `dbus` `.service` files was, that a system, where every service is started on demand, would not need an init system. (See: [D-BUS System Activation](https://dbus.freedesktop.org/doc/system-activation.txt))

Actually you are right in one point: It should be possible to to start `elogind` on request using a proper 'Exec' line, but I never got it to work. `dbus` would

[2017-08-08 15:23] glensc commented on #25
several issues came up:
- `elogind` not installed to sbin but to libexec, need to dynamically replace path to elogind in initscript (libexecdir is arch specific)
- `elogind` does not fork itself, need to handle it's daemonizing by init script, which is known not to be reliable, or use some external tools which is not portable. also need to hack solution to figure out pidfile in initscript. also no

[2017-08-08 15:45] glensc commented on #25
as for stopping. i don't see scenario where you need to stop it (1). it should be running all the time. altho it could exit silently if last seat is gone plus some timeout. then it could be activated again when first seat is needed.

(1) excluding system shutdown, the all procs are killed on shutdown anyway, and elogind should be able to survive that. there's no state to preserve for next boot.

[2017-08-08 19:52] Yamakuzure commented on #25
That is, because `elogind` was always installed in `pkglibexecdir` (`/usr/lib/libexec/elogind`) and not in `rootlibexecdir` (`/lib/elogind`) like `systemd` does install `systemd-login`.
See: https://github.com/wingo/elogind/blob/master/Makefile.am#L795

But I agree that it is time to fully mirror the `systemd` install layout, so such issues can be prevented in the future.

The gentoo init file is

[2017-08-09 05:26] Yamakuzure commented on #25
@glensc scratch that adaption of the install layout. I totally forgot, that elogind has a --with-rootlibexecdir configure option.

[2017-08-13 12:00] Yamakuzure commented on #25
@glensc The more I think about this, the more I am convinced, that there is no reason to change anything with the default behavior.

However, I will change two things:

1. The installation defaults will be changed to mirror the systemd build defaults. (`PREFIX/lib/elogind`)
2. elogind will get an option to fork into background.

The latter will provide more choice, so elogind is not depending on a

[2017-08-13 12:28] glensc commented on #25
besides fork, it should daemonize too (close fd's, double fork) and write pidfile.

[2017-08-13 13:46] glensc opened #26 "mate-session session_path"
noticed this in my logs:

[code]

probably mate-session part needs to be fixed, but adding here to track the changes needed.

[2017-08-16 08:23] Yamakuzure commented on #26
That code is from mate-session, not elogind.
Such an issue would be better reported with the Mate project, wouldn't it?

[2017-08-16 08:23] #26 closed

[2017-08-16 08:31] Yamakuzure commented on #25
The `systemd` devs have decided to convert `systemd` to use the meson build system with ninja. I have updated `elogind` in master, too.

This lead to:

1. The installation defaults are adapted to upstream, `rootlibexecdir` defaults to `<prefix>/lib/libexec`.

This is weird, after they changed that in the past to be `<prefix>/lib/systemd` ... But here you go.
However, I have, like with the autotool

[2017-08-17 17:31] glensc commented on #26
yes. ticket here was created so could easily find that ticket once it has been made (haven't got time to do that myself yet)

[2017-08-18 05:59] glensc commented on #26
btw, are you sure it's mate-session side problem?

the assertion comes from here, where it can't find session path:

[mate-session/gsm-systemd.c:567](https://github.com/mate-desktop/mate-session-manager/blob/v1.18.1/mate-session/gsm-systemd.c#L567)

[2017-08-18 11:50] Yamakuzure commented on #26
Here they call GetSession via dbus:

[mate-session/gsm-systemd.c#L505](https://github.com/mate-desktop/mate-session-manager/blob/v1.18.1/mate-session/gsm-systemd.c#L505)

And here, loginctl calls GetSession via dbus:

[src/login/loginctl.c#L106](https://github.com/elogind/elogind/blob/master/src/login/loginctl.c#L106)

It works with loginctl, so it should work for anybody using the proper dbus cal

[2017-08-20 16:12] HubAl49 commented on #14
Problem was fixed up until (and including) v229.3. At some point after this, it re-appeared, and is still present in v234.2.
Please re-apply the fix.

[2017-08-28 10:52] HubAl49 opened #27 "Hibernation ignores 'HibernateMode' parameter in logind.conf (2)"
See closed issue #14

Problem was fixed up until (and including) v229.3. At some point after this, it re-appeared, and is still present in v234.2.
Please re-apply the fix.

[2017-08-28 10:57] Yamakuzure commented on #27
Weird... The fix is quite outside of systemd-login, so the updates shouldn't have had an impact at all on that.

I'll have a look and report back once I know more.

[2017-08-28 11:10] Yamakuzure commented on #27
Ah, I found the issue... Some restructuring brought the fixed default setting of those values back in front of the loading of the configuration file.

I'll have that fixed by tomorrow.

[2017-08-29 14:41] Yamakuzure commented on #27
@HubAl49 The issue is fixed in git. I'll apply pending updates from upstream and prepare new releases for the stable branches. With any luck those releases will be out tomorrow.

[2017-08-29 14:45] Yamakuzure commented on #25
@glensc I have fixed issue 27 and will prepare new releases of all stable branches that got a) fixed and/or b) have updates from upstream, soon.

But before those get releases, I'll backport and test the double fork option.

If that goes well, it'll be on the users discretion to set the Exec= and let dbus start elogind in daemon mode when needed.

Before that is possible, I'll add a check that no

[2017-08-29 15:31] HubAl49 commented on #27
Many thanks for fixing this so promptly.

I'll check it out once the new release works its way through the system to my distribution (Manjaro OpenRC (now Artix)).

[2017-08-30 13:31] Yamakuzure commented on #25
It is currently a bit weird. I had some issues with the daemonizing, but fixed that.

However, before I backport that to the stable branches, I want to make sure, that the dbus activation doesn't do anything bad.

So I fear the new releases won't be out until Friday.

[2017-08-31 08:26] Gottox opened #28 "--libexecdir= is ignored"
When I'm configuring elogind with `--libexecdir=/usr/libexec/elogind`, all executables that were previously installed there are installed in /usr/lib/libexec now.

In 233.4 - the version currently used in void - `--libexecdir` wasn't needed as the binaries were installed to the path mentioned above per default.

[2017-08-31 09:26] Yamakuzure commented on #25
They have fixed their meson.build file:
`rootlibexecdir` again defaults to `<prefix>/lib/systemd` and systemd-login is installed there.

So with the upcoming release (all versions) I will change the default in elogind to `<prefix>/lib/elogind`.

[2017-08-31 09:27] Yamakuzure commented on #28
The configure option is: `--rootlibexecdir`, not `--libexecdir`.

I know that `configure --help` lists `--libexecdir=DIR`, but it is a default option that all configure scripts have. `Makefile.am` does not listen to it.

systemd does not let you change the `rootlibexecdir`, that is an extra feature exclusive for elogind.
The default value is `${libdir}/libexec` in elogind, so `/usr/lib/libexec` is

[2017-08-31 09:27] #28 closed

[2017-09-01 07:51] Yamakuzure commented on #25
@glensc : I have just tested `master` with elogind being activated by `Exec=/lib64/elogind/elogind --daemon` and there is good, but also bad news.

The good news is, that elogind is started via dbus this way.
The bad news is, that it is not started early enough.

I am using SDDM, and its helper actually logs in and is visible via loginctl as long as it is running. This is no longer the case when e

[2017-09-01 07:54] Yamakuzure commented on #27
@HubAl49 : I have to close issue #25 first, before I am releasing new versions, but it can't be long now. I hope I get the last bits sorted out today.

[2017-09-05 08:18] Yamakuzure commented on #10
Anthony (aka "blueness") eventually answered @ https://github.com/gentoo/eudev/issues/145#issuecomment-326821359 :

**yay**!

[2017-09-05 08:37] Yamakuzure commented on #25
@glensc Success! My system is now running fine with `/lib64/elogind/elogind --daemon` being started by dbus. No init script activation. 8^D

I have already backported the necessary changes to the 229 version. 231, 232, 233 and 234 will be easier. 229 was difficult, because there has been a lot of shifting around of code between 229 and 231.

However, I'll need another few days, because every versi

[2017-09-06 22:12] glensc commented on #25
i'm happy that don't have to craft sysv-init script for this! :) g

[2017-09-08 08:30] Yamakuzure commented on #25
Fixed in all new releases.

I have tested them all, and elogind starts nicely and in-time without an init script.

Thank you very much for your input! I really appreciate your help Elan!

[2017-09-08 08:30] #25 closed

[2017-09-08 08:30] Yamakuzure commented on #27
Fixed in all current releases.

Thank you very much for testing and reporting!

[2017-09-08 08:30] #27 closed

[2017-09-08 10:40] glensc commented on #25
no, @Yamakuzure, the pleasure is mine! :)

[2017-09-19 23:59] Dudemanguy911 opened #30 "Missing functions in sd-bus"
While attempting to write elogind support for a Wayland compositor here, SirCmpwn/wlroots#146, I noticed that `sd_bus_get_fd` is not actually supported in elogind and thus the build will fail. It appears to be commented out in the [header](https://github.com/elogind/elogind/blob/master/src/systemd/sd-bus.h) file for some reason. Could this be implemented?

Also on a different, but related note, a

[2017-09-20 08:42] Yamakuzure commented on #30
I can add API functions that do not rely on internal systemd stuff like handling units.

sd_bus_get_fd() would be such a function that can be added.
Could you please look through [the symbols file](https://github.com/elogind/elogind/blob/master/src/libelogind/libelogind.sym) whether you, at a glance, can make out more functions that should be supported? (*)

Further, the include files that get ins

[2017-09-20 09:28] Yamakuzure commented on #30
@Dudemanguy911 The more I look at the missing headers in the pre-v235 releases, the more I think that I should enable all API functions that can be used without systemd running the show...

Please give me a day or two, and I'll push out new releases with:

 * Missing headers added to the installation
 * Supportable API functions being re-enabled.

[2017-09-20 14:23] Dudemanguy911 commented on #30
Thank you very much. I'm not very familiar with the API here, so I don't really think I can give much meaningful input on what functions elogind should or shouldn't support.

[2017-09-22 10:58] Yamakuzure commented on #30
v229.9 is out. Here the most work was involved. The later versions should be easier, as I only have to handle API-functions, that got added. (if any)

[2017-09-22 16:49] Dudemanguy911 commented on #30
Thanks for the update. I did some testing and all the sd-bus functions I want are included. This is really totally a separate issue, but I should note that [xlocale.h](https://sourceware.org/glibc/wiki/Release/2.26#Removal_of_.27xlocale.h.27) was removed from glibc, so I had to comment out the declaration in [parse-util.c](https://github.com/elogind/elogind/blob/v232-stable/src/basic/parse-util.c)

[2017-09-23 11:56] Yamakuzure commented on #30
Thanks for testing!
The removal of the xlocale.h must be something recent. I only had to mask it to be able to build against musl-libc.

I'll check whether it is still needed for older glibc in the next update cycle. But I had expected upstream to remove it when it's no longer needed...
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit GMX Mail gesendet.Am 23.09.17, 13:52, Sven Eden <sv

[2017-09-25 11:36] Yamakuzure commented on #30
@Dudemanguy911 I am finished with the updated releases up to version 234.4 - the latest.

As with xlocale.h, it was removed in v234.
I have it on my list and will check it on the next update cycle when upstream backports security patches.

[2017-09-25 11:36] #30 closed

[2017-09-25 15:08] udeved opened #31 "elogind and cgroups2"
Hi Sven,

this is rather a question than issue.
Since openrc gained cgroups2 support, I was wondering if elogind has proper cgroups2 support.
Currently, elogind is compiled with legacy cgroups support, and iirc, this is default.
What would be your recommendation to use? Could you eventually share your thoughts on that?

[2017-09-25 19:18] Yamakuzure commented on #31
elogind currently supports legacy cgroups only. I have masked all hierarchical cgroups support, because you'd need systemd to run the show to get that.
But if openrc supports cgroups2, too, now, then I reckon it is time to teach elogind to make good use of them.
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit GMX Mail gesendet.Am 25.09.17, 17:08, artoo <notifications@github.com> schri

[2017-09-29 12:58] wingo opened #32 "transfer wingo/elogind"
Hi,

First of all, thank you @Yamakuzure for doing such a great job with elogind!!!  Guix upgrades regularly now to the latest releases and everything just works.  Thanks for walking that delicate balancing act between change and stability -- it is much appreciated by all of your users, myself include!

I was looking and it still marks this repo as being a fork of wingo/elogind.  I want to try to

[2017-09-29 19:21] Yamakuzure commented on #32
Hi Andy,

thank you very much!
I deeply appreciate all the praise I can get :-D

But without you creating elogind in the first place, nothing would ever have been done on my side. ;-) So I thank you for your pioneering!

About the transfer, I think that it is not possible. At least
https://help.github.com/articles/about-repository-transfers/
says:

And https://github.com/blog/876-repo-transfers sa

[2017-10-10 13:16] Gottox commented on #32
Have you tried to get in touch with the github support? It sounds like something that can still be done on the backend.

[2017-10-22 21:09] Yamakuzure commented on #32
I haven't had the time, yet, due to a new job. But I'll tackle that one soon. Hopefully tomorrow.

[2017-10-26 17:05] shevegen opened #33 "Please include less opinions into the main README"
elogind main README includes:

Could this part be removed and/or changed?

The thing is - I do not think that elogind should attempt to "lecture" people about systemd
nor should it attempt to "explain" what systemd is or is not about or whether systemd
developers are heroes for mankind or not. It just does not belong here. People should
be free to reach any conclusion here what fits to THEIR parti

[2017-10-29 17:28] Yamakuzure commented on #33
I do not use systemd on any machine, neither at work, nor at home. (Well, as long as I can help it) I have many reasons for that.

However, elogind is systemd-login. A part of systemd, that became more and more important for various other projects, ideas, possibilities, like "Plasma on Wayland".

Your quote is sounding much more like a lecture, than it is, because you ripped it out of context. I t

[2017-10-29 20:27] CameronNemo commented on #33
I think the last line of that paragraph is a concise and accurate summary:

everyone deserves to run it if they like, even if they use a different
PID 1.

I would suggest centering the statement around that. It would certainly attract less flame and trolls, with a bonus of getting to the more relevant parts of the README first.

[2017-11-20 08:21] Yamakuzure commented on #32
Good news! I eventually came around to writing to github support, and they can help us.

@wingo They need your authorization, so I'll put you in the recipients list of my e-mail reply to github support.

[2017-11-20 11:47] Yamakuzure commented on #32
Done XD

[2017-11-20 11:47] #32 closed

[2017-11-20 19:40] somenxavier commented on #10
same happens to me in Artix.

[2017-11-20 19:48] somenxavier commented on #10
Strange if I have a root logged in ttyX, then I have no error!

[2017-11-21 07:33] Yamakuzure commented on #10
That error should only be printed on boot, not on every user login.

[2017-11-21 07:36] Yamakuzure commented on #31
Just a little update: I am still working on pulling up to v235. The systemd team has put in a lot of work. I am already ahead of master by 90 commits, and have ~60 patches to go.
They seem to have put in a lot effort into cleaning things up - which means a lot of code gets shifted around.

I hope to be able to push to master by the end of this week. Once a potential v235 elogind is in master, I'll

[2017-12-09 11:00] Yamakuzure commented on #31
Feedback: It is done. I have pushed all updates up to systemd-235 today. It took a lot longer than anticipated, mainly due to the switch to the meson+ninja build system. I had to rewrite one of my core tools from scratch for that. However, migrating commits from systemd upstream to elogind is running a lot easier now, so the effort was worth it.

Using the elogind-9999 ebuild I will test it the ne

[2017-12-09 11:21] kensington commented on #31
Can't wait to test!

I'm curious about what tools you're using for this lately, is it on github?

[2017-12-09 11:22] udeved commented on #31
Great news. Your work is highly appreciated.

[2017-12-28 11:34] udeved opened #34 "systemd option --keeptty"
Hi Sven,

I got a little question regarding elogind and xorg integration.

If I compile xorg with systemd-logind enabled, I get this message logged.

[code]

Is there a way to teach elogind a -keeptty? Afaik, elogind doesn't manage tty?

[2017-12-28 14:52] Yamakuzure commented on #34
Hi Artoo,

 

there are three things to consider here.

 

First, as you already said, elogind doesn't manage tty.

 

Second, "-keeptty" has to be added to the xserver invocation, and has nothing to do with elogind itself.

So either with

  exec startx -- -keeptty > ~/.xorg.log 2>&1

or by appending -keeptty to your ~/.xserverrc

or by any other means you see fit.

 

And third:

The -keeptty op

[2017-12-28 15:47] udeved commented on #34
Thanks for the explanation.
So I guess easiest is to add this -keeptty in the xdm openrc script to play around with.
What I wondered, in theory, xorg should also start as user, and if -keeptty has something to do with it?

The xdm defaults in openrc(same as gentoo) is that the DM launches at VT7.
I still have a rather strange "problem" with sddm.
If I shutdown or reboot, elogind somehow "hides" al

[2018-01-11 16:22] #34 closed

[2018-01-11 16:24] Yamakuzure commented on #31
@kensington:

Pull the live version. My laptop currently works with openrc having booted cgroups2 only, and elogind-235 built with unified cgroups (aka cgroups2-only) support set. :-D (See https://github.com/elogind/elogind/commit/e68c14bfa4ba10f57e0623f52b793b4583c45128)

I will release the new version tonight. But the ebuilds need some love, so I gues that will requere an additional day or two.

[2018-01-12 07:38] Yamakuzure commented on #34
@udeved I had the "hiding" of the shutdown messages, too. It went away after the last update to sddm, though.

[2018-01-12 08:09] Yamakuzure commented on #31
Note to self: Before I make assumptions when to release what, create a mental todo list, first. I am sorry folks, but I have totally underestimated the amount of work involved to just write the release notes. It'll have to wait until tomorrow, I am afraid... :-(

[2018-01-12 14:37] udeved commented on #34
@Yamakuzure

Hmm, not for me, I haven't had time yet to look closer, but I think it is caused by a wrong FD on shutdown.
Btw, it only occurs for me if openrc uses openrc-init instead of sysvinit.

[2018-01-14 17:14] Yamakuzure commented on #33
Fixed with v235.1 release (other versions will follow soon.)

[2018-01-14 17:14] #33 closed

[2018-01-14 17:16] Yamakuzure commented on #31
Fixed with version 235.1 release.

I'll backport the cgroups2 support, but I don't think it'll make it into all versions.
Does it make sense to support older versions than, let's say, v233?

Cheers and closed.

[2018-01-14 17:16] #31 closed

[2018-01-15 04:18] maxice8 opened #36 "Configure fails if shadow is not installed"
Error

[code]

Relevant Meson log

[code]

/etc/login.defs is provided by shadow

[2018-01-15 08:33] Yamakuzure commented on #34
@udev hmm.. I am using elogind-235 (through seden overlay live ebuild, my new ebuild isn't in the tree, yet) and sysvinit. One of the two must be responsible. If you could test the new version with openrc-init, I'd be grateful to hear of the result!

[2018-01-15 08:35] Yamakuzure commented on #36
@maxice8 Thank you for the information. I think this can be remedied by making the usage of login.defs optional.
In the meantime allow me a question, please: Why would anyone do not use shadow?

[2018-01-15 08:38] Yamakuzure commented on #36
Btw: This is originated from https://github.com/systemd/systemd/blob/aad67b80c5e99f173b5b37f0437bd51c1117e1ab/meson.build#L607
While this issue is relevant for you, you can use the system-uid-max and system-gid-max options to meson to manually set those values. The failing test won't be performed then.

[2018-01-15 08:40] maxice8 commented on #36
i believe one can define with meson.

i think everyone does but Void Linux packages in a container (xbps-src) so that stuff installed on the maintainer's system doesn't affect the packages for the distro and provides a unified environment that is sure to work with the buildbots for binary distribution.

[2018-01-15 09:33] maxice8 opened #37 "test-login fail on Void Linux x86_64"
Errors

[code]

[2018-01-15 14:11] cimarronline opened #38 "elogind 235.1 crashing with openrc"
Version 235.1 built fine, with cgroup controller option set as openrc. But I noticed long delays when logging in, and rc-status indicated elogind crashed. In errors.log, several times:
[code]
The default-hierarchy option was set to hybrid (with openrc.conf set to hybrid). I also tried legacy with no improvement.

Also noticed no elogind directory in /sys/fs/cgroup/openrc (as there is with version

[2018-01-15 18:03] udev commented on #34
No offense or anything but I don't care ¯\_(ツ)_/¯

[2018-01-15 18:33] udeved commented on #34
@Yamakuzure

elogind.235.1 is in our testing repos, but I am afraid to report, the new version doesn't solve the particular issue. It might even be some weird interaction between sddm and xorg, and no elogind issue at all?

xorg args:  displayfd 9 seat 0 vt7

elogind runs via dbus activation, no runlevel added with script.

[2018-01-15 19:37] Yamakuzure commented on #38
I am very very sorry!

I thought I had tested everything thoroughly, but a specific situation did not get noticed by myself: When openrc starts elogind, /sys/fs/cgroup/elogind does not exist, yet.

Bug fixed with commit 4635be51e225a814c590e9841682e366baa68006 and v235.2

[2018-01-15 19:37] #38 closed

[2018-01-15 20:07] cimarronline commented on #38
I tried 235.2 but elogind is still crashing for me. Now I get:
[code]
And I still see no elogind directory in /sys/fs/cgroup/openrc (as there is with version 234.4).

Not sure if this is relevant, but I also see this error (appears also with 235.1):
`lightdm[2258]: pam_elogind(lightdm-autologin:session): Failed to create session: Connection timed out`

[2018-01-15 21:47] Yamakuzure commented on #38
That is strange.
I tested the new version by booting twice. Once with "legacy" and once with "hybrid". Both worked flawless.
I used "unified" beforehand, which already worked with 235.1

[2018-01-16 03:25] #36 closed

[2018-01-16 06:12] maxice8 commented on #37
Weird, it doesn't fail if glib-devel is not in the dependencies. but the test still runs.

[2018-01-16 06:35] maxice8 opened #39 "fails to build on Void Linux x86_64-musl"
Relevant part of error log

Full log can be found [here](https://p.iotek.org/a84)

template can be found [here](https://github.com/maxice8/void-packages/blob/1c0fda3cfa5a7dda3a10176506686a43f63f12a5/srcpkgs/elogind/template)

[code]

[2018-01-16 08:28] Yamakuzure commented on #37
This is odd. All it does is to look into /proc/self/cgroup for the controller line. Could you post the content of this node, please?

[2018-01-16 08:35] Yamakuzure commented on #39
But it has been generated, according to your log. Is it really there? And where?

It worked with 235.1, and there has been no changes to the build system towards 235.2 ...

[2018-01-16 08:39] Yamakuzure commented on #34
@udev Sorry, the autocompletion got the better of me. :-/

@udeved I was not aware there was an openrc-init unless you told me. So I have never tested it myself. But I _think_ this has something to do with SDDM.

[2018-01-16 08:41] maxice8 commented on #39
Found it on build/config.h, copying it to src/shared seems to have solved that problem.

Sorry for any misunderstanding, we are updating from 234.x to 235.x , we just update to the latest possible version directly.

[2018-01-16 08:41] maxice8 commented on #39
now that config.h is there we hit a new problem.

[code]

[2018-01-16 08:46] maxice8 commented on #37
Very, i re-added glib-devel to the dependencies ( which was what i removed to magically make the test fix itself ), but now even with it the test passes.

Seems i can't reproduce the failure, i'll close this and re-open in case i can get the test to fail again.

[2018-01-16 08:46] #37 closed

[2018-01-16 11:03] maxice8 opened #40 "test-parse-util.c fails on musl libc systems."
[code]

[2018-01-16 11:04] maxice8 commented on #39
Problems have been solved i will create separate issues for the specific stuff that fails without solution but disabling compilation.

[2018-01-16 11:04] #39 closed

[2018-01-16 11:05] maxice8 opened #41 "test-hexdecoct.c fails to compile on musl systems"
requires strndupa

[code]

But i can't find the correct way to declare it, i tried adding \#include "musl_missing.h" but it leads to

[code]

[2018-01-16 21:29] udev commented on #34
@Yamakuzure no worries. It wouldn't be the first time (or the second, or the third 😂)

[2018-01-19 19:39] yshui opened #43 "ACL is only applied after vt switch"
I have an Yubikey NEO. When inserted, the dev file is owned by root:root, with permission `crw-------`, and no ACL entry present. `udevadm info` shows it has the `uaccess` tag.

If I switched to another vt (Ctrl-Shift-F*) and switch back. The dev file will then gain permission `crw-rw----`, and an ACL entry that gives current user access.

This problem should be reproducible with other devices as

[2018-01-19 19:47] yshui commented on #43
I guess this is actually the expected behavior? Looks like in a systemd setup, this ACL is supposed to be add by udev after the device is connected. This, IMO, is a bad solution, since it adds a dependency from udev to logind.

Since eudev doesn't have that, why don't we do it in elogind? elogind could monitor device ADD events and apply ACL.

[2018-01-20 02:36] CameronNemo commented on #43
An eudev developer mentioned some willingness to add ACL support in September.https://github.com/gentoo/eudev/issues/145

[2018-01-20 10:52] yshui commented on #43
I think it's better to put this in elogind, not eudev

[2018-01-25 07:57] Yamakuzure commented on #43
All udev does is to ask systemd-login for the uid of the current sessions owner. The other parts about uaccess are a bit more.

On VT switch, elogind asks [e]udev for a list of uaccess enabled and activated devices and applies the users ACLs on them.

I haven't looked any further into this, so I do not know how much it would take to monitor device ADD events. If it isn't too difficult, it could be

[2018-01-25 07:58] Yamakuzure commented on #40
I have committed a fix, but have to wait until I am home tonight to push it.

It seems that the strod() variant of musl-libc doesn't heed the actively set locale like glibc's variant does.

[2018-01-25 08:00] Yamakuzure commented on #41
I have committed a fix, but have to wait until I am home tonight to push it.

Adding an #include "musl_missing.h" to test-hexdecoct.c is the way to go. But the strndupa() define inthere uses to generally named variables. I have rewritten the strndupa() define, so its variables shouldn't shadow anything any more.

Actually it was only a matter of time until this shadowing issue would surface...

[2018-01-25 08:03] Yamakuzure commented on #10
In issue #43 the idea arose to let elogind catch device ADD events and then apply the users ACLs on it directly instead of waiting for [e]udev to do it initially. elogind already applies the users ACLs on all uaccess and activated devices on vt switches, so if catching device ADD events isn't too difficult to achieve, two issues can be handled with one update.

[2018-01-25 08:48] Yamakuzure commented on #37
I just had this thought: The test can only succeed if the elogind daemon is running. So it either must have been started, being configured to get started by dbus if it isn't running when a connection to org.freedesktop.login1 is requested.

[2018-01-25 22:07] Yamakuzure commented on #40
@maxice8 Please have a look whether commit 7739c87 fixes this issue.

[2018-01-25 22:08] Yamakuzure commented on #41
@maxice8 Please have a look whether commit 1c1a37c fixes this issue.

[2018-01-27 00:43] maxice8 commented on #40
Yes it works now, thanks.

[2018-01-27 00:43] #40 closed

[2018-01-27 00:43] maxice8 commented on #41
Yes it works now, thanks, imported into https://github.com/voidlinux/void-packages/pull/11109 .

[2018-01-27 00:43] #41 closed

[2018-01-31 11:19] kensington opened #45 "test-login fails in a chroot"
When building elogind in a chroot, test-login failed:
[code]

[2018-01-31 14:31] Yamakuzure commented on #45
@kensington could you please provide the content of /proc/self/cgroup please? Instead of a session id, sd_pid_get_slice() returns "sshd", that's odd...

[2018-02-02 11:58] kensington commented on #45
Here's the contents:
[code]

[2018-02-02 11:58] kensington commented on #45
I note that this only happens in a chroot, it works fine on the host system.

[2018-02-02 21:12] Yamakuzure commented on #45
Ah, okay. I will have to investigate this further. The session belongs to sshd then, and elogind has to follow the hierarchy to find out its session ID.
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit GMX Mail gesendet.Am 02.02.18, 12:58, kensington <notifications@github.com> schrieb:
Here's the contents:
13:name=portage:/
12:pids:/
11:net_prio:/
10:perf_event:/
9:net_cls:/
8:freezer:

[2018-02-05 22:57] Florin65 opened #46 "elogind 235.2 fail to compile with glibc 2.27"
Hi,

Here is the compile log:
++ Mark Compile start  : "elogind" "235.2" "Mon, 05 Feb 2018 22:50:46 +0000"
The Meson build system
Version: 0.44.0
Source dir: /usr/src/elogind-235.2
Build dir: /usr/src/elogind-235.2/build
Build type: native build
Project name: elogind
Native C compiler: gcc (gcc 7.3.0)
Appending CFLAGS from environment: ' -O2 -march=x86-64 -pipe'
Appending LDFLAGS from environment:

[2018-02-09 08:51] perfect7gentleman commented on #46
confirm

[2018-02-13 06:44] Yamakuzure commented on #46
glibc-2.27 is brand new. I'll see what I can do. Please understand that I first look for a fix in yet to migrate systemd commits, as I do not want to divert too far from systemd-login.

[2018-02-13 06:46] perfect7gentleman commented on #46
systemd-236/237 builds fine with glibc-2.27

[2018-02-25 13:10] brothermechanic commented on #46
same for me
https://paste.pound-python.org/show/7uAGPn1ZLuaqlcvihEBr/
https://paste.pound-python.org/show/0YoZD9imjSLKnVnbJeDT/

[2018-03-04 00:06] a17r opened #49 "Package installs empty (bogus) directory"
From build.log, right at the end of install:

[code]

I traced it back to meson.build doing strange things with `systemdstatedir`, which we probably do not need at all?

[2018-03-07 15:54] Yamakuzure commented on #46
@perfect7gentleman : The upgrade to systemd-236 will come soon. However, maybe I can backport glibc-2.27 support...

[2018-03-07 15:56] Yamakuzure commented on #49
@a17r Thanks for the heads up! That directory really looks wrong to me. I will fix this prior the next release. (Which will hopefully be somewhere around the middle of the next week...)

[2018-03-07 16:00] Yamakuzure commented on #10
This issue might be fixed with pull request #47

[2018-03-07 16:43] Yamakuzure commented on #49
_systemdstatedir_ isn't used anywhere and got removed with commit https://github.com/elogind/elogind/commit/1728ddaa8e7fcd05203ba8a21d3bf988b9bd26fa

[2018-03-07 16:43] #49 closed

[2018-03-08 10:55] selflex commented on #46
--- a/meson.build	2018-03-02 19:07:27.075804300 +0100 +++ b/meson.build	2018-03-02 19:17:55.025815868 +0100 @@ -481,7 +481,8 @@  endforeach   foreach ident : [ -        ['memfd_create',      '''#include <sys/memfd.h>'''], +        ['memfd_create',      '''#define _GNU_SOURCE +                                 #include <sys/mman.h>'''],          ['gettid',            '''#include <sys/types.h>'''],

[2018-03-08 11:39] brothermechanic commented on #46
Hey, this is a super cool patch!
it works!
thanks!

[2018-03-08 16:45] Florin65 commented on #46
Thank you selflex.
The patch solve the problem.

[2018-03-09 10:31] Yamakuzure commented on #43
Please check whether this is fixed with the [Version 235.3 Release](https://github.com/elogind/elogind/releases/tag/v235.3).

[2018-03-09 10:32] Yamakuzure commented on #10
Please check whether this is fixed with the [Version 235.3 Release](https://github.com/elogind/elogind/releases/tag/v235.3).

[2018-03-13 13:00] Yamakuzure commented on #46
@selflex Nice! Does elogind still build against the older glibc after applying that patch?

[2018-03-13 15:18] selflex commented on #46
It should build against older glibc versions but I can try building on glibc-2.26 in case it doesn't.

[2018-03-13 15:45] selflex commented on #46
@Yamakuzure I've built elogind successfully with glibc version 2.26 after applying the patch. Keep up the good work!

[2018-03-14 16:59] nnnn20430 opened #50 "loginctl: system commands don't receive reply"
When using system commands like poweroff or reboot loginctl doesn't receive a proper reply.

Example:
[code]

The system reboots without a problem...

elogind: 235.2-3
libelogind: 235.2-3
distro: Parabola
init: OpenRC

[2018-03-15 04:14] yshui commented on #10
@Yamakuzure I can confirm it works for me.

[2018-03-17 16:48] poyraz76 commented on #46
A suitable patch in glibc 2.27

[2018-03-20 20:56] Gottox opened #51 "elogind doesn't respond to lid events with eudev-3.2.5"
The current version of elogind is unable to respond to lid open/close events with eudev-3.2.5.

systemd-udev marks device with `ENV{ID_INPUT_SWITCH}=1` and `ENV{ID_INPUT_KEY}=1`. systemd-logind uses these variables to identify switches and keys that are used for logind.

elogind relies on the very same mechanism, but eudev only adds `ENV{ID_INPUT_KEY}`.

This is fixed in eudev master, but not rele

[2018-03-26 09:31] Yamakuzure commented on #10
Thank you very much, it works for me, too.

[2018-03-26 09:31] #10 closed

[2018-03-26 09:33] Yamakuzure commented on #50
I haven't seen this, yet. Not sure where and why this can happen unless dbus is broken... But then the system wouldn't reboot at all.

I'll look into this.

[2018-03-26 09:38] Yamakuzure commented on #46
Sorry for the delay. I'll backport the patch to 235 and release a new version during this week.

[2018-03-26 09:41] Yamakuzure commented on #51
@Gottox Thank you very much for finding this!

I am planning to backport the glibc-2.27 to the 235 series, so before releasing v235.4 I'll look into this. lid switch events are important for all laptop owners, including me. ;-)

[2018-03-27 18:00] Yamakuzure commented on #46
Please have a look whether the current state in the v235-stable branch compiles for you.

[2018-03-27 18:05] Yamakuzure commented on #50
This message can only be issued if calling org.freedesktop.login1.Manager via dbus is not responding.

Did you try as root or user?

[2018-03-27 18:14] Yamakuzure commented on #50
I just managed to reproduce this:

1. Boot to console
2. login as root
3. `loginctl reboot` issues above message, but system reboots normally.

I can not reproduce this as a normal user, so it seems to have something to do with being root.

[2018-03-27 18:17] Yamakuzure commented on #46
And while you are at it: Does the current master compile against glibc 2.27? If it does it is shortly of becoming v236.1 .

[2018-03-28 05:59] Yamakuzure commented on #45
Sorry for the delay. Making a user session tracker work in a chroot is pointless. But having all tests to pass is a "nice-to-have" feature I really want, so I'll dig into this once the current version has caught up with systemd a bit.

[2018-03-28 10:16] aifia commented on #46
Current master doesnt compile against glibc version 2.27. I get this error:

[2018-03-28 10:34] selflex commented on #46
elogind 236.1 glibc-2.27 patch:

[code]

[2018-03-28 14:57] nnnn20430 commented on #50
Yes i was running as root, didn't cross my mind that being root would make something not work and doesn't seem like running as a non root user changes anything anyway:

[code]
The system reboots...

[2018-03-28 16:42] Yamakuzure commented on #50
That is strange. When I do "`loginctl reboot`" as a normal user, I do not get that message. There is the normal broadcast message that the system is going to reboot NOW and the machine reboots.

Well, maybe it doesn't matter at all, and fixing this for root will fix it for everyone.

[2018-03-29 05:49] Yamakuzure commented on #46
@selflex : If I rename those functions, the build will fail on all systems where these are really missing.

The build system should have detected whether they are there or not. And if they are, those definitions wouldn't be needed, because the appropriate macros would have been defined.

[2018-03-29 06:21] Yamakuzure commented on #46
I have already branched out v236-stable, as upstream has committed a bunch of updates already.

Part of the updates went into the build system, including the detection of these functions.

Please test whether v235-stable and v236-stable branches compile cleanly against glibc-2.27.

Thank you very much!

[2018-03-30 13:16] mviereck opened #52 "elogind in docker container"
I did some tests with SysVinit (devuan) in docker containers.

To allow everything that may be needed I shared `/sys/fs/cgroup` with docker container and added capabilty `SYS_ADMIN`.

The init startup reports `[ ok ] Starting session management daemon: elogind.`.
But it is not present in `pstree`.
If I try to manually start elogind, I get:
[code]
I admit I am not familar with the cgroup concept an

[2018-03-30 18:45] DareDeb-User commented on #52
I'm a user, not a developer, so i can't be 100% sure of this, by I don't think logind/elogind without cgroups is feasible at all; also I remember that one of the reason why systemd was not ported to BSD is that there is not CGROUPS support in BSD kernels.
Perhaps a developer can clarify this in a better way.

Out of memory.
root@9098d1f0600c:~# mkdir -p /sys/fs/cgroup/elogind
mkdir: cannot create

[2018-04-02 21:47] mviereck commented on #52
@DareDeb-User Thank you!
I could encircle the issues a bit:

Major point: I find no useable way to create `/sys/fs/cgroup/elogind`.
Even as root from host `mkdir` complains about "read-only file system".
I assume systemd is protecting it somehow.
Though, I _can_ create e.g. `/sys/fs/cgroup/systemd/elogind`. The subfolders of `/sys/fs/cgroup` are writeable.

If I run `cgmanager` in container withou

[2018-04-03 08:19] Yamakuzure commented on #52
elogind must have cgroups support, or it can not determine the sessions processes run in.

However, what use would it be to run elogind (or systemd-login) in a containerized application anyway? The container is already bound to its user session and not a multi-user system in itself.

If it needed to be multi-user capable and had the need for its own session tracking system, it would be far too muc

[2018-04-03 23:59] PegasusEpsilon opened #53 "elogind apparently ignoring KillUserProcesses in logind.conf"
System info:
PRETTY_NAME="Artix Linux"
Linux lithium 4.15.15-1-ck #1 SMP PREEMPT Tue Apr 3 03:08:29 CDT 2018 x86_64 GNU/Linux
openrc 0.35.5-4
elogind 235.3-1

I've tried KillUserProcesses=0 and KillUserProcesses=no under [Login] in /etc/elogind/login.conf and tmux is still getting mercilessly slaughtered when restarting X. If you need more information about how/what, reference https://github.com/t

[2018-04-04 13:44] Yamakuzure commented on #53
@PegasusEpsilon Thank you for your report. I'll look into it.

[2018-04-04 14:24] PegasusEpsilon commented on #53
@Yamakuzure Thanks, let me know if you need any more data or further testing.

[2018-04-04 14:45] udeved commented on #50
I managed to get this message in a test vbox as normal user.

I'll try to reproduce and post logs asap.

[2018-04-04 20:38] DareDeb-User commented on #46
@Yamakuzure
Hi, first of all thank you for your work with elogind :)

elogind 235-stable builds and works fine without patching, but v236-stable still fail to build for me with the following error

`[27/540] cc  -Isrc/basic/basic@sta -Isrc/basic -I../src/basic -I. -I../ -Isrc/update-utmp -I../src/update-utmp -Isrc/sleep -I../src/sleep -I../src/libelogind/sd-id128 -I../src/libelogind/sd-bus -Isrc/c

[2018-04-05 16:41] Yamakuzure commented on #46
Dammit. Something is really fishy here. Could you please post your configuration log?

[2018-04-05 23:27] DareDeb-User commented on #46
I got this with meson + ninja (the previous post i was using the Debian building system, so the output is different)
`$ meson -Dselinux=false -Ddefault-hierarchy=legacy -Dcgroup-controller=elogind build-test/`

The Meson build system
Version: 0.45.1
Source dir: /home/ombra/src-nsd/elogind/elogind-236-test/elogind-236-stable
Build dir: /home/ombra/src-nsd/elogind/elogind-236-test/elogind-236-stable

[2018-04-06 10:30] udeved opened #54 "elogind & polkit-0.114"
Hi Yamakuzure ,

I just updated polkit to version 0.114, which has elogind patch upstream.
It is compiled against js52 as opposed to js24 with polkit-0.113+git and elogind patch.
Result is, polkit authorization is broke.

My question is, has elogind/systemd had changes to polkit support that may have not been ported yet into new elogind version?

[2018-04-06 13:53] udeved commented on #54
I did some more digging, it looks like polkit-agent is not spawned in user session.
Compiling against js24 doesn't make a difference.

[2018-04-07 17:44] Cogitri commented on #54
0.114 doesn't work for me either (using elogind 235.3):
[code]

[2018-04-07 17:57] udeved commented on #54
I think something is wrong with the elogind support in polkit, but not sure yet.

I made a testing build from this commit https://cgit.freedesktop.org/polkit/commit/?id=105abaa563eed4d8b78869d5ad17937338d0f0e5
This is before they ported to js52.

pkcheck return on my system strangely a consolekit action missing, as if elogind support was not enabled but ck.

[2018-04-07 18:46] Cogitri commented on #54
It seems like polkit correctly recognizes elogind (at least it says so in configure and config.h contains `#define HAVE_LIBSYSTEMD 1`), so I'm sort of puzzled what's wrong

[2018-04-07 22:43] udeved commented on #54
I get a failed test when compiling. Looks like ck is being enabled for unknown reason.

[code]

[2018-04-08 16:34] selflex commented on #46
As I mentioned before the functions have been changed upstream already: [src/basic/missing_syscall.h](https://github.com/systemd/systemd/commit/5187dd2c403caf92d09f3491e41f1ceb3f10491f#diff-8fdcd13111b76acc789b4b9f7cb1858b)

[2018-04-09 06:12] Yamakuzure commented on #52
elogind examines the layout:

 * /sys/fs/cgroup mounted as cgroups2 -> full unified hierarchy.
 * /sys/fs/cgroup mounted as cgroup1 ->
  * /sys/fs/cgroup/unified mounted as cgroup2 -> hybrid mode.
  * Otherwise it is considered to be legacy mode.

So if you use elogind anyway, it should work from within a container, if can make it have access to the prepared cgroups hierarchy. But you **must** hav

[2018-04-09 06:15] Yamakuzure commented on #54
I have to investigate this. It is quite troubling!

[2018-04-09 06:57] Yamakuzure commented on #46
@selflex : Thank you for clarifying this. The difference between your comment previous comment is, that they actually map from `foo` to `missing_foo` using a `#define`. Without that, simply changing the names of the functions won't work.

I'll see to it that this is applied.

[2018-04-09 07:50] udeved commented on #54
@Yamakuzure
Some sparse info from other distro.

https://github.com/KaOSx/apps/commit/d97d64994e485bfdf608749d732a3b2198208efb

I can provide full build, configure logs from the chroot later if you are interested.

[2018-04-09 16:36] Yamakuzure commented on #54
The configure log is what I am interested in.

Upstream asked me (after my initial patch set has worked nicely in gentoo for 16 months) to rewrite my patches to only touch configure.ac.

So I have created a new patch that tricks configure into believing it would use libsystemd-logind, when it is really using libelogind. As elogind is a drop-in replacement, this just works, and does so in numerous

[2018-04-09 16:39] Yamakuzure commented on #46
I have ported the missing_syscall.h fix to both v235-stable and v236-stable.

I'd appreciate if someone could be so kind and test whether both now compile successfully against glibc-2.27. Thank you very much!

[2018-04-09 18:24] udeved commented on #54
Here the configure.log
Looks fine to me.

[code]

[2018-04-10 06:07] Yamakuzure commented on #53
Okay, I have looked a bit into it.

The configuration is heeded. But it is possible that the termination is forced. This is done when the session is not stopped but terminated.
This can also happen if the full seat is terminated, which only happens when you shut down your system, so that's in order.

So when you log out, the setting is heeded. But when you stop X, your session is closed and the te

[2018-04-10 10:02] Cogitri commented on #54
Here's the output from configure:
https://paste.pound-python.org/show/aUZ4jkKv7OiqBeg5GKjW/

Seems like it does detect elogind:

and it sets HAVE_LIBSYSTEMD:

[2018-04-10 10:50] udeved commented on #54
@Cogitri

What exact js version do you use?
I just updated js52 from 52.7.0 to version 52.7.3 in our testing repo, but t doesn't cure the issue.

[2018-04-10 10:56] Cogitri commented on #54
I heavily doubt that it has anything to do with spidermonkey (js). However, I've used spidermonkey-52.7.3 for some time now (and it works fine with other stuff such as gjs). The problem here more likely lies in polkit not detecting elogind correctly...

[2018-04-10 11:02] udeved commented on #54
The guys from Kaos pulled polkit-0.114 from repos, the commit message said, js segfaults and polkitd crashed. Could explain why no agent is spawned.

But my feeling is the same as yours, something with the pk elogind integration is wrong. Systemd version seems fine, I found no bug reports.

[2018-04-10 12:02] Yamakuzure commented on #54
The relevant parts:

[code]
That is okay and means that the selection works. Which means that pkg-config works, at least basically.
[code]
These get ignored, as the integration patch does not change any Makefile[.am]
[code]
The elogind values are copied alright. These are used. I did not doubt this, as polkit wouldn't build with HAVE_SYSTEMD set when lacking these flags.
[code]
Looks good so far..

[2018-04-10 12:06] Cogitri commented on #54
As far as I can see `HAVE_SYSTEMD` is only used to check whether or not the systemd unit files will be installed or not

[2018-04-10 12:06] Cogitri commented on #54
As far as I can see `HAVE_SYSTEMD` is only used to check whether or not the systemd unit files will be installed or not

[2018-04-10 17:40] PegasusEpsilon commented on #53
That's likely what's going on, since i restart X with `rc-service xdm restart` -- I don't suppose there's a way to tell elogind not to murder tmux along with everything else? If X freaks out and needs to be murdered, I'd like it very much if tmux would survive the madness.

[2018-04-11 06:04] Yamakuzure commented on #54
I can't directly test this, as I can not configure polkit-114 without spidermonkey-52. Currently this is masked on Gentoo:

@Cogitri Not only. Well, it is HAVE_LIBSYSTEMD (sorry, my mistake), and there are more places, like in _src/polkitbackend/polkitbackendjsauthority.cpp_:
[code]

As far as I can tell this is like it was in polkit-113, elogind is used to get the session and seat for a PID. Noth

[2018-04-11 11:06] Cogitri commented on #54
Alright, I found the culprit, it's polkit. In configure.ac it tests the following:
`AM_CONDITIONAL(HAVE_LIBSYSTEMD, [test "$have_libsystemd" = "yes"], [Using libsystemd])`
This obviously doesn't work for elogind.

[2018-04-11 11:17] Cogitri commented on #54
[code]

Will send it upstream soon

[2018-04-11 11:42] udeved commented on #54
@Cogitri
Nice one, I can confirm it works.

[2018-04-11 12:26] Cogitri commented on #54
Bugreport: https://bugs.freedesktop.org/show_bug.cgi?id=105989

[2018-04-11 21:36] DareDeb-User commented on #46
tested v235.4 and v236.1, I confirm both now compile successfully.
Thanks

[2018-04-12 05:56] Yamakuzure commented on #53
Well, from a security point of view it is not advisable to keep user processes, which might hold private data in memory, alive when a user logs out.
What happens if you log into the system via tty before starting X and in there tmux?
Do you really need to start a terminal multiplexer, that has only ncurses as a dependency, from within an X session? Wouldn't a system service be the more sensible so

[2018-04-12 06:00] Yamakuzure commented on #46
Cool!
I have to tackle, or at least get some feedback, on some other issues, and can then release both.

Thank you all very much for your patience and support!

[2018-04-12 06:00] #46 closed

[2018-04-12 06:02] Yamakuzure commented on #43
@yshui : Could you please check whether this issue is fixed? I do not own a suitable USB device to test this myself.

[2018-04-12 06:04] Yamakuzure commented on #54
@Cogitri : Oh. That is my fault then. :-( At least I wrote the patch to configure.ac...

[2018-04-12 06:06] PegasusEpsilon commented on #53
Honestly I feel like it shouldn't matter *why* a function is wanted, especially when a thing is basically required for full system functionality, and this problem didn't used to exist at all. I feel like a list of exceptions for process names or something should be a thing, buuuut...

In terms of security, running a program exposes user data in the same way that letting a process not be mercilessl

[2018-04-12 08:18] Yamakuzure commented on #53
@PegasusEpsilon I have no idea why you sound so pissed off by a few simple questions. I will not make you do anything. I hate upstreams that ask for PRs on every tiny patch.

Do you sign responsible for _any_ consequences?

I really have no idea, as stated above, what tmux is about. And what it is good for. My Laptop has an uptime of up to several weeks. I only restart it when I want an updated ke

[2018-04-12 08:44] PegasusEpsilon commented on #53
Not pissed off, I'm just the old cranky guy complaining about kids on his lawn. But I'll monitor my tone a bit more and be less casual cranky like I am, and more formal, for your benefit.

It's entirely possible my usual software stack doesn't need logind, but I have limited knowledge about what uses it and why. So maybe I'll rip it out by the roots and see what freaks out on me.

Also possible th

[2018-04-12 09:37] Yamakuzure commented on #53
Don't worry. I was just a little bit surprised by the intensity of your answer. I do not feel offended or anything. ;-)

I was more talking about the processes keeping running, hogging system resources.

Me neither, but there you are... :-/

Well, apart from the resource hogging issue I mentioned above, a running process memory can be accessed. You wouldn't even need Spectre or Meltdown. Of course

[2018-04-12 09:59] Cogitri commented on #54
Oh well, mistakes happen, thanks for getting elogind support upstream at all :)

[2018-04-12 10:51] yshui commented on #43
Yes, this is fixed.

[2018-04-12 12:36] Yamakuzure commented on #43
*yay* :-)

[2018-04-12 12:36] #43 closed

[2018-04-12 16:11] Yamakuzure commented on #51
Hmmm....
I now have eudev-3.2.5 installed, and my laptop went to sleep when I closed the lid, using elogind-325.2 on kernel 4.15.15 with gentoo patches.

If I understand src/login/70-power-switch.rules right, the event is tagged as "power-switch" if _either_ `ENV{ID_INPUT_SWITCH}=="1"` _or_ `ENV{ID_INPUT_KEY}=="1"`.

I am closing this, as it seems to be something different if elogind does not reac

[2018-04-12 16:14] Yamakuzure commented on #52
I am closing this, as it seems to be a configuration problem.

Please feel free to reopen this issue if you have a setup that should work but doesn't. Please be aware that I do not have any viable experience with containers. I'd need detailed information. But if I can improve elogind within containers, don't hesitate to tell me.

[2018-04-12 16:14] #52 closed

[2018-04-12 16:39] DareDeb-User opened #55 "elogind 236.1: does not automatically create seat/session on login"
Debian Sid/Unstable
elogind v236.1
dbus 1.12.6
policykit 0.105
systemd-udev 238

Since v236.1 when I start the elogind service I don't get a new seat and then,  when I start a display manager (like sddm) a new session for the user it's not created as well; as a result, sddm get stuck forever (it can't get the auth) before displaying the login screen.
Have to switch to vt console, stop sddm and elo

[2018-04-13 16:47] Yamakuzure commented on #50
I am not getting very far and am inclined to postpone the debugging after the next releases.

It is very difficult to single-step a program when it just triggered a shutdown... One wrong key press and ... well...

However, from the sources there is no hint why this is happening. The daemon processes the request and sends a reply. Why this is not sent through to loginctl is a riddle to me. At least

[2018-04-14 10:39] mviereck commented on #52
Me too :-). I did not thought it could be that easy at last.

devuan ascii currently uses polkit-0.112.

I found a related thread: https://dev1galaxy.org/viewtopic.php?id=1884
It recommends to install `libpolkit-backend-1-0-elogind` and `libpolkit-gobject-1-0-elogind`. I did that and it solves the polkit issues. So far this is a configuration issue, too, in this case for devuan ascii.

Everything

[2018-04-14 10:51] mviereck commented on #55
@DareDeb-User
I had a different but similar issue I could solve with installing `libpolkit-backend-1-0-elogind` and `libpolkit-gobject-1-0-elogind`. https://github.com/elogind/elogind/issues/52#issuecomment-381320125
I am not sure, but maybe it helps in your case, too.

[2018-04-17 05:54] Yamakuzure commented on #55
@DareDeb-User : Just noticed that you use polkit-105. That release is from april 2012. Can you upgrade by any chance?

[2018-04-18 14:35] Cogitri commented on #55
Just hit this on Exherbo, using polkit 0.114 (patched for elogind ;), so I guess it's not connected to that

[2018-04-19 06:38] Yamakuzure commented on #55
I'll have a look.
(*sigh*... that release really takes quite some time...)

[2018-04-19 06:40] Yamakuzure commented on #55
Just to be sure:
You did apply the fix from issue #54, didn't you?

[2018-04-19 08:26] Cogitri commented on #55
Yep, that's why I said `patched for elogind` :). Polkit works properly (with 235.x, can't get a seat with 236)
I'll just use 235.3 with the latest commit to fix glibc 2.27 building for now.

[2018-04-23 09:46] Yamakuzure commented on #55
I have tested v236-stable and everything looked solid, besides user login not working.

pam_elogind correctly asks elogind to create a session, and that works properly until it reaches a point where a renaming error kills the attempt.
In some places `/run/systemd` was accidently renamed to `/run/elogind`. I have fixed that, but haven't had the time to test that, yet.

[2018-04-23 09:54] Yamakuzure commented on #53
@PegasusEpsilon : The whole time I had the feeling that I overlooked something important. While working on the XML sources for the man pages I stumbled across what I've forgotten.

For ages the KillUserProcesses option had the following note in the logind.conf man page:
[code]

However, for a while now there is this addition:

[code]

When the lingering was introduced, I did not spend much time in

[2018-04-23 09:58] Yamakuzure commented on #50
As the system commands **do** work, I'll bisect that once the new releases are out. I think that bisecting will be the most reliable option to find out what causes this.

[2018-04-23 11:33] DareDeb-User commented on #55
Sorry for the late response, I have been very busy.
I will test and report within two days

[2018-04-23 16:58] Yamakuzure commented on #55
@DareDeb-User : Thank you very much! elogind-236.x now works for me. If you, or somebody else, can confirm that this bug is fixed, I can _eventually_ prepare the next releases.

[2018-04-23 17:59] Cogitri commented on #55
Works for me. Thanks for fixing this @Yamakuzure ! :)

![screenshot from 2018-04-23 19-58-58](https://user-images.githubusercontent.com/8766773/39144358-d4c340ca-4730-11e8-899f-835744bfe051.png)

[2018-04-24 06:50] Yamakuzure commented on #55
@Cogitri : Thank you very much!

Just out of curiosity, how did you get these arrow style backgrounds in your PS1?

[2018-04-24 06:51] Cogitri commented on #55
That's Powerline w/ ZSH :)

[2018-04-24 20:26] PegasusEpsilon commented on #53
Interesting. At the moment, my system is stable again, so it's not really eating me at this point, but I'll be glad to have a proper solution when it appears. Thanks for your time on this issue.

[2018-04-26 16:01] juanitotc opened #56 "elogind-235.3 build fails with docbook error"
Even though docbook is present, build fails with the error below.

Removing "--nonet" from ninja.build allows the build to complete successfully.

[415/529] /usr/local/bin/xsltproc -o man/elogind.8 --nonet --xinclude --maxdepth 9000 --stringparam man.output.quietly 1 --stringparam funcsynopsis.style ansi --stringparam man.authors.section.enabled 0 --stringparam man.copyright.section.enabled 0 --st

[2018-04-26 16:43] Yamakuzure commented on #56
When I click on the link, firefox tries to download docbook.xsl, so the URI is in order.

However, this should not be needed if you already have docbook xsl stylesheets installed. (In gentoo this would be app-text/docbook-xsl-stylesheets)

[2018-04-27 05:51] Yamakuzure commented on #55
Fixed with 236.1 Release

[2018-04-27 05:51] #55 closed

[2018-04-27 05:53] Yamakuzure commented on #54
Unfortunately this is an upstream bug, and there is nothing more we can do from here than has already be done.

[2018-04-27 05:53] #54 closed

[2018-04-27 07:03] juanitotc commented on #56
The link is correct because the build succeeds when "--nonet" is removed.

Docbook-xsl stylesheets are present under /usr/local/share/xml/docbook/xsl-stylesheets-1.75.2/*

[2018-04-27 07:30] juanitotc commented on #56
I'm using tinycorelinux (CorePure64) to compile elogind from source - as mentioned docbook_xsl (and docbook_xml_dtd) is installed.

I've seen the same error occasionally on autotools builds of other apps - perhaps a meson option to disable documentation would be useful?

[2018-04-27 08:46] Yamakuzure commented on #56
The dependencies in the Gentoo system are:
 - app-text/docbook-xml-dtd:4.2 (http://www.docbook.org/xml/4.2/docbook-xml-4.2.zip)
 - app-text/docbook-xml-dtd:4.5 (http://www.docbook.org/xml/4.5/docbook-xml-4.5.zip)
 - app-text/docbook-xsl-stylesheets (https://sourceforge.net/projects/docbook/files/docbook-xsl/1.79.1/)

If these three are installed correctly, and the docbook catalog has been built, t

[2018-04-27 10:33] juanitotc commented on #56
The build does indeed succeed with "-Dman=false -Dhtml=false" and without docbook* - thanks

[2018-04-27 10:33] #56 closed

[2018-04-30 19:28] yshui opened #58 "Split out sd_bus"
This is likely out of the scope of elogind project, but I think this might be a good place to brought this up.

sd_bus looks like a really good C dbus library, compare to the reference implementation. But to use it, one have to link with libsystemd (or libelogind, in elogind's case). Therefore, it would be a good idea to split out sd_bus, so more program can use it without pulling in unnecessary d

[2018-05-01 06:17] CameronNemo commented on #58
What about libnih-dbus?

[2018-05-01 09:41] yshui commented on #58
@CameronNemo This is the first time I ever hear about this library, so I'll just give my first impression.

I assume you meant this repo [keybuk/libnih](https://github.com/keybuk/libnih). If so, it is 5 years old. I don't know if it is still maintained. And the interface it provides, I can't see what value it adds on top of libdbus. Besides, it requires libnih, which could be an unnecessary depend

[2018-05-02 08:24] Yamakuzure commented on #50
Unfortunately I have difficulties to reproduce this at the moment. There hasn't been any changes in the relevant code for ages. Maybe it has something to do with dbus, but I have to investigate this.

[2018-05-02 08:42] udeved opened #59 "elogind-236.1 slow auth behaviour"
I recently updated our build to 236.1, and it produces a strange kind of slowness when calling polkit auth for example.
The log gets flooded with elogind dbus call messages, new messages logged, even though they don't show any obvious error.
Difficult to describe, but 235.4 does not have this issue.

[code]

[2018-05-02 09:16] Yamakuzure commented on #59
This means, that someone talks to elogind.

Interesting...

1. Someone asks elogind for cookie 623 and elogind answers in the same second with the requested cookie.
2. That one asks again, 5 seconds (!) later for the next cookie 624 and elogind answers in the same second with the requested cookie.
3. Then the next request is in the same second without a delay.

Everytime sender/destination is ":1.

[2018-05-02 11:39] perfect7gentleman commented on #59
the same
[code]

[2018-05-02 11:47] holgersson32644 commented on #59
I have similiar issue, maybe of the same origin: Since the upgrade to 236.1 my display brightness does not change or only does it with a offset of 2 to 4 seconds when pressing the "brightness keys" on my Notebook. I'm running KDE on Gentoo (~amd64, hardened, no SELinux) and setting the backlight via /sys/class/backlight/intel_backlight/brightness works (instantly).

[2018-05-02 13:39] yshui commented on #58
@Yamakuzure I understand. I was kind of hoping to find someone who might share the same idea (splitting sd-bus from systemd), giving elogind is a split-out project itself.

[2018-05-02 15:45] Yamakuzure commented on #59
I do not have this. For me everything is fine, but the "Brightness Key"-Issue. But I have those from time to time after upgrading kde-frameworks and kde-applications or kde-plasma. And I upgraded last night, so I didn't wonder.

All that I get when I try to change the backlight using backlight keys is:
[code]
There is nothing elogind-related to be found.

And I can't find any "cookie-chains" in my

[2018-05-03 04:00] perfect7gentleman commented on #59
[code]

[2018-05-03 05:16] Yamakuzure commented on #59
That one is a good example of a perfectly fine chain of Introspect, ListSeats, Get.

Problematic are those, where the the same Sender requests a new cookie (member=Get) several times in a row.

[2018-05-03 05:43] perfect7gentleman commented on #59
so, how yo solve it?

[2018-05-03 05:48] Yamakuzure commented on #59
@perfect7gentleman : Your log does not contain anything that has to be solved.

As long as I do not have the slightest hint what is happening, I can do nothing. My best bet, currently, is polkit-0.114. Could someone who has those Cookie-Request-Chains in their log try to see what happens when they downgrade polkit? I mean, just to be sure that we aren't hunting for a ghost here.

As for the bright

[2018-05-03 05:55] perfect7gentleman commented on #59
@Yamakuzure, nope, polkit-0.113-r4 on Gentoo ~.

[2018-05-03 06:07] perfect7gentleman commented on #59
[code]
[code]

[2018-05-03 06:56] Yamakuzure commented on #59
@perfect7gentleman : I hate to disappoint you, but both logs look perfectly fine. Actually they show exactly how it should look like if everything is solid.

Let me emphasize that:

Fine:

Bad:

Personally I think the best bet would be to look out for the latter, and find out whose unique bus name that is (:1.31 in the example above). That would most likely be the culprit.

If there were a systema

[2018-05-03 08:26] perfect7gentleman commented on #59
[code]

[2018-05-03 08:27] perfect7gentleman commented on #59
there is one more. If press any button, then SDDM appears faster, if buttons are not being pressed.

[2018-05-03 08:29] perfect7gentleman commented on #59
[code]
[code]

[2018-05-03 08:54] perfect7gentleman commented on #59
i've found my culprit. It was fsck.f2fs with wrong switch. After changing it to "-a", boot becomes normal again.

[2018-05-03 15:07] xhebox opened #60 "Wrong poweroff command?"
I am using elogind235.3 with polkit0.114(no systemd), and my laptop will halt after i execute `loginctl poweroff`. Also, i found `HALT` under `HANDLE_POWEROFF`:
[code]

Is this a typo? Or my halt from finit is different from the one from systemd?

[2018-05-07 01:16] PegasusEpsilon commented on #53
@udeved Good to know, but I'd say that's a bug in the shutdown process, myself. If you don't eventually kill -9 any process that refuses to exit nicely **on machine shutdown**, something deeper is wrong.

[2018-05-07 10:03] Yamakuzure commented on #60
No, there simply is no distinction between 'halt' and 'poweroff' at the moment. Both use /sbin/halt by default.

You can change the command used by configuring elogind with `-Dhalt-path=/path/to/your/poweroff/command`, though.

[2018-05-07 11:00] xhebox commented on #60
OK, i get it. I am now good with `-Dhalt-path` :).

Just comment, no offense. It makes sense that switching to `poweroff` is better because not all `halt` is equal to `poweroff`. It also makes sense that just staying the same is better because maybe only `halt` is provided. I prefer the former, if you prefer the latter, just close the issue.

[2018-05-07 13:46] saboya commented on #59
I can confirm this bug as well on Gentoo. 235.4 does behave like this, but upgrading to 236.1 will cause the slow login / log flooded with dbus messages. I can try to gather more specific data to debug this issue if you want, just let me know where to look / what to look for.

[2018-05-07 14:28] Yamakuzure commented on #59
@saboya : There are basically two things to do:

1. Find a log snippet that shows the "Cookie-Get-Flood" as shown above.
2. Find out which application has the unique bus name that constantly requests new cookies.

For point 2 you can just ask dbus.
Let's say the 'culprit' has the unique bus name ":1.2", then dbus should tell you the pid with the following command:

[code]

I am highly interested i

[2018-05-07 14:31] Yamakuzure commented on #60
Well, I won't close this but make it an enhancement.

On most systems halt/poweroff is the same thing. But your issue shows at least one scenario where this is not only not the case, but produces problems if `halt` is used for both.

That part of elogind has diverged from systemd, as the latter has their own binaries now. So I am totally free to extend the build system for the next release to allo

[2018-05-07 17:25] udeved commented on #59
Following log entries

[code]

correspond to

`$ dbus-send --session --print-reply --dest=org.freedesktop.DBus /org/freedesktop/DBus org.freedesktop.DBus.GetConnectionUnixProcessID string::1.44
`

[code]

[code]

[2018-05-07 17:33] udeved commented on #59
Thinking about the output, could it be tty1-6 are started too late in default runlevel?
They need to start before elogind starts, which is in boot runlevel?

[2018-05-07 18:12] udeved commented on #59
Fullauth log from openrc vbox boot:
[code]

output:

[code]

[2018-05-08 10:17] Yamakuzure commented on #59
Since when does agetty need a session tracker? ;-)

@udeved : Unfortunately your log shows nothing suspicious. Everything is clean as ice in your last log.

I made it into a table with some RegEx Magic:

Dir | Sender | Destination | Interface | Member | Cookie | Reply
--- | ------ | ----------- | --------- | ------ | ------ | -----
Got | :1.7 | login1 | DBus.Introspectable | Introspect | 4 | 0
Sen

[2018-05-08 11:28] Yamakuzure commented on #59
Now that I see this, your initial log showed the same session (c2), which is no user session.

Maybe KActivityManagerd is to be investigated here? But then, how can that stall authentications?

Well, speaking of authentication, this is not entirely clear for me.
In your log you have an SDDM Authentication:
`May  7 19:59:02 vtux-pc sddm-helper[2342]: pam_kwallet5(sddm:auth): (null): pam_sm_authenti

[2018-05-08 12:36] saboya commented on #59
Got some logs.

Raw log:

[code]

Made the nice table for you, with the pid / names:
Couldn't  get info on :1.7, will attempt to.

<table>
<thead>
<tr>
<th>Timestamp</th>
<th>Dir</th>
<th>Sender</th>
<th>Destination</th>
<th>Interface</th>
<th>Member</th>
<th>Cookie</th>
<th>Reply</th>
</tr>
</thead>
<tbody>
<tr>
<td>6.961266</td>
<td>Got</td>
<td>:1.19 (3479 gconfd-2)</td>
<td>:1.5 (3429 at-spi-b

[2018-05-08 13:40] udeved commented on #59
True, but you never know what the systemd geniuses come up with next.
One has to consider even the absurd these days.
But, not every loud thought I leave is a valid one. :)

[2018-05-12 12:57] juanitotc opened #61 "Cannot start gnome wayland session with mutter/elogind"
I'm trying to get gnome-3.28 to work with wayland using mutter/elogind and the minium use of consolekit, polkit, linux-pam and friends.

gnome-3.28 works with an X11 display
weston works with a wayland display

On this distro (tinycorelinux) no daemons are started by default, but gnome-3.28/X11 display works after manually starting the dbus daemon - I presume gnome-session auto starts everything e

[2018-05-14 05:28] Yamakuzure commented on #59
I have made some progress on analyzing the lag we (yes, I eventually could reproduce this) experience on certain authorization tasks.

When I changed my SDDM theme through kcm. It took unusually long until the password prompt showed up.

According to the log, `/usr/bin/ksmserver` asked four times in a row for `member=CanPowerOff`. All with a delay of one second. I need to find out, why. But maybe

[2018-05-14 08:29] Yamakuzure commented on #61
Yes. The Gentoo Forum has an extensive thread about running [Gnome Without Systemd](https://forums.gentoo.org/viewtopic-t-1022050.html).

Please refer to that, as many Gnome packages have to be patched to accept elogind as a system-login drop-in replacement.

[2018-05-14 13:10] juanitotc commented on #61
I'd seen that thanks, but the link is mostly speaking of earlier versions of gnome, whereas with gnome-3.28.x several of the packages (eg mutter) compile against elogind directly.

In any case, if it were an issue of elements of gnome not playing nicely with elogind, I'd probably get a different error message.

As said, I'm looking for advice on how to start elogind so it gives a seat to a given u

[2018-05-14 13:41] udeved commented on #61
@juanitotc

This patch might help, but I don't use gnome myself.
https://github.com/artix-linux/packages/blob/master/elogind/repos/staging-x86_64/protect-user-XDG_RUNTIME_DIR.patch

[2018-05-15 07:12] Yamakuzure commented on #61
@juanitotc : The build system installs `src/login/org.freedesktop.login1.service`, so the first application that requests org.freedesktop.login1 via dbus will cause the elogind daemon to be started. Or you can start it by hand using `elogind --daemon` before starting anything that might need it and after dbus has been started.

Further, the link I gave you is a whole thread, and main development a

[2018-05-16 08:41] juanitotc commented on #61
I read through the entire gentoo thread - from page 26 on the majority of the issues are of various gnome components failing to build, whereas I managed to build gnome-3.28.x without problems and against elogind where it was an option.

I know my compiled gnome-3.28.x works because an X11 session runs from startx.

I know wayland works because I can start weston like this:

$ XDG_SESSION_TYPE=wayl

[2018-05-30 07:19] Yamakuzure commented on #45
A little update: Within the upstream commits for v237 I have seen new stuff for "In-Chroot-Detection". I haven't looked further, yet, but I hope this'll help resolving this issue.

[2018-05-30 07:20] Yamakuzure commented on #50
I haven't been able to reproduce this since the upgrade to v236.1. Could somebody please try out whether this issue still exists?

[2018-05-30 07:29] PegasusEpsilon commented on #53
The guys on the tmux team said systemd's guys recommended they make use of some API to signal to systemd that they shouldn't be reaped. I'd invert that (ask to be reaped if you're likely to persist after you should) but that's not terribly likely to work any better.

Best idea here, I think, is fix GNOME, which is apparently the cause of all of this, and throw systemd the hell out. Not that that w

[2018-05-30 07:33] Yamakuzure commented on #59
There have been some updates on the KDE side, but I haven't had time to investigate further, yet.

My new migration tools [migrate_tree.pl](https://github.com/elogind/elogind/blob/master/pwx/migrate_tree.pl) and [check_tree.pl](https://github.com/elogind/elogind/blob/master/pwx/check_tree.pl) are finally finished.
Well, finished enough to having me allowed to migrate all 437 commits to upstream v2

[2018-05-30 07:40] Yamakuzure commented on #61
Please log into any tty and look what "_loginctl_" shows. If it works (elogind is running) but no seats are listed, than I ask you to check that PAM is configured properly. You should, for instance, have a [/etc/pam.d/system-auth](https://github.com/elogind/elogind/blob/master/factory/etc/pam.d/system-auth) file.

[2018-05-30 07:42] Yamakuzure commented on #53
Although I like your second idea much more, the first is a start I'll be looking into. Thank you very much!

[2018-05-30 08:27] juanitotc commented on #61
Note that on tinycorelinux by default there is no login or password required and, as much as possible, apps such as consolekit, elogind, linux-pam are only used when other apps require them in order to build.

I get the following:
$ loginctl

   SESSION  UID USER  SEAT  TTY

0 sessions listed.

$ cat /usr/local/etc/pam.d/system-auth
#system-authentication
auth	 required	pam_env.so
auth	 sufficient

[2018-05-30 13:36] juanitotc commented on #61
I guess this confirm things:

$ gnome-shell --wayland

(gnome-shell:22377): mutter WARNING: Can't initialize KMS backend: Could not get session ID: No such file or directory

..but how can I generate a session ID?

[2018-05-31 05:05] juanitotc commented on #61
Yes, I do have those directories

[2018-05-31 07:04] Yamakuzure commented on #61
Sorry that I did not spot this sooner.

Please add the line
[code]
to your `/usr/local/etc/pam.d/system-auth` just before the last line that requests pam_unix.so.

Without that no login is reported to elogind and thus no session created. no initial session, no seat.

[2018-05-31 08:06] juanitotc commented on #61
thanks - unfortunately that doesn't change anything :(

As mentioned, I am not actually logging in to anything - is there a way to simulate a login or disable login, but still create a session?

[2018-05-31 14:09] juanitotc commented on #61
If I use a gnome X11 session, gnome-session starts elogind, but doesn't seem to seem to use the session ID because things work.

Perhaps with a gnome wayland session, elogind needs to be started in a particular way using dbus prior to starting gnome-session.

I've tried the following, but it still doesn't work:

$ sudo dbus-launch /usr/local/lib/elogind/elogind --daemon
$ dbus-launch-session gnome

[2018-05-31 20:41] PegasusEpsilon commented on #53
@Yamakuzure Thinking about it while falling asleep, the API they were probably talking about was whatever xdm and /sbin/login use to generate these sorts of lines in my dmesg:

`[762959.200662] elogind[1757]: New session c3 of user pegasus.`

If tmux/screen started a new logind session for its server, on startup, then elogind could reap the tmux/screen client (as would be expected by SIGHUP) and i

[2018-06-01 13:12] Yamakuzure commented on #61
You don't need dbus-launch. You need a dbus system daemon.

If everything works right, then any login will do. Try to log into any tty. CTRL-Alt-F2 gets you on one. If loginctl in there shows a seat and session, then everything is in order. Otherwise your PAM installation does not work or the elogind daemon is not running. The latter can be checked with ps.

[2018-06-01 13:21] Yamakuzure commented on #61
What is the output of:
[code]
If it is none, then please try `export $(dbus-launch)` first.

Further, your two commands would have put elogind and gnome session into two separate dbus sessions. You only need to run 'dbus-launch' once and have a session dbus.

However, having to do this isn't a good sign at all.

Maybe this thread can help: [Topic: dbus not starting?](http://forum.tinycorelinux.net

[2018-06-02 10:10] juanitotc commented on #61
I made some progress in discovering that polkit-0.114 needed a patch for elogind and also patched gnome-session to make sure it used elogind.

Now, when I try to start an X11 session with startx I get:

gnome-session-binary[4746]: WARNING: Could not get session id for session. Check that logind is properly installed and pam_systemd is getting used at login.

..or if I modify things so that gnome-s

[2018-06-02 12:52] juanitotc commented on #61
I forgot to mention, I get:

$ echo $DBUS_SESSION_BUS_ADDRESS
unix:abstract=/tmp/dbus-i8SLs07QWW,guid=b1448c9e7d92028751ec93565b12c0d4
$ echo $DBUS_SESSION_BUS_PID
[nothing]

[2018-06-03 22:14] Yamakuzure commented on #61
I think that this is the reason. But I have no real idea how TinyCore actually works. I have read a bit on their web pages, but that is not enough to create much understanding.

Have you tried the TinyCore forums yet? I fear that I can not be of much more help here.

[2018-06-04 04:02] juanitotc commented on #61
I'm not so sure that the problem is tinycore per se, but more that I do not understand how elogind is meant to be used - I don't think elogind can give gnome-session a session id because it does not have one under /run/systemd/sessions

Is elogind meant to be started before gnome-session is launched (if so, how?) or be started by gnome-session?

Are the files created by elogind under /run/systemd

[2018-06-04 10:29] Yamakuzure commented on #61
It doesn't matter if everything is in the right place. The first process that requests `org.freedesktop.login1` from dbus causes dbus to start the daemon if it isn't already running.
For this to work the file `/usr/share/dbus-1/system-services/org.freedesktop.login1.service` must be present and valid. But I think in TinyCore it would be prefixed with `/usr/local`.
The service file is built by meso

[2018-06-05 12:41] juanitotc commented on #61
Hmm - everything seems to be in place,  but still no go.

Since tinycorelinux is not systemd I cannot check "everything that works with systemd-login works with elogind"

After starting elogind it only shows a seat0, but no user nor session.

I can get elogind to show a user using "loginctl enable-linger $USER" - is there any test I can use to try and see why it does not show a session or force it

[2018-06-05 19:40] mviereck commented on #61
Do you have a cgroup at `/sys/fs/cgroup/elogind`?

[2018-06-06 08:10] juanitotc commented on #61
I believe so:

$ sudo /usr/local/lib/elogind/elogind --daemon

$ ls /sys/fs/cgroup/elogind
cgroup.clone_children  cgroup.sane_behavior   release_agent
cgroup.procs           notify_on_release      tasks

[2018-06-06 09:38] mviereck commented on #61
ok, that looks fine. It was just an idea as I had some issues with a missing cgroup (without error message) in [other circumstances](https://github.com/elogind/elogind/issues/52).

[2018-06-06 09:58] juanitotc commented on #61
I found a small c program using getsid() to find the session ID and tried to activate the session with elogind, but got this:

$ sudo loginctl activate 6416
Failed to issue method call: No session '6416' known

Is getsid() the session id elogind is looking for?

Can I manually find the session ID and pass it to elogind?

Note - I also used strace on elogind, but did not see any obvious errors.

[2018-06-06 11:14] Yamakuzure commented on #61
You can configure elogind with `-Ddebug=elogind --buildtype debug` and see what it then logs into dmesg/messages.

That would be the session ID of the program. This has nothing to do with users.
See: `ps -eo pid,user,cmd,args,sid --sort user`

If no cgroups manager is found, elogind tries to be its own tiny manager. (Works so far on VOID Linux)
However, mounting the file systems alone is not enoug

[2018-06-06 13:07] juanitotc commented on #61
I get the following:

$ cat /proc/self/cgroup
1:name=elogind:/
0::/

..and:

$ ps -eo pid,user,cmd,args,sid --sort user
...
 2348 tc       -sh                         -sh                          2348
 2349 tc       -sh                         -sh                          2349
 4624 tc       /usr/local/bin/dbus-daemon  /usr/local/bin/dbus-daemon   4624
 9783 tc       /usr/local/lib/gnome-sessio /u

[2018-06-06 14:47] Yamakuzure commented on #61
No. The SID from ps is the process session ID. This has nothing to do with users. It is only a number for sessions groups of processes run in. See: https://www.win.tue.nl/~aeb/linux/lk/lk-10.html

However, `/proc/self/cgroup` tells me that your system has no cgroup controller at all.

What init system is used?

Can it be used as a cgroup controller?

Could you try to configure elogind not only wit

[2018-06-06 16:15] juanitotc commented on #61
Recompiling elogind with "-Ddebug=elogind --buildtype=debug -Ddefault-hierarchy=legacy", I get the attached log when starting elogind from a console prompt and then starting gnome-session via startx

Note that polkitd runs when started manually as root
[elogind_legacy_log.tar.gz](https://github.com/elogind/elogind/files/2077144/elogind_legacy_log.tar.gz)

[2018-06-06 17:31] mviereck commented on #61
You could check if `/sys/fs/cgroup/elogind` is mounted as a cgroup:
[code]
In another setup I created elogind cgroup before starting elogind (without `cgmanager` or similar) with:
[code]

[2018-06-07 07:09] Yamakuzure commented on #61
The log says:

That is a hybrid setup. I think we have found an issue with either the build system or elogind playing cgroup controller. That is definitely something I have to investigate.

That one is mounted asa cgroup file system. So _basically_ everything is in order.

Alright, the seat is there.

Okay, _that_ is very bad! Please investigate.

For everything elogind asks, dbus tries to spawn o

[2018-06-07 07:14] Yamakuzure opened #63 "elogind does not heed hierarchy settings when mounting cgroup folders"
In issue #61 the user @juanitotc build elogind with `-Ddefault-hierarchy=legacy`, their system has no central cgroups controller.

When starting elogind the log shows:

This seems to be wrong, as that would be a hybrid layout with a non-elogind cgroups controller.

The expected output would have been to only mount /sys/fs/cgroup of type cgroup, and the file system hierarchy to be located here as w

[2018-06-07 07:30] juanitotc commented on #61
btw, to answer an earlier question, tinycorelinux uses busybox init

[2018-06-07 09:55] farmboy0 opened #64 "elogind 236.1 spams the auth log"
It writes a lot of trace lines about received and sent messages. I havent found any way to control this output.
I can also not remember earlier versions i used do this spam.

Is there any way to control this logging?

[2018-06-07 10:37] Yamakuzure commented on #64
Sure, don't configure elogind with `-Ddebug=elogind` and don't start elogind with --debug.

[2018-06-07 10:51] juanitotc commented on #61
Ref: "For everything elogind asks, dbus tries to spawn org.freedesktop.PolicyKit1 and fails."

org.freedesktop.PolicyKit1 (/usr/local/lib/polkit-1/polkitd) will start as root and then successfully changes to the default user, but has a problem with a login monitor(?)

This is where I'm confused by elogind - /usr/local/etc/dbus-1/system.d/org.freedesktop.PolicyKit1.conf allows the default user to o

[2018-06-07 13:40] juanitotc commented on #61
Aaaargh - the permissions on dbus-daemon-launch-helper were incorrect

Now if I:

* start the dbus daemon
* start the elogind daemon
* enable-linger $USER
* startx

I get:
$ grep elogind /var/log/messages | grep user
Jun  7 21:25:53 boxdell auth.debug elogind[32496]: New user $USER logged in.

..but there is still no session ID
gnome-session-binary[3715]: WARNING: Could not get session id for sess

[2018-06-07 17:32] Yamakuzure commented on #61
As I said. PAM must be used. And please do not use `linger`, it does not do what you think!

And is BusyBox built with PAM support?

You must have any means to log in a user through pam. Without that this will not work. A login manager like SDDM or whatever gnome uses these days should be enough.

[2018-06-07 17:50] juanitotc commented on #61
I'd really like to avoid using any login manager at all - is there no way to do this by working with pam directly?

[2018-06-07 18:32] mviereck commented on #61
I found that `su` already triggers login with elogind. And `su` from root to unprivileged user works without a password. (Just a way to avoid display managers).

[2018-06-07 19:30] farmboy0 commented on #64
AFAICS I am doing neither.
The build log lists under disabled features: debug elogind.
elogind itself is only started with the --daemon argument.

[2018-06-08 20:42] DareDeb-User opened #65 "Mesonconf deprecated ( replaced by meson configure)"
This is more cosmetics than a bug, but still I think that the last part of the README file will need an update sooner or later, so I'm leaving a reminder here.
from the README
_Any configuration options can be specfied as -Darg=value... arguments
  to meson. After the build directory is initially configured, meson will
  refuse to run again, and options must be changed with:
    mesonconf -Darg=va

[2018-06-09 16:14] juanitotc commented on #61
Ah-ha - "su" from busybox was being used. If I use "su" from shadow and "su $USER" where $USER is the current default user, things work.

`$ ls /run/systemd/*/*
/run/systemd/inhibit/10       /run/systemd/inhibit/8
/run/systemd/inhibit/10.ref   /run/systemd/inhibit/8.ref
/run/systemd/inhibit/6        /run/systemd/seats/seat0
/run/systemd/inhibit/6.ref    /run/systemd/sessions/c1
/run/systemd/inhibi

[2018-06-09 16:14] #61 closed

[2018-06-12 13:35] Yamakuzure commented on #61
Wow! Congratulations on finally working this out!

Maybe, if you want, you could describe your findings to the TinyCoreLinux people? That could help others who try what you did in the future.

[2018-06-12 13:43] Yamakuzure commented on #65
Good point!

And that is a fine update to meson. I always found mesonconf really counter-intuitive.

[2018-06-12 13:47] Yamakuzure commented on #60
Fixed with 2fb9555 :
With the new option `poweroff-path`, defaulting to `/sbin/poweroff`, cases can be handled where it is not a symlink to `/sbin/halt` but an individual program.

[2018-06-12 13:47] #60 closed

[2018-06-13 06:14] juanitotc commented on #61
Already done, see the last post here:

http://forum.tinycorelinux.net/index.php/topic,16875.msg137479.html#msg137479

[2018-06-13 06:56] Yamakuzure commented on #61
👍

[2018-06-15 08:56] Yamakuzure commented on #64
Great. I had written an answer and now it is not shown. Glad I looked into this, because the assignment was gone, too. I think this happened while I was using my phone as  a hot spot.

Alright. I have to investigate this. I __think__ the build system will enable debug messages if you have any -g flags in your CFLAGS.

Further the environment variable SYSTEMD_LOG_LEVEL is heeded.

However, as I am

[2018-06-15 08:58] farmboy0 commented on #64
I do use -ggdb for stack traces but I do not want debug logging.

[2018-06-15 09:00] Yamakuzure commented on #59
I amcurrently running my machine with a build from v238-stable branch. It is not fully optimized yet, and I still have to go after the current list of issues, but it won't brick your system (any more).

So for the brave, please try it out and report back whether the slow auth behaviour is still present.

For Gentooers, I have a live ebuild for the v238-stable branch in my overlay ("seden" via laym

[2018-06-15 09:10] Yamakuzure commented on #53
I have good and bad news.

First the good one: "User Lingering" works at least so far as lingering users get reactivated when you reboot your machine. You can see it with `loginctl show-user <username>` (or `user-info`)

Now the bad one: The code that determines whether to kill a users processes does not look that up. So even if you set your user on 'lingering', your processes will be nuked if you

[2018-06-15 09:12] Yamakuzure commented on #50
As nobody was able to reproduce this, I close this as no longer valid.

Feel free to re-open this issue if you can reproduce this with v236 or v238.

[2018-06-15 09:39] PegasusEpsilon commented on #53
I may have been unclear somewhere. Logging out normally leaves my tmux session alone as I'd expect. It's only when switching to a console and killing xdm (with `rc-service xdm restart`) that tmux unexpectedly dies. It's also the behavior that makes tmux unexpectedly useless in the event of troubleshooting janky hardware.

Again, to be sure:

Logging out normally => tmux works as expected.

Restart

[2018-06-15 09:57] Yamakuzure commented on #53
Well, I guess that I am on the right track then. If the normal session closing does not cause elogind to kill tmux, then terminating xdm that way will most likely causing something to call terminate-session on org.freedesktop.login1.

If I am right, you will be able to set your user on lingering state, restart xdm, and tmux will keep runnung.

[2018-06-15 09:58] Yamakuzure commented on #59
@udevd : 👍

[2018-06-15 13:52] udeved commented on #65
I am not sure if its related.

[code]

Isn't 'tools/meson-check-api-docs.sh' part of the source? This occurs only if I invoke `meson test` in the build.

[2018-06-15 16:02] udeved commented on #65
Snippet from /build/elogind/src/build/meson-logs/meson-log.txt

[code]

[2018-06-15 17:46] udeved opened #67 "elogind-238 api-docs not found"
Building from 238 branch latest head, I get a build failure.

[code]

Snippet from /build/elogind/src/build/meson-logs/meson-log.txt

[code]
I simply disabled the offending call to build.

[code]

[2018-06-18 06:55] Yamakuzure commented on #67
The executable bit was missing.

Fixed with 3134d0255c21eee22e878d55f6d969a7ee18ea00

[2018-06-18 06:55] #67 closed

[2018-06-18 07:01] Yamakuzure commented on #65
@udevd: No, not related. The executable bit was missing (fixed in 3134d0255c21eee22e878d55f6d969a7ee18ea00) which my meson version 0.46.1 does not seem to have a problem with.

The codec error is the character "✓", which upstream has in there for ages:
[code]

So the question is, why your system insists on ASCII-7.

[2018-06-18 07:05] Yamakuzure commented on #64
I now have booted my machine with a full release build. elogind still pumps out all the debugging messages.
I have not set SYSTEMD_LOG_LEVEL anywhere, so this is clearly a bug I'll have to fix before the next release. (And backport to v236 and do a service release.)

[2018-06-18 07:12] Yamakuzure commented on #65
@DareDeb-User : Fixed in 3813ca718

[2018-06-18 07:12] #65 closed

[2018-06-18 10:38] udeved commented on #59
@Yamakuzure
I am afraid to report that elogind-238 still has this strange behavior which started with 236.

[2018-06-18 11:43] udeved commented on #65
@Yamakuzure

Good question, it is a build chroot.

[2018-06-18 14:31] Yamakuzure commented on #65
@udeved : is your `locale` set to `C` or `POSIX` ?

[2018-06-18 14:39] Yamakuzure commented on #59
I am suspecting that issue #64 has something to do with it, because I found no differences in normal operation (source code wise) to the pre-236 series. But since 236 there is an error somewhere that makes the system going full debug as if -Ddebug=elogind was specified.

Well, this is far-fetched, but logging does cause some lag, so it is at least worth investigating.

[2018-06-18 15:44] Yamakuzure commented on #64
OH MY GOD!!!

I found the problem. When the build system was changed from autotools to meson, config.h changed significantly:
Instead of disabled values being undef, and questioned with `#ifdef ENABLE_FOO`, disabled values are now explicitly `#define ENABLE_FOO 0`.
...and I forgot to switch the check whether `ENABLE_DEBUG_ELOGIND` is set from `#ifdef` to `#if`...

However, this is now fixed in 839

[2018-06-18 15:57] Yamakuzure commented on #64
*yay* --- fixed!

[2018-06-18 15:57] #64 closed

[2018-06-18 15:59] farmboy0 commented on #59
@Yamakuzure Could you share your "regexp magic" to create the table?
I am getting quite a lot more log spam from Plasma on Wayland than Plasma on X11 and want to see if there is something fishy here.
Thanks in advance

[2018-06-18 16:00] Yamakuzure commented on #59
Commit  839a2a7 did wonders!

The first thing is, that everything is snappy again without the log-lag. And the adjustment of screen brightness is working as it should. So in the end it _was_ eloginds (or better: *my*) fault after all.

I have backported the fix to v235-stable and v236-stable. Please, everybody, test it.

[2018-06-18 16:15] Yamakuzure commented on #59
@farmboy0 : I used something like this:

[code]

[2018-06-19 05:01] Yamakuzure commented on #50
I am reopening this issue, because I can now reproduce that again.

Fortunately the machine does not restart/poweroff despite the message, so I am eventually able to single-step this.

[2018-06-19 08:59] udeved commented on #59
Yippie @Yamakuzure that debug commit seems to have fixed it.
No message spam in logs, all snappy. :)

[2018-06-19 22:43] DareDeb-User opened #68 "Elogind v238: several manpages gone"
Hi, i'm trying out v238 and several manpages that were available in v236 are now missing:
in v238 I have only 'man(7) elogind.directives' and 'man(7) elogind.index'.
No more man(1) loginctl, man(5) logind.conf, man(8) elogind, man(8) pam_elogind and man(3) sd_* (various, all missing).
I see that in commit
https://github.com/elogind/elogind/commit/1be26d51ffd355e1e38fd66c76b296594daf5ed0
you comple

[2018-06-19 23:42] DareDeb-User opened #69 "elogind-238: 6 tests are failing due to 'C++ style comments'"
On my system (Debian Sid, amd64) i'm building elogind with the "debian building system" in order to generate a  proper .deb package, and with elogind v238 the build stops because of 6 tests that are failing with an error
`error: C++ style comments are not allowed in ISO C90
 //#include <time.h>`
Changing the line from
`//#include <time.h>` to `/**/#include <time.h>`
in file `src/systemd/sd-event.h

[2018-06-20 06:42] Yamakuzure commented on #68
@DareDeb-User : Dammit. man/rules/meson.build is auto-generated and shouldn't be touched. I'll see to it that it reappears. Thanks for the heads up!

[2018-06-20 06:45] Yamakuzure commented on #69
I am doing the tests once all other issues are taken care of. So this will eventually be fixed, don't worry. v238 didn't have a release, yet, so please have a little more patience.

Side note:

...will actually re-insert the include, which was to be avoided... The change must be into
`/* #include <time.h> */`.

[2018-06-20 06:46] Yamakuzure commented on #50
Finally being able to single-step this problem did the trick. *yay*

[2018-06-20 06:46] #50 closed

[2018-06-20 06:51] Yamakuzure commented on #59
@udeved : Thank you very much for testing!

I am closing this on faith that the culprit is found and eradicated.

Feel free to re-open if you think I'm wrong.

[2018-06-20 06:51] #59 closed

[2018-06-20 09:51] DareDeb-User commented on #69
...
...will actually re-insert the include

Hmmm, looks like I would definitely benefit from learning some C essentials..

Sure, I have no rush, just want to make you aware of the problem in case you miss it.
Thanks

[2018-06-20 09:58] udeved commented on #65
@Yamakuzure

I found a little typo in our build script when trying to figure out whats wrong with the 238 tests, ie the chroot wasn't properly localed.

[2018-06-20 12:17] Yamakuzure commented on #69
Thanks for the heads up 👍

[2018-06-21 06:54] Yamakuzure commented on #63
There was a misunderstanding in how cgroup fs trees are mounted.

Fixed by f281944

[2018-06-21 06:54] #63 closed

[2018-06-21 07:15] Yamakuzure commented on #68
Fixed by 53002fdc5

[2018-06-21 07:15] #68 closed

[2018-06-21 13:10] udeved opened #70 "packages that need elogind support patches"
I start a little tracking list for packages that need elogind support patched in, regardless of distro.

Currently, there are packages that have a systemd-logind flag in configure/make or similar, but lack proper elogind support via pkgconfig.

Has elogind support:

- [x] procps (upstream)
- [x] dbus
- [x] networkmanager (upstream)
- [x] gvfs  (upstream)
- [x] accountsservice  (upstream)
- [x] pam

[2018-06-21 15:17] udeved commented on #70
NetworkManager has upstream elogind support as well.

I found a tracking thread useful, since this is basically a cross distro effort, and w may use it to sync our efforts or resolve issues related to elogind integration.

There are more packages that potentially could use elogind integration, but besides xorg-server, the above are the often used.

[2018-06-21 15:32] udeved commented on #70
for modemmanager, it has this flag:

`--with-systemd-suspend-resume=no`

This seems to be related to logind functionality.

For bluez, it has enable/disable-systemd, I had no time to look at bluez, and if it only installs systemd units.

[2018-06-21 16:47] Yamakuzure commented on #70
bluez does not need elogind support. --with-systemd only installs a service file to start bluez on dbus request. bluez uses systemd-login nowhere. For the discussion, see https://bugs.gentoo.org/639434

[2018-06-21 17:42] Yamakuzure commented on #69
Fixed in 9412d18

[2018-06-21 17:42] #69 closed

[2018-06-21 17:46] Yamakuzure commented on #70
@kensington Could you please have a look? I am sure there is plenty we've missed. None of us can know everything anyway, right? ;-)

[2018-06-21 17:51] Yamakuzure commented on #53
@PegasusEpsilon : I am closing this now, as the change I made should do the trick.

Feel free to re-open if it doesn't, but we'll have a problem then.
Calling `terminate-session`, which would be the right thing to do if someone kills/ends xdm, will no longer kill processes of your user if you have enabled `lingering` for them.

However, `terminate-seat` or `kill-{user,session,seat}` is something b

[2018-06-22 06:43] Yamakuzure commented on #45
@kensington : I haven't forgotten this, I just think it isn't super high priority. Gentoo can work around this alright.

However, I am almost done preparing the next releases, and will look into this next.

[2018-06-23 08:36] Cogitri commented on #70
app-admin/packagekit-base
    gnome-base/gvfs
    sys-apps/accountsservice
    sys-process/procps
    x11-apps/xinit (not needed / useless)

gvfs and accountsservice have upstream elogind support since their latest releases.

[2018-06-25 08:49] Yamakuzure commented on #70
@Cogitri : That's great news! 👍

[2018-06-28 07:41] Cogitri commented on #70
About Pulseaudio: I'm in the process of upstreaming a simple patch, see https://bugs.freedesktop.org/show_bug.cgi?id=107050

We've been using that on Exherbo for some time and it works for both elogind and systemd

[2018-06-28 08:24] Yamakuzure commented on #70
@Cogitri : Looks good! 👍 I hope it'll get accepted and merged soon!

[2018-06-28 18:07] DareDeb-User commented on #70
@Yamakuzure

Are you sure it needs systemd itself and not only systemd-logind?
I've tried few times to make Xorg run as non-root, and the first problem is that Xorg need to be started from a vt but elogind does not manage non-root vt session.
Of course than a patch to make xorg link against libelogind instead of libsystemd would be likely needed, but the fact that i cant have a user vt session pre

[2018-07-02 09:36] Yamakuzure commented on #70
@DareDeb-User : No you are right. Problem here: systemd manages VTs, elogind doesn't. So to get a user vt session, you need a virtual terminal manager. The only one I know of is systemd.

[2018-07-02 11:02] shiba89 commented on #51
I can reproduce this on my Gentoo, both GNOME session and tty. Using eudev-3.2.5, elogind-325.4, linux-4.9.95-gentoo. Another Gentoo user is affected by this too: https://forums.gentoo.org/viewtopic-p-8232618.html#8232618
Using Void's patch solves this for me.

To be even more sure I'll check a hybrid Parabola/Archlinux32 with KDE I have on my netbook, as soon as possible.

[2018-07-02 14:31] Yamakuzure commented on #51
@shiba89 Thank you for testing, I am re-opening this, awaiting your check with Parabola/KDE.

[2018-07-02 14:32] Gottox commented on #51
@Yamakuzure as I said, reverting https://github.com/elogind/elogind/commit/964a6d9fb555cc86528eb1cc1f6d044f85584842 is enough to workaround the issue.

The real fix is a new release from eudev.

[2018-07-02 19:17] shiba89 commented on #51
Same problem. It doesn't suspend in both tty and KDE _**unless**_ KDE's powerdevil is in charge of managing button events (which is the default behaviour). @Yamakuzure just to be sure could you please check again on your setup but with a smaller runlevel (I'm blaming display managers and Xorg in particular)? Thank you very much

[2018-07-02 21:07] oniGino opened #71 "more acpid functionality (wishlist)"
I have several triggers which i don't think can be ported away from acpid. like dim screen on ac unplug, etc.

is there any way to get elogind to support additional acpi triggers and run different scripts accordingly?

[2018-07-15 22:10] udeved commented on #70
@Yamakuzure

Do you know if it is or would be possible and viable to include vt management in elogind?

[2018-07-18 09:39] Gottox commented on #51
@Yamakuzure the most elegant solution is to poke the eudev devs for a new release and hope it doesn't break anything else.

[2018-07-18 09:40] Yamakuzure commented on #71
Well, that's what acpid is for. We only support a few special buttons, because their handling depends on user privileges and who's logged in.

But (un)dimming the screen on ac plug-in(-out) has nothing to do with user privileges. Additionally acpid is very flexible and can handle basically everything that comes from acpi, no matter what it is. elogind could never become that flexible.

To stay at

[2018-07-18 09:51] Yamakuzure commented on #70
@udeved : I don't know from the top of my head, but I'll look into it.

[2018-07-18 16:39] oniGino commented on #71
I understand that, what I was hoping for  a more extensible framework within elogind where if desired, scripts could be dropped in to handle things like acpi power events if so desired. Similar to the sysem-sleep and system-power folders but where the argument is an acpi event
I suppose I see modern elogind and systemd tools as replacements for legacy tools like acpid, pm-utils, consolekit.  And b

[2018-07-19 09:46] Yamakuzure commented on #71
@oniGino : Okay, now I understand where the issue lies...

You are right, systemd is replacing all sorts of classic tools with its own variants and rewrites. Besides being an init, systemd consists of a lot of individual programs and daemons.

elogind is just **one** of those daemons, namely systemd-login. Added are only those programs that belong to systemd-login, like loginctl.

So the only "leg

[2018-07-19 09:46] #71 closed

[2018-08-07 12:26] metafarion opened #72 "How to interrupt suspend?"
I'm trying to make use of the sleep hooks placed in /lib/elogind/system-sleep to prevent the system from suspending under certain conditions, but unlike pm-utils, elogind doesn't seem to care if a pre-suspend script exits with code 1.  What is the proper way to conditionally interrupt automatic suspend?

[2018-08-10 07:08] Yamakuzure commented on #72
But it should. I have to investigate this.

[2018-08-10 12:13] metafarion commented on #72
I am by no means a master coder, but I've placed a simple script in the system-sleep directory to test this functionality.

``#!/bin/bash``
``echo 'Yes, I ran.' > /tmp/nosleep.txt``
``exit 1``

The text DOES get written, but the system sleeps anyway.  I also get the following item in dmesg:

``/lib64/elogind/system-sleep/nosleep4u.sh failed with error code 1.``

I'm working with elogind-235.2 on a

[2018-08-14 06:25] Yamakuzure commented on #72
So everything is working just fine except the suspension isn't cancelled. That gives me a good hint about where to start looking, thank you very much!

I have to ask for a bit of patience, though, I am currently migrating towards v239.

[2018-09-08 06:31] udeved commented on #70
@Yamakuzure

A new package popped up, [**dbus-broker-15**](https://github.com/bus1/dbus-broker), used in latest gnome at-spi.
Its meson build files have a hard depend on (lib)systemd>=230.
Additionally, according to the changelog, dbus-broker does the machine-id thing from libsystemd-daemon. Not sure this is elogind patchable.

[2018-09-08 07:50] Cogitri commented on #70
About PA: I've opened a MR for that some time ago: https://gitlab.freedesktop.org/pulseaudio/pulseaudio/merge_requests/1

[2018-09-08 10:59] perfect7gentleman commented on #70
[code]

[2018-09-08 11:04] Cogitri commented on #70
The patch is built for pulseaudio-scm, you may have to adjust it slightly to apply on 12.2

[2018-09-10 11:41] Yamakuzure commented on #70
@udeved : Thanks for the heads up, I'll have a look.

@Cogitri , @perfect7gentleman : 1 out of 4 is okay. So there might be only a little discrepancy.

[2018-09-10 16:08] Cogitri commented on #70
Actually, 3 out of 4 hunks apply, only one failed. Applying the patch on pulseaudio 12.2 shouldn't bee to much work, just take a look at configure.ac.rej

[2018-09-10 18:13] Yamakuzure commented on #51
This issue should be "fixed" by commit 0af8158 in the v239-stable branch.
Would be cool if someone could test this. I'll backport to 236-stable and 238-stable then.

[2018-09-11 10:07] perfect7gentleman commented on #70
patch for 12.2 https://paste.pound-python.org/show/EWwxXpabt2soEcjwlXdT/

[2018-09-11 10:40] shiba89 commented on #51
Works OK on my hardware.

[2018-09-21 10:32] perfect7gentleman opened #74 "elogind-239.9999/src/basic/missing.h:1375:8: error: redefinition of ‘struct statx_timestamp’"
[code]

[2018-09-21 10:36] udeved commented on #70
@perfect7gentleman

I tried the patch, so far so good, but the actual pulseaudio package misses the module_systemd_logind.
I thought the patch would enable building the module? There is no real noticable difference to PA without the patch. Do I miss something?

[2018-09-21 10:48] Cogitri commented on #70
See the updated version of the patch (god I hate autotools)

[2018-09-21 11:02] udeved commented on #70
@Cogitri

[This](https://gitlab.freedesktop.org/pulseaudio/pulseaudio/merge_requests/1/diffs?commit_id=98b0b31a3f4b6031c40e10f526d5744e64c3f7c4) one, yes?

[2018-09-21 11:29] Cogitri commented on #70
Yup, that one. Be sure to use the latest version. Might need to be rebased to work on non scm versions.

[2018-09-21 11:38] perfect7gentleman commented on #70
@Cogitri, @udeved
still no module_systemd_logind

[2018-09-22 08:06] udeved commented on #70
Here is the pa-elogind patch for pa-12.2.
https://github.com/artix-linux/packages/blob/master/pulseaudio/repos/extra-x86_64/pa-elogind.patch

[2018-09-25 05:38] Yamakuzure commented on #74
Wow. After we had so much "fun" getting everything ready to work with glibc-2.26 and 2.27, the next incarnation makes trouble again. Nice.

I'll look into your PR in a sec, but first I wanted to thank you for going ahead and trying out the new **2.28 version of glibc!

[2018-09-25 06:38] Cogitri commented on #70
Hey there,

since people like to strip patch headers...I actually wrote that patch and am in the process of upstreaming it.

That was done after upstream's wishes, they want it to be elogind-login.

...and it shouldn't. From my experience upstreams are quite reluctant to add that. With a strict "opt-in" they were far more cooperative.

Also done after upstream's wishes. https://gitlab.freedesktop.

[2018-09-25 07:13] Yamakuzure commented on #70
Well, being "upstream's wishes" doesn't magically make it correct. "elogind-login" is the same as writing "udevd-udev". But this isn't the place to debate that.
And down the line we can, in such a case, elegantly shrug our shoulders and grant upstream their wishes. 😉
I mean, why fuss about it if it brings us their cooperation? Things can be fixed later if needed and wanted anyway. 😁

As for the "o

[2018-09-25 14:30] #74 closed

[2018-09-25 16:13] perfect7gentleman opened #76 "elogind-239.9999: meson_options.txt:83:0: ERROR: Option name debug is reserved."
[code]

[2018-09-25 16:32] Yamakuzure commented on #76
This is new. I have meson-0.47.1, and there is no hint about that.

However, that was an upstream option, I'll check what the systemd devs did about it.

[2018-09-25 16:34] Yamakuzure commented on #76
Hmm... still there in systemd-stable/v239-stable and systemd/master.

[2018-09-25 16:52] perfect7gentleman commented on #76
imo, this is meson-0.48 bug.

[2018-09-25 18:09] perfect7gentleman commented on #76
here is bug in Debian
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=909455

[2018-09-26 00:28] perfect7gentleman commented on #76
that patch helped
[code]

[2018-09-26 01:33] cwilling opened #77 "Path to system_bus_socket"
The path to dbus' system_bus_socket is currently hard coded to /run/dbus/system_bus_socket in two locations, namely src/basic/def.h and src/libelogind/sd-bus/test-bus-vtable.c. The first of these files comments that `we use the new /run prefix here (instead of /var/run) since we require them to be aliases and that way we become independent of /var being mounted`. I suspect this is a systemd "requi

[2018-09-26 05:35] Yamakuzure commented on #76
Yes, they simply renamed the option at Debian. I wonder why there isn't anything in the systemd repos, yet. (*)

Changing that option means, that, once backported, all Gentoo ebuilds have to be changed. I'll keep that in mind. However, I'd like to wait and see what the systemd devs decide to do about it.

(*) They have a closed Issue about it: https://github.com/systemd/systemd/issues/9883
That is

[2018-09-26 05:51] #76 closed

[2018-09-26 06:10] Yamakuzure commented on #77
@cwilling

Of course I would! I don't like hard-coded paths either.

Please make sure that the changes are masked in the same scheme as they are now:

To take something out and substitute it:

[code]
The `#else` part is optional of course.

And for additional code:

[code]

This scheme is needed, so my migration tools can migrate upstream patches mostly automatic. Further more there are sometimes

[2018-09-26 06:18] #51 closed

[2018-09-26 07:27] perfect7gentleman opened #78 "sys-auth/elogind-239.9999: ecompress-file failed"
have this bug only on 1 PC.
[code]
WTF is that?

[2018-09-26 07:36] Yamakuzure commented on #78
`rm -rf /tmp/portage/sys-auth/elogind-239.9999` then try again?

Honestly, I have never seen anything like that... :frowning:

I have diff'ed the pg_overlay ebuild with my (semi) official testing ebuild from my seden overlay, but they are equal.

Note:
 * https://gitweb.gentoo.org/user/seden.git/plain/sys-auth/elogind/elogind-239.9999.ebuild
 * https://raw.githubusercontent.com/perfect7gentleman/p

[2018-09-26 07:37] perfect7gentleman commented on #78
imo, it's smth wrong with system.

[2018-09-26 07:37] #78 closed

[2018-09-26 16:32] Yamakuzure commented on #72
This is the last issue open before v239 can be released. As some other issues have been fixed, too, this means new service releases for 236 and 238, too.

[2018-09-27 17:18] Yamakuzure commented on #77
@cwilling @perfect7gentleman : I have written a blog post about the three issues we fixed by yesterday here:
https://prydeworx.com/2018/elogind-bug-fix-wednesday-glibc-meson-dbus/

It is a very new site, so I'd like your opinions whether you are okay with the wording and how I mentioned you two, if you can spare the time.
Thanks alot!

[2018-09-27 21:29] cwilling commented on #77
That's fine with me - thanks for the mention.

[2018-09-28 12:02] Yamakuzure commented on #72
@metafarion : It seems we were both mistaken. I looked up all places where stuff from SYSTEM_SUSPEND_PATH and SYSTEM_POWEROFF_PATH gets executed in systemd, and the whole thing is in no way designed to even be able to react on the outcome of what it started.

Or in other words: Both folders are not meant to hold anything that can *interrupt* a pending suspension or shutdown.

However, I found out

[2018-09-28 13:03] metafarion commented on #72
The details of "how" are definitely out of my league.  I'm no coder, just a sysadmin looking to be able to configure intelligent automatic suspend on my workstations.  Virtually all window managers rely on mouse/keyboard input to keep them awake, and therefore have no respect for other conditions that might constitute "activity". I had previously been putting scripts in /etc/pm/sleep.d provided by

[2018-09-28 13:34] Yamakuzure commented on #72
On the contrary, you are perfect! This feature must clearly be an "opt-in", so how does an actual sysadmin would like to perform such an "opt-in"?
Would an entry in /etc/elogind/logind.conf be alright? What would be a sound name for such an option?

First I thought of an option to loginctl.
But I am on Plasma, and Powerdevil can not (have to look that up tonight) be configured to a specific comman

[2018-09-28 18:07] Yamakuzure commented on #72
:+1:

[2018-09-28 21:05] DareDeb-User opened #81 "Test-strip-tab-ansi fails with 239"
This test use to pas with 238. The output from tests:

ninja: Entering directory `../build/'
[0/1] Running all tests.
  1/134 cc-sd-bus.h:c                           OK       0.03 s
  2/134 cc-sd-bus.h:c-ansi                      OK       0.04 s
  3/134 cc-sd-bus.h:c-std=iso9899:1990          OK       0.02 s
  4/134 cc-sd-bus.h:c-std=iso9899:2011          OK       0.03 s
  5/134 cc-sd-bus.h:c-std=

[2018-09-29 10:57] Yamakuzure commented on #81
Thanks for the heads up!
This is testing week-end anyway, so your timing was perfect. ;-)

[2018-09-29 11:17] #81 closed

[2018-10-03 08:48] Yamakuzure opened #82 "elogind-238/-239 don't finish sessions, closed sessions stay on "closing" forever"
Hi everybody,

I have found another bug that postpones the release of elogind-239. More importantly the bug is also present in elogind-238:

After I have logged into Plasma, loginctl shows:

[code]

Yes, I had logged into tty2 and used `sudo`, which caused sessions 2 and c1. But they, as well as session c2, should be gone now.

They certainly are if I downgrade to v236-stable, and all versions bef

[2018-10-11 16:05] CameronNemo commented on #70
I noticed that the dbus patch in gentoo links the dbus library to libelogind. Any way around this so only dbus-daemon has the dependency?

[2018-10-15 10:16] Yamakuzure commented on #82
I _think_ I have found the culprit for this. But my time was up this morning and I'll check this out tonight on my way home.

[2018-10-15 10:17] Yamakuzure commented on #70
@CameronNemo : Basically adding elogind support only means to tell the projects build system to be comfortable with libelogind where it otherwise would have used libsystem. Any other manipulation would kill the "drop-in-replacement"-nature of elogind.

[2018-10-15 16:00] #82 closed

[2018-10-17 23:22] maxice8 opened #83 "Failure to build on musl due usage of qsort_r"
on src/basic/util.h

[code]

[2018-10-17 23:24] maxice8 opened #84 "Failure to build on glibc >= 2.28 due to statx"
[code]

There is a patch on https://github.com/void-linux/void-packages/blob/222eb183af9a03635bb3e4552c125417e72d74ae/srcpkgs/elogind/patches/fix-glibc-statx.patch

[2018-10-18 05:50] Yamakuzure commented on #84
How can this be? This ought to have been dealt with in https://github.com/elogind/elogind/issues/74 already.

The patch linked does not cut it. First, there is an error not removing the original "have = " line in meson.build. Second, statx is already checked for at that very place. And finally the block checks again with including linux/stat.h, which is already in decl_headers.

Honestly I am comp

[2018-10-18 05:51] Yamakuzure commented on #84
@maxice8 : Just out of curiosity: Could it be that glibc is built without -D_GNU_SOURCE?

[2018-10-18 05:52] Yamakuzure commented on #83
@maxice8 : Sounds like there is something for musl_missing.[hc] ...

[2018-10-18 05:57] Yamakuzure commented on #83
For reference : https://groups.google.com/forum/#!topic/osv-dev/csfKS5z6MUo :

[2018-10-18 07:49] perfect7gentleman commented on #84
[code]
no problems

[2018-10-18 09:53] udeved opened #85 "239.1 test failures"
The freshly released 239.1 produces test check fails, 238.2 is fine.

Here are the logs...

[meson-log.txt](https://pastebin.com/Pa73FWQW)

the relevant 3 tests thats fail from testlog.txt

[code]

[2018-10-18 11:06] Yamakuzure commented on #85
Interesting. I had everything checked and all tests where fine after issue #81 was solved.

Well, there haven't been many commits since then, so a quick `git bisect` tonight should do it.

[2018-10-18 11:07] maxice8 commented on #83
Musl upstream has refused to merge qsort_r since there are 2 competing implementations claiming the same name from GNU and from FreeBSD i guess in the meantime the GNU qsort_r can be provided on musl_missing ?

[2018-10-18 11:08] Yamakuzure commented on #83
@maxice8 : I guess so. Currently it looks like v239 will be the version with the fastest service release ever! :grimacing:

[2018-10-18 11:11] maxice8 commented on #84
adding CFLAGS="-D_GNU_SOURCE" to the environment fixes it, seems like meson.build is expecting it to be set.

[2018-10-18 12:06] Yamakuzure commented on #84
No, not really.
Here it is set for the build: https://github.com/elogind/elogind/blob/2e2fcdca834119eaf45336a959327d94e989b29e/meson.build#L485
Here it is set when checking for statx: https://github.com/elogind/elogind/blob/2e2fcdca834119eaf45336a959327d94e989b29e/meson.build#L579

[2018-10-18 17:49] Yamakuzure commented on #85
Odd... Something is wrong with my machine! I get this:

[code]

Haven't seen something like that before. Have to investigate...

[2018-10-18 18:33] Yamakuzure commented on #85
Ok, I had to sync and update mson and ninja. Seems like I had a buggy version.

However, the result is a bit disappointing:

[code]

[2018-10-18 19:35] udeved commented on #85
@Yamakuzure

What meson version do you use, what glibc and gcc?

[2018-10-18 19:46] udeved commented on #85
I found the error.
Its a chroot issue. It sources /etc/profile.d/* which sets LANG, however, this doesn't seem to work, ie the chroot has still C locale. If I export LANG=en_US.UTF8 in chroot, the tests succeed.
But why do the tests fail with 239.1 but not with 238.x amd earlier?

[2018-10-18 21:31] Yamakuzure commented on #85
@udeved : All three tests play around with UTF-8 codes.

 * test-format-table.c did not exist in v238,
 * test-process-util.c::test_get_process_comm_escape() utilizing UTF-8 was added in v239 and
 * test-string-util.c::test_cellescape() utilizing UTF-8 was added in v239, too.

Why the systemd devs completely ignore the fact that *nix system might be on "C" locale is riddles to me.
Maybe we can rem

[2018-10-20 21:04] emersion opened #86 "Ship busctl with elogind"
`sd-bus` is shipped with elogind, so I think it makes sense to ship the `busctl` command too.

[2018-10-21 04:06] CameronNemo opened #87 "Support user buses? software like mako and anbox use them"
https://github.com/elogind/elogind/blob/ca59daa95245e9a2348732da5b7ab5601a1be3dd/src/libelogind/sd-bus/sd-bus.c#L1331

[2018-10-21 04:55] CameronNemo commented on #87
@morphis would you add support for elogind if it exposed the sd-bus API for user sessions?

[2018-10-21 15:29] CameronNemo commented on #87
Can you elaborate? It seems that `sd_bus_open_user()` and friends obey the environment variable `DBUS_SESSION_BUS_ADDRESS`. In my desktop session this is set to `unix:path=/run/user/1000/sessions/1/bus`, but I am sure other options would work fine.

[2018-10-22 07:19] Yamakuzure commented on #84
I have upgraded to glibc-2.28 and rebuilt elogind-239.1. No failures. Build, tests and install work as expected.

However, I think I have a possible solution. Could you please try out this patch?

[code]

If I am putting together 1 and 1 correctly, this should be enough.

[2018-10-22 14:29] CameronNemo commented on #87
The software connects to the user bus you mentioned

[2018-10-22 15:38] bigon opened #88 "FTBFS with SELinux enabled"
Hi,

elogind currently FTBFS with SELinux enabled due to two include statements being commented, see:

https://github.com/elogind/elogind/blob/master/src/basic/selinux-util.c#L19
https://github.com/elogind/elogind/blob/master/src/basic/selinux-util.c#L24

[2018-10-22 19:31] emersion commented on #87
The session bus is used for instance by notification daemons. logind doesn't need to care about starting the session bus -- this isn't its job. Instead, the dbus session bus can be started e.g. with the compositor/window manager.

Some applications link with `libelogind` to use the `sd-bus` library. They just want to use `sd-bus` to connect to the session bus.

[2018-10-23 06:19] Yamakuzure commented on #87
Yes, but if a user bus is started, no matter how, and there is software that uses/needs that, supporting it would be logical.

PR https://github.com/elogind/elogind/pull/89 doesn't make it look overly complicated, so I think we can do this.

To recap:

1. elogind can not start a user bus, as it is not a service manager.
2. A user bus might be started by other means than a user instance of systemd.

[2018-10-23 06:54] Yamakuzure commented on #86
Hmmm... Never heard of that one.

I browsed its sources for the help text and what I read sounds useful. At least it will help in future issues like #59 to needing to use dbus-send directly.

[2018-10-23 08:47] udeved commented on #87
@Yamakuzure

I just checked, for example at-spi-core comes with unit files that are installed on arch linux in /usr/lib/systemd/user

[2018-10-23 11:29] Yamakuzure commented on #88
Good catch! I don't have the environment to really test SELinux at the moment. :-(

[2018-10-23 12:29] joakim-tjernlund commented on #70
There is an MATE effort here:
https://github.com/jorgicio/mate-elogind-gentoo

[2018-10-23 17:47] #88 closed

[2018-10-23 18:07] #85 closed

[2018-10-23 18:08] Yamakuzure commented on #85
@udeved : Artoo, all tests should work now as expected. At least they do here with LC_ALL="C". Hopefully I did this correct and your issues are gone, too.

[2018-10-23 18:11] Yamakuzure commented on #84
Just thought I note this here:

https://bugs.gentoo.org/show_bug.cgi?id=662776 :grin:

[2018-10-23 18:14] Yamakuzure commented on #83
@maxice8 : I have started looking for the glibc implementation of qsort_r. It seems too havi to put it in musl_missing.[hc]. So I am also checking whether an own source file, may be in 'shared' works out.

[2018-10-23 18:20] #84 closed

[2018-10-23 18:33] udeved commented on #85
@Yamakuzure

I will simply make a test build in chroot and see, but if it works for you, I suspect it will work for me too. :)

[2018-10-24 01:02] CameronNemo commented on #87
Your recap is correct. I would only specify that from the perspective of sd-bus, a user bus and a session bus are nearly indistinguishable. They are both unprivileged, and their address is specified in the environment variable `DBUS_SESSION_BUS_ADDRESS` (even for user buses they use that env var).

[2018-10-24 05:48] #86 closed

[2018-10-24 06:56] emersion commented on #87
Thanks!

[2018-10-24 11:05] bl33pbl0p commented on #87
@CameronNemo

Just a heads up, latest systemd does not set DBUS_SESSION_BUS_ADDRESS, and sd-bus (and libdbus and gdbus too) check for the socket at $XDG_RUNTIME_DIR/bus. See https://github.com/systemd/systemd/commit/2b2b7228bf

[2018-10-24 14:48] Yamakuzure commented on #87
If I understand Lennarts commit message correctly, we can simply drop it and be done with it? Cool!

Re-Opening as a reminder to cherry-pick that! :smile_cat:

[2018-10-25 18:02] Yamakuzure commented on #83
@maxice8 : Could you please checkout or download f2c9a0d and try out whether this works?

Thank you very much!

[2018-10-25 19:04] maxice8 commented on #83
testing as a patch for Void Linux's elogind pkg

[2018-10-25 19:11] maxice8 commented on #83
[code]

[2018-10-25 19:12] maxice8 commented on #83
both downloading the commit as an archive and using it as a patch fail with this ?

can't one of the qsort_r musl patches that are floating around be used ?

[2018-10-25 21:00] Yamakuzure commented on #83
The implementations I found looked very different.

However, I simply forgot to replace a few glibc specific identifiers. As I have a glibc stdlib.h, it didn't break for me.

This should be fixed in 955e78a - And many many thanks for testing!

[2018-10-25 21:05] maxice8 commented on #83
On Thu, Oct 25, 2018 at 02:00:04PM -0700, Sven Eden wrote:

I'll take another test, be right back.

[2018-10-25 21:18] maxice8 commented on #83
back, works.

Thanks :+1:

[2018-10-25 21:18] #83 closed

[2018-10-28 13:20] DareDeb-User opened #90 "Failed to register SIGINT handler [elogind 239.1]"
Hi,
I'm running elogind in Debian/Unstable with runit as init/supervisor:
At each shutdown i see that the parent runsv of elogind exits -1, which according to runsv man page means that the run script didn't exits normally;
in the logs i see messages like this
`auth.err: Oct 28 12:43:50 elogind[2365]: Failed to register SIGINT handler: Device or resource busy `.

Also (possibly related) when i try

[2018-10-29 08:40] Yamakuzure commented on #90
Wow... I found that message in dmesg. Never sent SIGINT to elogind myself, it would terminate my Plasma session.
That LXQT comes crashing down on your machine is curious. Which elogind version are you running?

[2018-10-29 15:27] DareDeb-User commented on #90
now i have v239 (build from v239-stable branch); i'm 99% sure that i don't have this issue with v238 (if you want 100% sure i can try to downgrade to 238)

[2018-10-29 16:11] Yamakuzure commented on #90
I have not heard of this before. There was a problem when the signal handler got introduced, but that's it. Therefore I am rather sure that you are correct and this is newly introduced in 239.

[2018-10-30 07:02] Yamakuzure commented on #90
It will take a while. The systemd devs have pushed hundreds of commits to v238-stable and v239-stable. I am currently migrating the v239 branch, and will look into this signal thing next.

[2018-10-31 14:02] DareDeb-User commented on #90
Sure, no rush here.
Thanks

[2018-11-02 13:18] ng-0 opened #91 "README (contact, details)"
While it is true that we can still answer questions about elogind, I am not sure if pointing to the guix channel is still appropriate.
Every now and then developers end up in our channel asking for advice.

Improvements?

- Maintainer clarification.
  * I assume @Yamakuzure is the maintainer or at least most frequent developer of elogind these days. You can only find this out by analyzing the git

[2018-11-02 15:33] Yamakuzure commented on #91
@ng-0 : Thank you very much for your feedback!

Your timing is astonishingly perfect. I am sick at the moment, stomach flu since wednesday, but I got up to answer you as this is important.
For a while now I had the feeling that a forum would be nice.
As you have seen, my page prydeworx.com is far from complete. I have very limited spare time, so filling it with all the details of all projects I am

[2018-11-05 14:58] markhindley opened #92 "SIGABRT with glibc program_invocation_short_name"
Hello,

I am packaging v239.1 for Devuan and Debian. When running the "elogind -D" I get SIGABRT in elogind_free_program_name(). The issue appears to be that with this glibc (version in Debian unstable is 2.27) program_invocation_short_name overlaps with program_invocation_short_name rather than pointing to a separate buffer as the code expects.

There is a related issue in src/basic/process-util.

[2018-11-07 10:12] kensington commented on #91
I've used phpBB before and liked it, however I think as maintainer you should pick whatever you like best.

If there's interest in a more traditional mailing list and/or bug tracker, one option for hosting could be possibly getting them added to the existing Gentoo infrastructure (although I'm unsure if this level of association is desirable or not).

If there's interest for a dedicated IRC channe

[2018-11-07 11:44] Yamakuzure commented on #92
That is rather unique. Both variables are protected by __GLIBC__ defined by glibc. The SIGABRT suggests that __GLIBC__ was not defined when building elogind. How can this be?

Oh, hang on!

That was changed to have it checked by meson. If it is detected that these variables are provided, HAVE_PROGRAM_INVOCATION_NAME is defined as 1 and they do not get declared.

The test snipped is here:
https://g

[2018-11-07 12:49] markhindley commented on #92
On Wed, Nov 07, 2018 at 11:44:40AM +0000, Sven Eden wrote:

It returns 0:

apollo:/tmp# ./test && echo yes
yes

But also, as I noticed in elogind, program_invocation_short_name is a pointer
*within* program_invocation_short_name:

(gdb) b 4
Breakpoint 1 at 0x1129: file test.c, line 4.
(gdb) r
Starting program: /tmp/test

Breakpoint 1, main () at test.c:4
4      if (program_invocation_name && progr

[2018-11-07 13:36] wingo commented on #91
I agree with @kensington that as maintainer, @Yamakuzure you should do what you like :)

For what little it's worth: I would idle in an IRC channel or mailing list but probably not be active.  I probably would not visit a forum myself, but I am no good at doing community-building things, so that doesn't count for much :)  I don't see any problem with elogind using infrastructure from any distro, G

[2018-11-08 07:12] Yamakuzure commented on #92
Well, glibc defines those variables and their implementation details are irrelevant.

However, I noticed that the new guarding was not only incomplete, it was also meant well but made too complex.

I'd advise you to postpone packaging elogind until next week when I will release v239.2 ; which has many fixes.

[2018-11-08 14:34] Yamakuzure commented on #91
Well, I am not very comfortable with mailing lists. They tend to ... get spammy.

@kensington : If you'd like to set up an IRC channel, then please fell free to do so. I have no time for doing much, and I do not know whether I can really get into IRC again for no. But as it just was decided, I'll switch jobs on January 1st, and there I'll be at least perfectly capable to idle all day in the channe

[2018-11-09 07:16] Yamakuzure opened #93 "v239.1: loginctl refuses to work without a user bus"
After enabling user buses, see issue #87, loginctl does no longer work if only a system bus is available.

This is caused by hitting superfluous checks whether systemd has been used to boot the machine before allowing to connect to the system bus.

Before that, connecting to a user bus was re-routing to connect to the system bus, which bypassed these checks.

Thanks a lot to Stefan for finding thi

[2018-11-09 07:29] #93 closed

[2018-11-09 08:04] Yamakuzure opened #94 "v239.1: PID file not removed when elogind is terminated"
I got an e-mail from Stefan about elogind not removing its PID file if it is shutdown using signal 15 (SIGTERM).

As /run is on tmpfs nowadays, this is of no real concern if elogind crashes on reboot or if the whole machine comes down. However, not all systems are like that and some have not put /run into RAM.

On these systems elogind fails to start on next reboot if a stale PID file exists.

The

[2018-11-09 08:40] kensington commented on #91
OK, I registered #elogind on freenode.

[2018-11-09 09:22] Yamakuzure commented on #90
I re-open this. Unfortunately I wasn't only on the wrong track, I also completely misunderstood some internal mechanics, so the "fix" doesn't really fix anything.

Sorry for the fuss. To my defense I can only say that my train neared my destination and I wanted that one finished.
Note to self: If you need to hurry too much, better postpone next time!

[2018-11-10 09:10] #90 closed

[2018-11-10 09:14] Yamakuzure commented on #94
The second task, making elogind to actually check the PID file if one is found, is on my TODO list.

[2018-11-10 17:55] daym commented on #94
Checking the PID in the PID file doesn't sound safe - what if it's coincidentially the same as it was in the previous boot (f.e. a deterministic boot process could easily make that happen every time).

Better would be not to use a pid file but something else. Doesn't elogind provide a dbus service? How come it's not enough to try to register the dbus service and if that doesn't work (because it's

[2018-11-11 10:14] Yamakuzure commented on #94
Well, elogind checks the presence of a PID file, before it would create its own.

 * If the contained PID is its own, then everything is in order.
 * If the contained PID is different and belongs to an elogind[-daemon] process, then elogind is already running.
 * If the contained PID is different and belongs to something else. then it's a stale PID file that can be overwritten.

Unfortunately serv

[2018-11-11 11:15] udeved commented on #94
@Yamakuzure

Would openrc do if elogind service was supervised?
Runit doesn't need it afaik, it uses the supervisor pid.

[2018-11-11 15:07] markhindley commented on #92
On Thu, Nov 08, 2018 at 06:40:58PM +0000, Sven Eden wrote:

Thanks for this. It certainly fixes the SIGABRT. However, the dmesg log looks
odd:

[63746.587038] n[18952]: Removed session 34.
[63778.520601] n[18952]: System is powering down. (The system is going down for power-off NOW!).
[63838.637008] n[18952]: New session 34 of user test.
[64113.588157] n[18952]: Removed session 34.
[68725.269765]

[2018-11-12 07:46] Yamakuzure commented on #94
@udeved : Not that I know of. The start-stop-daemon() command needs a PID file.

Well, I just noticed, that from the three points above the first two were already implemented, and the third was easy. See: 59e70b352

[2018-11-12 07:48] Yamakuzure commented on #92
@markhindley : Yes, now you mentioned it, my dmesg shows only the PID, and no name.

... let me see if I can do something about that...

[2018-11-12 08:11] #92 closed

[2018-11-12 08:15] Yamakuzure commented on #92
@markhindley : Should be fixed in v239-stable now.

At least my dmesg now shows:
[code]

[2018-11-12 13:22] markhindley opened #95 "Only get session on alternate login"

[2018-11-12 13:30] markhindley commented on #95
Hi,

I am still debugging my build of v239-stable that we are testing to upload to Debian.

At the moment I see 3 unexpected and maybe related issues:

 - The dmesg log shows elogind reusing session numbers. I expected them to be distinct

[   68.563706] elogind-daemon[1474]: New seat seat0.
[   68.574291] elogind-daemon[1474]: Watching system buttons on /dev/input/event3 (Power Button)
[   68.581

[2018-11-12 17:00] Yamakuzure commented on #95
They should unless a session can be re-used. This is how it looks on my system, after I had some fun logging in/out on TTY2-TTY4:

[code]

XDG_SESSION_ID is set by pam_elogin.so. I haven't tried out slim, but with SDDM it is always set unless I '_su_' to root.

I am currently installing slim, maybe I can find something out ...

Maybe that has something to do with a mistake I made when writing the

[2018-11-12 17:20] Yamakuzure commented on #95
HA! I just logged into OpenBox using SLiM, and XDG_SESSION_ID is not set, and loginctl returns an empty list. (if I log into Plasma, XDG_SESSION_ID is always set.)

The logs show this:
[code]
(The first line is from logging out of Plasma.)

For SDDM the logs show:
[code]

When I go comparing to what happens when I use SDDM versus SLiM, a line containing
`kernel: elogind-daemon[9007]: Removed sessi

[2018-11-12 23:54] markhindley commented on #95
On Mon, Nov 12, 2018 at 05:37:58PM +0000, Sven Eden wrote:

I am glad you found something -- I have been banging my head against this for
days thinking I am missing something!

Thanks.

Mark

[2018-11-13 08:04] Yamakuzure commented on #95
I think this is an upstream bug of either SLiM or PAM.
If I look into the SLiM sources (namely app.cpp), I can see that it calls PAM on login to create a user session. That's fine, as this will eventually call pam_elogind.so to create an elogind session.

But when things end, SLiM only calls _pam.close_session();_. Does this only close its own session? Is the closing of the user session first requ

[2018-11-13 08:41] Yamakuzure commented on #95
I have found out something else. If I wait for the 20 seconds before logging back into OpenBox with SLiM, everything works as expected, but I get the same session ID:
[code]

This is odd, but understandable if we look into the session status as reported by loginctl:
[code]

As you can see, slim is still there and listed as both "Leader" and "Service", with root being listed as Remote participant.

[2018-11-13 09:10] Yamakuzure commented on #91
Just an update o the forum thing:

I have taken a good look at the demos of both phpBB and myBB. Both support all the features I need, so I thought I'll just have a look and fiddle around with them a bit.

myBB was a lot snappier, but then this doesn't tell much as both are demos, and who knows what was going on with the phpBB one at that time. However, the quick answer feature from myBB is great.

[2018-11-13 13:42] metafarion commented on #72
239.1 just arrived in Portage; I'm gonna try it out as soon as I get a little free time.

[2018-11-13 14:00] Yamakuzure commented on #72
@metafarion : I have not yet implemented this feature. It is, however, planned for 239.2 which is almost ready.
If everything goes as I hope, the new release will be out by the end of this week.

[2018-11-13 15:31] markhindley commented on #95
On Tue, Nov 13, 2018 at 12:41:31AM -0800, Sven Eden wrote:

Thanks, that fits with most of what I saw. I have changed to lightdm which seems
to operate similarly to sddm.

The other part of this that is still incomplete is polkit integration.

We are trying to use elogind in a Debian sid install which also has libsystemd0
(but no other systemd components).

In this setup, polkit fails to map pids

[2018-11-13 16:25] Yamakuzure commented on #95
No, you can't.
systemd stores session information differently than elogind does, with user unitsand scopes. elogind can not support either and uses internal hash containers.
So when polkit asks libsystemd for a session id to a pid, it will search for a session-<pid>.scope and find nothing.
Please see here:
https://github.com/elogind/elogind/blob/d4a3f29/src/basic/cgroup-util.c#L1713
That's the fun

[2018-11-13 19:10] Yamakuzure commented on #95
HA! Maybe I have a solution.

Take a look at this:
https://github.com/systemd/systemd/commit/9afe9efb934

The delay was added to speed up re-logins, as the users service manager (private systemd instance) would not be restarted so often thanks to this enhancement.
As elogind does not launch a private systemd instance, that delay is causing more harm than good.

I am currently testing a possible fi

[2018-11-14 07:15] Yamakuzure commented on #95
Nope, not there, yet.

The delay has dropped from 20 to 11 seconds. This is caused by the user simply not logging out directly. Something is holding that back.

When PAM calls elogind to release the session, it is not stopped, but a 20 seconds timer is started. Once that is over, the session is torn down. This is done like this since 2014, to ensure, that a user is logged out properly. And it does

[2018-11-14 11:58] markhindley commented on #95
On Tue, Nov 13, 2018 at 08:25:54AM -0800, Sven Eden wrote:

Thanks, that is helpful. I hadn't managed to spot that distinction.

Mark

[2018-11-14 13:04] Yamakuzure commented on #95
@markhindley : I think we are hitting a dead end here.

If I am not much mistaken, SLiM has to be tought to fork a helper process that drops its privileges to a distinct SLiM user, so it can have its own session being created. Then, when the user logs in, that helper simply quits, releasing its session.
Currently SLiM does fork, but stays around until the user logs in.

That the current version is

[2018-11-14 13:11] markhindley commented on #95
On Wed, Nov 14, 2018 at 05:04:49AM -0800, Sven Eden wrote:

OK, thanks.

Are you going to persist with your first change to reduce the timeout inherited
from systemd?

Mark

[2018-11-14 21:53] marcin-sucharski commented on #70
@Yamakuzure @DareDeb-User I have managed to run xorg-server with elogind by using following ebuild on Gentoo: https://github.com/marcin-sucharski/msucharski-gentoo-overlay/blob/master/x11-base/xorg-server/xorg-server-1.20.3-r2.ebuild

I'm starting Xorg as a normal user (without video and input groups) with `exec startx -- vt1` and it seems to be working with modesetting driver.

Below is diff for

[2018-11-14 22:54] udeved commented on #70
@marcin-sucharski

You should likely have a similar line in Xorg.log if you enabled systemd-logind in xorg.

[2018-11-14 23:12] marcin-sucharski commented on #70
@udeved I don't have:

[code]

My system is Gentoo, without systemd (only elogind). I'm using OpenRC.
That being said, I'm happy with current behaviour, because Xorg works rootless without full systemd :) I just wanted to let you know that it is possible to run it that way (as suggested in first post, however without `-keeptty`) at least on my system.

[2018-11-14 23:52] marcin-sucharski commented on #70
@udeved dbus was build without `user-session` however I rebuilt it right now with this flag set and it also works.

I'm not using any display manager on this system, so I won't check if it works right now. I will test it within next few days (possibly tomorrow).

[2018-11-15 06:10] Yamakuzure commented on #95
Unfortunately my idea was fruitless.

SLiM does a single fork, keeping itself as session leader around. This can not be patched away easily, at least as far as I can see.

[2018-11-15 09:21] udeved commented on #70
@Yamakuzure

Right, our xorg buoild has elogind enabled, but xorg process is started by root, ie logind support gets disabled at runtime as logged.
My suspicion is the xdm script for openrc currently.

[2018-11-15 09:40] markhindley commented on #95
On Wed, Nov 14, 2018 at 10:10:21PM -0800, Sven Eden wrote:

OK, Thanks for trying. I am just rebuilding to test with user_stop_delay removed

Mark

[2018-11-15 11:37] markhindley opened #96 "Don't release submodule"
Hi,

This is a small wishlist point, but your pwx git submodule gets included in the public branches. It is an issue for some of our contributors who use dgit, which fails with submodules. See https://bugs.debian.org/726953

Thanks

Mark

[2018-11-15 12:43] Yamakuzure commented on #95
Glad that it works! :+1:

[2018-11-15 12:43] #95 closed

[2018-11-15 12:44] Yamakuzure commented on #96
The submodule is only needed for development. For building elogind it can (and should) be simply ignored.

[2018-11-15 12:47] Yamakuzure commented on #96
In the bug you linked, Ian Jackson wrote two days ago:

Just strip it, if this already works. :wink:

[2018-11-15 20:13] marcin-sucharski commented on #70
@udeved When starting X session through sddm, the X process is running as root. I haven't investigated it further. SDDM is compiled with `elogind` USE flag. I've only enabled `xdm` in OpenRC for the `sddm` tests. Otherwise, I have it disabled.

@Yamakuzure I have explicitly disabled `suid` USE flag so Xorg does not have setuid. The Xorg process (when run manually using `exec startx -- vt1`) is own

[2018-11-16 07:03] Yamakuzure commented on #70
@marcin-sucharski : SDDM and its greeter use the "sddm" user and even get a session from elogind. But the requested X11 session is started by sddm-helper. I guess that's the process that has to be investigated.

Starting X with user privileges is relatively new, so I guess it will take a while until the DMs catch up.

[2018-11-16 18:00] ng-0 commented on #91
I know I have no stake in elogind, so see it as general mindstorming contribution:

The nim (NIm language) forum runs on something which resembles but actually is not Discourse:
https://forum.nim-lang.org/

And earlier this month I watched a presentation about Firestorm:
https://github.com/dailydrip/firestorm

Of both of these, Firestorm looked to be most promising, but both (seem to be) actively

[2018-11-16 18:18] perfect7gentleman commented on #70
add --enable-systemd-logind --enable-suid-wrapper
[code]

[2018-11-17 01:01] udeved commented on #70
Update:

`[    14.653] (EE) systemd-logind: failed to get session: PID 2381 does not belong to any known session`

If I set in sddf.conf `

`ServerArguments=-nolisten tcp -keeptty``

[2018-11-20 06:17] Yamakuzure commented on #72
@metafarion : I have eventually succeeded in implementing an opt-in feature to interrupt sleep/poweroff.

Unfortunately the infrastructure in systemd is not written to react on exit codes from called executables. Further more everything is executed in parallel. So if you needed to have scripts be called in the exact given order, it wouldn't have worked anyway. At least not as expected.

So I have

[2018-11-20 06:40] #91 closed

[2018-11-20 06:46] Yamakuzure commented on #91
I hope these changes are okay with everybody!

@ng-0 : Thank you for your feedback!

I will take a look at both. If they are easy to install and maintain, I'll consider them.

phpBB is currently only second place. I found nice responsive themes for myBB, which is on first place now. Well, unless 'nim' or 'Firestorm' don't replace it.

The reason to favor myBB is, that there is a plugin that adds s

[2018-11-20 07:00] Yamakuzure commented on #70
@udeved : No, XDG_VTNR is set in pam_elogind.
[code]

I am currently concentrating on getting v239.2 ready. When that is done, v238.3 is pressing first. After that I will play around with X and launching it as a user. Maybe I can be of any help, then.

[2018-11-20 17:46] Yamakuzure commented on #91
@ng-0 : I had a look at the nim-lang forum. It has a design in the line of Vanilla, which I find very unintuitive and alien. No clear structure, just threads put under each other endlessly. I am sure there is some way to "filter" by some sort of "category", like with Vanilla, but that is not what I am looking for.

FireStorm looks nice. It surely looks like the "Vanilla-Style" flood of threads, bu

[2018-11-20 22:44] Centuriondan opened #97 "Is libelogind0 abi compatible with libsystemd0?"
Hi,

We're using elogind in Devuan and it works well.  I was wondering if libelogind0 is an abi compatible replacement for libsystemd0 to the extent we could symlink it as libsystemd0 and applications would be happy to use it?

[2018-11-21 06:31] Yamakuzure commented on #97
Hi Centuriondan,

unfortunately I have never tried that.

I am happy to hear that!

Well, the API is reduced, as there are a few functions that make no sense with elogind, like everything that has to do with journald, or syetemd units. Apart from that, no data structures, alignements, calling conventions, parameters or return types have been changed. So this _may_ be possible.

I have never tried

[2018-11-21 07:31] Centuriondan commented on #97
Ok.  As long as the data structures, alignments and callling conventions, parameters or return types haven't been changed, then even if the functions that don't make sense without systemd return a suitably benign or informative error response, it shouldn't be an issue for us.

I guess we'll have to give it a whirl then.  :-)

Will do.

If it is ABI compatible, then we'd enforce XOR at the package

[2018-11-21 07:59] kilobyte commented on #97
It'd also avoid the XOR in Debian at all — there's no ConsoleKit at all, thus if libelogind0 could be a drop-in replacement, there's no need for alternatives.

[2018-11-21 09:52] Yamakuzure commented on #97
That's correct for Debian, but Devuan still offers ConsoleKit2, doesn't it?

[2018-11-21 09:58] kilobyte commented on #97
I see ConsoleKit**1** not **2** in Devuan Ceres.

As far as I understand, they had to keep it as elogind didn't work with *some* desktop environments, but AFAIK all such issues had been already fixed.  Thus, I quite fail to see what's the point of keeping that alternative — if elogind works everywhere (it has to, because Debian), there's no benefit in keeping ConsoleKit in Devuan either.

[2018-11-21 10:50] Centuriondan commented on #97
@kilobyte It's consolekit2 (v1.2.1) but the binary package names are wrong... I'll fix it next build (and add the appropriate provides.

[2018-11-21 10:54] Centuriondan commented on #97
The reason for keeping it is as an alternative as xfce4 still works with consolekit, and there may be others as well - slim login manager depends on consolekit for exanple.

[2018-11-23 10:37] markhindley opened #98 "Documentation consistency"
Hi,

Thanks for v239.2.

As I mentioned on #elogind, I have noticed that there are still quite a few references to systemd in the manpages, that I think should be elogind. I have patched some of them for De[vu|bi]an. The patch is at https://git.devuan.org/devuan-packages/elogind/blob/suites/experimental/debian/patches/manpage-branding.diff if it is useful for you. But I am not sure that it is exha

[2018-11-23 15:54] udeved opened #99 "239.2 test fail"
Hi Sven,

Just want to let you know, referencing #85, there is still something wrong with c locales, whereas the test passes with en utf-8 locale.

snippet from meson log

[code]

[2018-11-23 19:09] markhindley commented on #98
On Fri, Nov 23, 2018 at 04:25:44AM -0800, Sven Eden wrote:

I can appreciate that

I am happy to help, but my knowledge of elogind internals is still patchy at
best, so I tend to spot inconsistencies rather than necessarily know if it is
correct!

Thanks

Mark

[2018-11-24 11:13] markhindley opened #100 "Use of /etc/machine-id causes test failure"
Sven,

I am wanting to enable the tests for our De[vu|bi]an package builds. I have been debugging the few failures (test-id128 [sd_id128_get_machine_app_specific], test-fs-util [chase_symlinks], test-process-util [mount MS_PRIVATE|MS_REC] and test-login [sd_seat_get_active]). They all seem to be related to the use of /etc/machine-id. This file is not present in debootstrap chroots and its presence

[2018-11-24 12:06] Yamakuzure commented on #99
Dammit! I thought I have caught them all. :-(

[2018-11-24 12:14] Yamakuzure commented on #100
Well, the environment variable would not catch here, as this is one of (far too) many hard coded paths in systemd.

I would favour to do the default, and then add an "#if 1" block to check the dbus path if the default one failed. This way the change would not interfere with future updates when I migrate commits from systemd, as my migration tools can handle that

To be a bit more concrete:

[code]

[2018-11-24 12:17] Yamakuzure commented on #98
Sounds perfect to me! 😉

I have backported almost all changes and additions from v239 to v238 and will dig into the documentation next.
Well, I have to admit that I do not look forward to it. Documentation, no matter how important, is both stressful _and_ boring as hell. 😠 🤷‍♂️

[2018-11-24 12:19] Yamakuzure commented on #96
@markhindley : I am closing this, as it looks to me like stripping the submodule would solve the issue, right?

If I am mistaken here, feel free to reopen the issue!

[2018-11-24 12:19] #96 closed

[2018-11-24 12:35] markhindley commented on #100
On Sat, Nov 24, 2018 at 04:14:39AM -0800, Sven Eden wrote:

I think that is fine for us.

Thanks

Mark