[2018-11-26 13:39] Yamakuzure commented on #97
@Centuriondan : What is the outcome of your experiments? Does it work?

[2018-11-26 16:49] #100 closed

[2018-11-26 16:59] Yamakuzure commented on #99
It should work now.

[2018-11-26 16:59] #99 closed

[2018-11-26 17:08] Yamakuzure commented on #98
@markhindley : I am currently applying your patch. Great work so far! I never realized how much there _really_ is to do! :thinking:

[2018-11-27 05:34] novazur972 commented on #72
Sorry but I don't understand how to use this new feature.
I use Gentoo. I have sys-auth/elogind-239.2 installed.
I create a executable file in /lib/elogind/system-sleep with ::
#!/bin/sh
echo "CANCELLED not permitted now"
I got in syslog
Nov 27 01:25:18 medion kernel: <35>[37863.350849] (sd-executor)[22657]: Script failed at line 1: CANCELLED not permitted now
Nov 27 01:25:18 medion kernel: <38>[3

[2018-11-27 08:18] Yamakuzure commented on #72
To make this work, you have to change /etc/elogind/login.conf to contain:
[code]
The feature is strictly opt-in, as it is a) experimental and b) shall not change the behavior of already used scripts/executables without the user meaning to do so.
(That's also the reason why I have "hidden" the documentation a bit. It is in the loginctl man page under "Hook directories")

Once this features isn't th

[2018-11-27 14:17] novazur972 commented on #72
Works nicely for me.
I just had to add in /lib/elogind/system-sleep a script 000pre_suspend containing :
[code]
Thank you.

[2018-11-28 03:00] CameronNemo commented on #70
https://gitlab.freedesktop.org/dbus/dbus/merge_requests/53

[2018-11-28 11:48] Yamakuzure commented on #70
It may help with the merge discussion to know, that elogind installs its headers in `/usr/include/elogind/systemd`, with them being symlinked back into `/usr/include/elogind`

So if a build system uses pkg-config to get the cflags on elogind, it'll give you `-I/usr/include/elogind` back, and all sources that include something like `#include <systemd/sd-login.h>` will just continue working. ;-)

I

[2018-11-29 07:05] CameronNemo commented on #70
Please add https://github.com/the-cavalry/light-locker

[2018-11-29 08:29] Yamakuzure commented on #70
I never heard of that, thanks! Sounds like this was a useful tool.
They see to be at it (https://github.com/the-cavalry/light-locker/issues/103 and two PRs), but it seems to be stale.
Last commit to the project was on 2017-07-24. :disappointed: I guess somebody needs to take over maintenance.

[2018-11-29 10:30] perfect7gentleman opened #102 "elogind-239.9999 install error"
[code]

[2018-11-29 13:17] Yamakuzure commented on #102
I just tested this morning and it worked. Also pg_overlay isn't mine, install from seden overlay instead. :wink:

Now fun aside, that is curious. I have overhauled the documentation, maybe my testing was flawed, because something was still in the cache. But "sd_bus_creds_get_unit()" isn't even present, it is masked, because elogind does not support systemd units.

... Alright... let's see ... sd_b

[2018-11-29 13:22] perfect7gentleman commented on #102
I compared ebuilds, they are identical.

[2018-11-29 14:55] Yamakuzure commented on #102
That was a joke! :grin:

At least... I'll fix that tonight. Sorry for the inconvenience!

[2018-11-29 14:56] perfect7gentleman commented on #102
I got it ... just now :)

[2018-11-29 14:56] #102 closed

[2018-11-29 22:37] Yamakuzure commented on #102
@perfect7gentleman : Fixed in git now, too. :wink:

[2018-11-30 15:28] markhindley opened #103 "v239-stable: c++ style comments break test-suite compilation"
Hello Sven,

I have just tried a test compile of v239-stable (74eecfd609f1736562052f1a30d2c04180e16f38).

You introduced some C++ style comments into src/systemd/sd-bus.h in commit 51318ed2186cf2a66d8e67e95621f1cb281b7aa1.

These break the build on Devuan and Debian with the following error:

23/136 cc-sd-bus-vtable.h:c-std=iso9899:1990   FAIL     0.07 s (exit status 1)

--- command ---
/build/elo

[2018-11-30 15:35] markhindley commented on #103
I noticed you use C++ style comments a lot elsewhere and it isn't an issue. The problem here is that meson compiles the tests with iso9899:1990 standard. This doesn't support C++ style comments AFAIK.

Mark

[2018-12-03 09:51] Yamakuzure commented on #103
@markhindley : Thank you very much for the heads-up!

I use C++-style comments for two reasons:

1. They are in the C99 standard.
2. They make it easier to distinguish themselves from the default comments.
( only preprocessor macros for masking/inserting stuff are marked with C++-style comments )

However, the API headers are checked against C99+ style code, and that includes those masking comment

[2018-12-03 09:51] #103 closed

[2018-12-12 17:39] markhindley commented on #94
Sven,

I think the fix in 59e70b3 has an error. See `https://bugs.debian.org/916212.

Thi attached patch fixes it for me

[Fix_stale_pidfile.patch.txt](https://github.com/elogind/elogind/files/2672902/Fix_stale_pidfile.patch.txt)

Mark

[2018-12-12 17:48] markhindley opened #104 "Session lost when elogind restarted"
Sven,

Please see https://bugs.debian.org/916247. I can reproduce this behaviour.

Is it expected?

Thanks

Mark

[2018-12-12 19:13] Yamakuzure commented on #94
@markhindley : Yes, you are right.

[2018-12-12 19:21] #94 closed

[2018-12-13 08:18] Yamakuzure commented on #98
In the beginning, when overhauling man/systemd.xml into man/elogind.xml, the whole SIGNALS section got masked.

Those parts, that are relevant for elogind, have to be put back in.
Bug #104 might have been caused somewhat by it.

[2018-12-13 08:30] Yamakuzure commented on #104
Yes and no.

First of all, why did you restart a boot service that other services rely upon? That's like restarting dbus and then wondering why hell breaks loose.
When elogind is stopped, it cleans up after itself, tearing down all sessions and seats. If the user isn't in "lingering" mode, its directory in /run is removed as well. (Although I have to check that, please see below.)

Did you (or the

[2018-12-13 08:33] Yamakuzure opened #105 "[all versions] loginctl is missing a reload command"
to reload a changed configuration, elogind can be sent a SIGHUP, and it will reload.

However, systemctl has a "reload" command, which is much more convenient than sending a signal using `kill` and similar.

`loginctl` should therefore get a reload command, too, and best with a soon service release for both v238 and v239 series.

[2018-12-13 08:33] Yamakuzure commented on #104
loginctl should get a "reload" command to help with reloading configurations. See bug #105.

[2018-12-13 08:34] Yamakuzure commented on #105
If the restarting of elogind leading to bug #104 was caused by the wish to reload its configuration, adding that command to loginctl becomes even more important.

[2018-12-13 09:37] markhindley commented on #104
On Thu, Dec 13, 2018 at 12:30:26AM -0800, Sven Eden wrote:

Whilst I would agree with this in general, the routine usage case I can see when
this would legitimately happen is if you upgrade elogind. Both the Debian and
Devuan packages run elogind from an initscript by default. After the upgrade the
daemon is restarted and the session is lost.

Certainly we could avoid restarting the daemon on upgr

[2018-12-13 10:39] Yamakuzure commented on #104
Or maybe some sort of restart command, that completely bypasses all cleanup. All relevant information is in /run/user, /run/systemd/* and /sys/fs/cgroup anyway.

What we could not control then, however, are other processes reacting on elogind unregistering from dbus. But what the impact might be remains to be seen...

[2018-12-13 10:43] markhindley commented on #104
On Thu, Dec 13, 2018 at 02:39:00AM -0800, Sven Eden wrote:

That seems even better.

I think polkitd has a mechanism for replacing itself on the dbus without
upsetting anything else.

Mark

[2018-12-13 10:45] Yamakuzure opened #106 "[all versions] User lingering not preserving sessions on elogind restart"
When testing different states while restarting elogind in a running desktop session, setting both `KillUserProcesses` to `no` and enabling `lingering` state on the user did not prevent the desktop session to go completely FUBAR (Plasma with SDDM).
After the restart of the elogind-daemon, the session was lost. (See bug #104 comments)

But on many distributions it is necessary to restart services wh

[2018-12-13 10:49] Yamakuzure opened #107 "[all versions] An explicit 'restart' command is missing"
When testing different states while restarting elogind in a running desktop session, setting both `KillUserProcesses` to `no` and enabling `lingering` state on the user did not prevent the desktop session to go completely FUBAR (Plasma with SDDM).
After the restart of the elogind-daemon, the session was lost. (See bug #104 comments)

But on many distributions it is necessary to restart services wh

[2018-12-13 10:52] Yamakuzure commented on #104
I will have a look into polkitd then to compare the mechanisms used. Thank you very much for the hint!

[2018-12-13 15:46] Yamakuzure commented on #104
@markhindley : For the time being until a restart command is added, you could use SIGKILL on the old daemon before starting the updated one. That would at least hotfix the upgrade/update procedures.

SIGTERM, SIGQUIT and SIGINT are all caught and turned into a graceful shutdown, ungracefully taking all sessions and seats down.
...but as SIGKILL can not be caught and immediately terminates the prog

[2018-12-14 00:56] markhindley commented on #104
On Thu, Dec 13, 2018 at 07:46:17AM -0800, Sven Eden wrote:

Thanks. That works for me. We can try this until a better solution exists.

Mark

[2018-12-14 10:41] markhindley opened #108 "test-login failure with running elogind"
Sven,

Hi.

test-login fails for me if there is elogind running on the system:

130/136 test-login                              FAIL     0.02 s (killed by signal 6 SIGABRT)

--- command ---
PATH='/home/mark/src/devuan/build/elogind-239.3/build:/usr/sbin:/usr/bin:/sbin:/bin:/usr/bin/X11' /home/mark/src/devuan/build/elogind-239.3/build/test-login
--- stderr ---
/* Information printed is from the liv

[2018-12-14 10:50] Yamakuzure commented on #108
All tests ran just fine on my system with elogind running. Once I am able to, I'll look into it.

[2018-12-14 10:53] Yamakuzure commented on #108
Does loginctl from the live system show any sessions when the test fails?

[2018-12-14 10:55] markhindley commented on #108
On Fri, Dec 14, 2018 at 10:50:04AM +0000, Sven Eden wrote:

Thanks. The initial report came from somebody else
(see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=916247#23), but I can
reproduce it. The logs I posted are from my builds.

Thanks

Mark

[2018-12-14 11:02] markhindley commented on #108
On Fri, Dec 14, 2018 at 02:53:16AM -0800, Sven Eden wrote:

No.

I wonder if this is a corner case where you have just installed elogind, So is
running, but there is no session you haven't logged out and in again?

Mark

[2018-12-14 12:34] Yamakuzure commented on #108
Yes. The assertion suggests that there is no active session.

So either elogind was started and just could not log any user login, yet (or has been called to create session), or the user has logged in with pam_elogind.so being disabled.

[2018-12-16 03:37] djlucas commented on #70
My first foray into elogind. Haven't used sysvinit in years. I'm learning as I go, but in addition to everything above, I have these:
http://www.linuxfromscratch.org/~dj/elogind/ModemManager-1.8.2-elogind-1.patch
http://www.linuxfromscratch.org/~dj/elogind/dbus-1.12.12-elogind-1.patch
http://www.linuxfromscratch.org/~dj/elogind/polkit-0.115-elogind-1.patch
http://www.linuxfromscratch.org/~dj/elogi

[2018-12-16 10:35] markhindley commented on #104
On Thu, Dec 13, 2018 at 07:46:17AM -0800, Sven Eden wrote:

I have implemented this as a temporary solution.

It feels a bit of a hack -- I am always reluctant to routinely circumvent
atexit(). Maybe better would be to use another unused signal (USR/USR1?) to
cause a graceful exit which preserves the cgroups filesystem information?

Mark

[2018-12-16 11:10] markhindley commented on #108
Hi,

Since this is quite easy to trigger, I have implemented the following work around. You may want to include it.

https://git.devuan.org/LeePen/elogind/commit/338e4827184362a6dd23d4637e92df35b71ae27f

Mark

[2018-12-17 07:32] Yamakuzure commented on #104
@markhindley : You are absolutely right.

Luckily SIGINT, SIGTERM and SIGQUIT are already caught, but all three lead to a "graceful shutdown" of elogind.

I am planning to re-purpose SIGINT, as that would be the most fitting:
QUIT is obvious, and TERM is traditionally sent when the application should shut down in an ordered way. An interrupt, however, means something like: "Cease all actions and e

[2018-12-17 07:39] Yamakuzure commented on #108
@markhindley : That patch looks fine to me! :+1:

This is yet another situation where the systemd devs have no need to deal with something like this. Their system would have been powered by systemd anyway, so whatever you do, systemd-logind will have at least one active session. Guaranteed.

Thank you very much for your help!

[2018-12-17 09:15] Cogitri commented on #70
Seems to me as if some other changes not required for elogind (e.g. retpoline stuff) got into that patch too

[2018-12-17 16:54] markhindley commented on #104
On Sun, Dec 16, 2018 at 11:32:57PM -0800, Sven Eden wrote:

Looks like a good plan to me.

Thanks

Mark

[2018-12-17 18:06] djlucas commented on #70
Geared toward LFS users. Dbus requires autoconf-archive, not something we install by default so that patch is just the result of autoreconf -fi to save the extra dep (with newer automake I believe), but I missed that there was already one at Gentoo, which I will link to. Same thing, xorg-server patch (needs util-macros-1.19.1 and automake-1.15.1 to generate a clean diff for user consumption, just

[2018-12-18 05:56] djlucas commented on #70
Sorry for the ugly patches. Submitted https://gitlab.freedesktop.org/xorg/xserver/merge_requests/94

[2018-12-18 08:05] Yamakuzure commented on #70
@djlucas Good job! Thank you very much for your help and effort! :+1:

[2018-12-19 07:13] djlucas commented on #70
Fixed my earlier snafus. See:
https://gitlab.freedesktop.org/xorg/xserver/merge_requests/96
and
https://gitlab.freedesktop.org/xorg/lib/libxtrans/merge_requests/2

[2018-12-19 08:20] Yamakuzure commented on #70
@djlucas You will have more chances if you squash your commits and --force push to your repo, so that the merge request is only one commit.
In my experience upstreams are very reluctant to merge something that consist of concurring commits.

While you are at it: It is not necessary to add an explicit inclusion block. I could only bring some
upstreams to support elogind, if the patches would not to

[2018-12-19 08:22] Yamakuzure commented on #70
@all : Currently an attempt to get elogind upstream with Gnome/sysprof is on its way:
https://bugs.gentoo.org/673406
https://gitlab.gnome.org/GNOME/sysprof/merge_requests/10

[2018-12-19 10:41] markhindley commented on #108
On Sun, Dec 16, 2018 at 11:39:36PM -0800, Sven Eden wrote:

Actually, I don't think it is quite right yet. I now get failures in a build
chroot. Will update once I have fixed.

Mark

[2018-12-19 13:48] Yamakuzure commented on #108
@markhindley Chroots are always fishy. See #45

[2018-12-19 13:51] Yamakuzure commented on #104
This is a lot fishier than I thought.

When I kill elogind from a console, it does not matter whether I use SIGTERM, INT, QUIT or KILL. elogind will end and leaves all files in /run/systemd where they are. Only the inhibit information is removed.

However, when I the start a new instance, seats, users and sessions are loaded, and active sessions and users get combinated. But nevertheless all users

[2018-12-19 18:00] Cogitri commented on #70
Neat.

[2018-12-21 13:19] markhindley commented on #108
Sven,

[resending as I missed out the GitHub thread]

I have done some more work on the circumstances of test-login failure.

I think the root cause is in the elogind specific version of
cg_path_get_session(). On errors this returns -ENOENT. However, the
systemd-logind code returns -ENXIO and sd_pid_get_session() handles this by
transforming it to -ENODATA.

Therefore I wonder if elogind ought to

[2018-12-24 20:35] darkshram commented on #70
Elogind and SystemD are mutually exclusive. So, instead of trying to make patches for everything to recognize elogind, wouldn't it be easier to just symlink and own /usr/include/systemd and /usr/lib64/pkgconfig/libsystemd-login.pc? I'm doing some testing in my systemd-less distro to replace ConsoleKit2 and so far everything builds Ok.

[2018-12-24 20:37] Cogitri commented on #70
Void Linux does this too.

[2019-01-04 06:49] Yamakuzure commented on #104
@markhindley : I was able to find the culprit eventually.
As elogind has no background systemd instances telling it what users have running services and what sessions have valid scopes, all loaded users and sesions ended up being considered as being stale.

The fix was, in the end, to simply consider only sessions to be stale, that were not in a stopping state on last write anyway.

However, I am

[2019-01-04 10:35] markhindley commented on #104
Happy New Year!

On Thu, Jan 03, 2019 at 10:49:24PM -0800, Sven Eden wrote:

Many thanks for this. I have just built a Devuan package of v239-stable (6b4bd20).

The behaviour I had observed of sessions being lost when elogind is restarted
seems fixed. Great!

The only thing I notice is that the session State is changed from active to
opening after restarting elogind. I am not sure of the significa

[2019-01-05 18:54] Yamakuzure commented on #104
@markhindley : Thanks for testing!

Well, when we start things manually, we have not been told via dbus to do so. And there is no systemd in the background starting user services and telling elogind when it's done.

So what seems to be missing is the finalization of the starting process. That shouldn't be too complicated to fix.

[2019-01-05 18:58] Yamakuzure commented on #108
Unfortunately this isn't enough.
When I run `make test` without elogind running and with `/run/systemd` removed, I now get:

[code]

What I can not test at the moment is to run the test in a chroot while elogind is running on the live system.

[2019-01-06 15:49] markhindley commented on #108
On Sat, Jan 05, 2019 at 10:58:24AM -0800, Sven Eden wrote:

I can't reproduce this.

errno 11 is EAGAIN. Seems odd!

EAGAIN doesn't skip the expected failures. But I
can't work out where your EAGAIN comes from.

Without running elogind and rm /run/systemd I get

/* Information printed is from the live system */
sd_pid_get_slice(0, …) → "n/a"
sd_pid_get_session(0, …): No data available
Seems we are

[2019-01-07 07:14] Yamakuzure commented on #108
@markhindley : Thanks for testing!

Although the "11" above is not an errno but the session ID (:wink:), it is good to know that it has to do something with my system.

[2019-01-07 13:21] markhindley commented on #108
On Mon, Jan 07, 2019 at 07:14:27AM +0000, Sven Eden wrote:

Sorry for misinterpreting that, of course!

But if you don't have elogind running, how is the test getting a session ID at
all?

Mark

[2019-01-08 19:20] markhindley commented on #108
Sven,

I have finally been able to reproduce this using qemu. However, I think it is an
artificial error caused by manually removing /run/systemd from a system after a
session is registered.

By attempting to build with a registered session and /run/systemd removed
sd_pid_get_session() (test-login-c:63) still succeeds but the session tests
fail. I don't think this is a real life situation and does

[2019-01-15 19:08] ne-vlezay80 opened #109 "Cannot start with close session from sysrq"
The error:
New seat seat0.
Watching system buttons on /dev/input/event4 (Power Button)
Watching system buttons on /dev/input/event3 (Power Button)
Watching system buttons on /dev/input/event1 (SEM USB Keyboard)
Watching system buttons on /dev/input/event2 (SEM USB Keyboard)
Assertion 'fd >= 0' failed at ../src/basic/fd-util.c:37, function close_nointr(). Aborting.
Аварийный останов

[2019-01-17 07:53] Yamakuzure commented on #104
@markhindley : Unless you use SDDM, restarting elogind should be fine now, **whenever** you use **SIGINT** to stop it.

I have no brilliant idea what makes SDDM still to go nuts. So when I have taken care about some other issues, I'll take a look into its sources, to find out what makes it tell PAM that the user logged out.

[2019-01-17 07:59] Yamakuzure commented on #109
There is no assertion at src/basic/fd-util.c:37 in the current code.

So please provide at least the minimum required information for getting an idea what this is about. /dev/crystalball isn't working I'm afraid. :wink:

What system (distribution) are you using?
Which version of elogind did you install?
How did you install that version?
What did you do to trigger the error?
What did you expect to

[2019-01-17 16:00] markhindley commented on #104
On Wed, Jan 16, 2019 at 11:53:59PM -0800, Sven Eden wrote:

Thanks. Build of v239-stable (HEAD 0f349e6f5948ba69639fb82f324f608a98c52e44)
works well for me with both lightdm and slim.

Mark

[2019-01-17 19:23] Yamakuzure opened #110 "Restarting elogind causes SDDM to kill the user session"
This is a follow-up on issue #104, which is generally solved, but does not work when SDDM is used.

At least this is the case on my Gentoo system with:
 * PAM-1.3.1
 * SDDM-0.18.0
 * xorg-server-1.20.3 with both --enable-suid-wrapper and --enable-install-setuid

The symptoms, when using elogind from v239-stable branch and interrupting elogind with SIGINT before restarting it are as follows. (-Ddeb

[2019-01-17 19:24] Yamakuzure commented on #104
The misbehaving with SDDM is taken care off in issue #110

[2019-01-17 19:24] #104 closed

[2019-01-18 06:39] Yamakuzure commented on #110
That is `/usr/bin/plasma_waitforname` installed by `kde-plasma/plasma-workspace-5.14.4`

So unfortunately this is no clue at all. :disappointed:

[2019-01-19 09:35] markhindley commented on #104
Sven,

Just one little thing on this: the new SIGINT should be documented in the
manpage.

I have
https://git.devuan.org/LeePen/elogind/commit/ec177625a2e219d5c5210efbc61ad42eb821a6f6

or you might prefer another wording.

Mark

[2019-01-19 10:47] markhindley opened #111 "Docked status slow to update"
Sven,

Please see  http://bugs.debian.org/919694

There are multiple things going on here but the significant one is the OP suggests that the Docked status is taking between 30s to several minutes to update. Therefore HandleLidSwitch is invoked rather than HandleLidSwitchDocked when he closes the lid in his docking station.

I wonder if HoldoffTimeout is a factor in this. But when I looked at he o

[2019-01-21 07:46] Yamakuzure commented on #111
That is definitely worth investigating. I do not have a docking station, so it is good that there is at someone who has, and can test this.

I am currently migrating the systemd-stable commits that flowed in during the last two weeks. Once I am finished with those, I'll have a look.

[2019-01-21 07:48] Yamakuzure commented on #108
When I have finished migrating the last wave of systemd commits, this has to be tested again.

[2019-01-21 08:09] Yamakuzure commented on #104
@markhindley You are right. I had in on my list and then forgot. :man_facepalming:

I took your woring, that's exactly what I wanted to write anyway. :man_shrugging:

Thank you very much!

[2019-01-21 17:24] markhindley commented on #111
On Sun, Jan 20, 2019 at 11:46:43PM -0800, Sven Eden wrote:

No, neither do I, nor a laptop with a lid switch so I am pretty much in the dark
from a harware point of view!

Mark

[2019-01-24 11:44] Yamakuzure commented on #111
@markhindley Oh, I didn't mean you, but the OP you mentioned! :wink:

I hope they are willing to help once we tackle this one...

[2019-02-13 17:36] oniGino opened #112 "suspend broken in elogind-239.3 in Gentoo"
Please see: https://bugs.gentoo.org/677062

[code]

[2019-02-13 21:00] Yamakuzure commented on #112
Interesting. write_hibernate_location_info() has nothing to do with suspending a machine. ;-)

Joke aside, both suspension and hibernation work just fine on three machines here, used at least six times a day, and that for months. But then, I do not have such a special setup like Herbert Wantesh.

I just have migrated master to systemd-240. So before cleaning that mess up, I'll go and see if that p

[2019-02-13 21:24] oniGino commented on #112
Do any of your test setups utilize luks in an lvm? I think that corner case might be the issue here. (I use that on my laptop)

[2019-02-13 22:10] Yamakuzure commented on #112
No, I do not have any test setup, all my machines are production machines. My spare time is very limited, and maintaining different test setups is simply not possible at the moment.

I concur, the luks+lvm setup is leading to this problem. tomorrow I'll test the patch with my regular setup. It has to keep working.

[2019-02-14 16:55] Yamakuzure commented on #112
I have adapted the patch a bit and pushed it to the elogind v239-stable branch. It does not effect my setup, hibernation still works.

Can you please try it out whether it fixes the issue for you?

You can install the live version of the v239-stable branch using my life ebuild for sys-auth/elogind-239.9999 from my overlay "seden", available via layman.

Thanks in advance!

[2019-02-15 07:27] Yamakuzure commented on #109
Closing, as the issue doesn't seem to exist any more.

[2019-02-15 07:27] #109 closed

[2019-02-16 13:31] #105 closed

[2019-02-16 13:31] #112 closed

[2019-02-16 13:34] Yamakuzure commented on #97
@Centuriondan : If there is anything I can do, please reopen. :wink:

[2019-02-16 13:35] Yamakuzure commented on #45
@kensington : Does it also fail when elogind is running outside the chroot? Does it still fail with v239-stable?

[2019-02-16 13:39] udeved commented on #97
@Yamakuzure

I can quickly tell my experience.
Any package built by arch against libsystemd works on artix with libelogind as well, granted the package has no systemd journal activated.
For example, a plasma built against libsystemd/systemd works flawlessly with elogind, kde session finds the logind interface and power management also works.

[2019-02-16 19:24] Centuriondan commented on #97
It seems libelogind0 works just fine in Devuan as a replacement for libsystemd0

[2019-02-19 06:40] Yamakuzure commented on #97
@udeved @Centuriondan
I am very happy to hear that!

Thank you both very very much for the feedback! :+1:

[2019-02-19 06:43] Yamakuzure commented on #106
Session re-loading by telling elogind to interrupt (SIGINT) now works fine. There don't seem to be any further actions required.

(See: #104)

[2019-02-19 06:43] #106 closed

[2019-02-19 06:46] Yamakuzure commented on #110
It seems to be an upstream issue in SDDM, but I am not entirely sure that we can't do anything about it.

[2019-02-19 07:21] Yamakuzure commented on #111
The configuration parameter is parsed as seconds, but the manager variable is called `holdoff_timeout_usec`, which looks a bit weird.
The default value is `30 * USEC_PER_SEC`, so the variable is definitely defaulting to USEC.
The parser for the configuration is `parse_sec()`, which simply uses `parse_time()` which stores a USECs.

So from the configuration point of view, everything is just fine.

[2019-02-20 06:34] Yamakuzure commented on #45
@kensington : I think I have solved this issue. Could you please test latest v239-stable?

[2019-02-20 06:35] Yamakuzure commented on #108
@markhindley : I think I have solved this issue. Could you please test with latest v239-stable?

[2019-02-20 08:09] Derriick opened #113 "_POSIX_C_SOURCE not defined on a musl system"
https://github.com/elogind/elogind/blob/718dfdad0e42832a04d774c8db82b07a18b865ba/src/systemd/sd-event.h#L74

When I try to build [sway-1.0-rc3](https://github.com/swaywm/sway/releases/tag/1.0-rc3) on the musl version of Void Linux, meson stops saying that `"_POSIX_C_SOURCE" is not defined`.

[code]

More details are available in this issue: https://github.com/void-linux/void-packages/issues/8962

[2019-02-20 20:04] CameronNemo commented on #113
This patch fixes the issue: https://raw.githubusercontent.com/void-linux/void-packages/df2d52a9464ebb5b896798622dac62a37865b1a4/srcpkgs/elogind/patches/musl.patch

[2019-02-20 20:56] Derriick commented on #113
I have created a pull request with the fix: https://github.com/elogind/elogind/pull/114

[2019-02-21 11:42] Yamakuzure commented on #113
If that was the case, how was it possible then to build elogind?

`git blame` tells me, that the line you have been tripping over, is there since 15 Mar 2017.

I can't find a definition of `_POSIX_C_SOURCE` in the build system or `src/shared/musl_missing.h`. Actually I can't find it anywhere in the whole tree despite the line in question.

So I have either missed something elogind-specific that en

[2019-02-21 12:01] Yamakuzure commented on #113
I think this is a problem with sway:

[code]

The file in question, `/swaybar/tray/tray.c`, does not define it.

There had been a few issues about that define. See:
 * https://github.com/swaywm/sway/issues/1396
 * https://github.com/swaywm/sway/issues/1814
   with  https://github.com/swaywm/sway/pull/1815
 * https://github.com/swaywm/sway/issues/2616#issuecomment-419996911
   with https://github.c

[2019-02-21 12:04] Yamakuzure commented on #113
For further reference:
https://git.musl-libc.org/cgit/musl/tree/WHATSNEW#n20

[2019-02-21 12:22] emersion commented on #113
I believe this is a elogind issue. We don't use POSIX functions in this file, so I don't see why we should define it.

Headers in `/usr/include` always do this kind of things:

[code]

or

[code]

elogind should do the same.

[2019-02-21 12:26] emersion commented on #113
I've been looking into sending this as a systemd patch, but this `#ifdef` is already a elogind-local patch on top on systemd.

[2019-02-21 13:57] Yamakuzure commented on #113
@emersion : Not quite.

We do not change systemd source code as long as we do not have to.

Nope. If it were, you'd see elogind specific preprocerssor masks like above around it. This is a systemd line.

This is the offending line in systemd master:
https://github.com/systemd/systemd/blame/6f0475879a7fa59f2de6912caca5c014fe59c748/src/systemd/sd-event.h#L74

So the very latest version of that file

[2019-02-21 14:10] emersion commented on #113
Wait, I somehow skipped that line.

This isn't about non-GNU. It's just about building `sd-event.h` without `_GNU_SOURCE` defined.

I'll send a systemd patch.

[2019-02-21 15:22] emersion commented on #113
https://github.com/systemd/systemd/pull/11790

[2019-02-21 16:26] Yamakuzure commented on #113
Oh, man... You are right of course!
This shall be a lesson about wanting to get something done ASAP while in a hurry.

That's great! And Lennart Poettering has already checked in on the PR. That's fast!

[2019-02-22 05:53] Yamakuzure commented on #113
@emersion : Your PR on systemd is merged to master! :+1:

@Derriick : As you brought the issue up, I want to merge your PR nevertheless, so your name is documented in the history. I can cherry-pick the systemd change later.

[2019-02-22 06:18] #113 closed

[2019-02-24 11:19] Centuriondan commented on #97
@Yamakuzure  Seems I spoke too soon.  Turns out that you've dropped some of the abi symbols compared to systemd.  Is there a chance you could provide all the api/abi symbols with the unused bits stubbed out as a NO_OP?

[2019-02-24 12:59] Yamakuzure commented on #97
@Centuriondan Yes, I think that would be possible.Are you sure that **all** symbols are needed?

[2019-02-24 13:30] Centuriondan commented on #97
For Devuan to be able to use libelogind as a complete replacement of libsystemd, then I'd have to say yes, we probably need them all.

[2019-02-27 07:00] Yamakuzure commented on #97
@Centuriondan : How did you create that report? It has some incorrect details in it, which I blame on the versions compared. (It says I've added two symbols, which I haven't.)

elogind-master has to be compared to systemd-v241, for instance.

Generating an exact report would be enormously helpful!

[2019-02-27 09:31] Centuriondan commented on #97
I did say to ignore the added symbols ;-)

I was using abi-compliance-checker to do the comparison - mostly to just see if I could get a useful report.

I was comparing the versions of libsytemd0 v237 to libelogind v241 as you suspect - simply because that's what I had available in devuan ascii as packages.

It's the missing symbols that are the issue to us.  Newly added ones won't pose a problem

[2019-02-27 16:35] Yamakuzure commented on #97
Hmmm... seems harmless... But we have to stub the whole journald stuff. I won't ship sd-journal.h though, or people might think elogind would add/use/understand systemd-journald all of a sudden.

[2019-02-27 17:02] markhindley commented on #97
Sven,

This might be useful for Debian as well and Devuan.

As for the journald stubs, how about using syslog(2) calls so that any message don't just get lost?

Mark

[2019-02-27 20:11] Centuriondan commented on #97
I'm in 2 minds about this.  It's likely that if systemd-journald isn't running that programs will fall back to using syslog and this is probably preferable, and the right thing to do.  I guess the problem is that libsystemd0 ABI will increasingly become a one stop interface for all daemons providing session management, service management, logging etc, and I'm not sure if we should encourage that.

[2019-02-27 20:13] Centuriondan commented on #97
@Yamakuzure

Thanks for the quick turn around on this. ;-)

[2019-02-28 19:22] Yamakuzure commented on #97
@markhindley @Centuriondan
syslog seems to be a good idea and the way to go.

However, could you somehow check current master? All missing symbols should at least be there, now.

I'll look into syslog api tomorrow.

[2019-03-01 10:22] markhindley commented on #108
On Tue, Feb 19, 2019 at 10:35:24PM -0800, Sven Eden wrote:

I have just built master (which includes
655ac42e145706d1ab912844243529bdfadf2a7c) with no testsuite problems.

Thanks

Mark

[2019-03-01 10:37] markhindley commented on #97
On Thu, Feb 28, 2019 at 07:22:31PM +0000, Sven Eden wrote:

I have just had a quick check. I think the following are still missing compared
to libsystemd 241:

 'sd_hwdb_enumerate' => 'sd_hwdb_enumerate@@LIBSYSTEMD_240',
 'sd_hwdb_get' => 'sd_hwdb_get@@LIBSYSTEMD_240',
 'sd_hwdb_new' => 'sd_hwdb_new@@LIBSYSTEMD_240',
 'sd_hwdb_ref' => 'sd_hwdb_ref@@LIBSYSTEMD_240',
 'sd_hwdb_seek' => 'sd_hwdb_seek

[2019-03-01 10:54] markhindley commented on #97
Sven,

The other thing I noticed is that systemd has bumped libsystemd_version in
meson.build to 0.25.0. libelogind_version is still 0.24.0.

I suppose we need to follow suit?

Mark

[2019-03-01 12:36] Yamakuzure commented on #108
Yes, finally! :grin:

[2019-03-01 12:36] #108 closed

[2019-03-01 12:39] Yamakuzure commented on #97
I have begun to stub hwdb this morning, so they'll come! :wink:

That's really good news, so we are getting there!

Yes, we should. I normally bump when the next release is due, but I'll do it once hwdb is working.

[2019-03-01 14:23] markhindley commented on #97
On Fri, Mar 01, 2019 at 04:39:35AM -0800, Sven Eden wrote:

Great, thanks.

Definitely.

You could do the following and then they will always be in sync?

--- a/meson.build
+++ b/meson.build
@@ -12,11 +12,9 @@
         meson_version : '>= 0.46',
        )

+libsystemd_version = '0.25.0'
 #if 0 /// UNNEEDED by elogind - libudev is external
-# libsystemd_version = '0.25.0'
 # libudev_version = '1.6.

[2019-03-01 14:39] markhindley opened #115 "New manpages required?"
Sven,

In my test build of today's HEAD I noticed some new section 8 manpages:

 usr/share/man/man8/elogind-run-generator.8
 usr/share/man/man8/elogind-boot-check-no-failures.service.8
 usr/share/man/man8/elogind-bless-boot-generator.8
 usr/share/man/man8/elogind-bless-boot.service.8

Are they relevant to elogind?

Mark

[2019-03-01 17:34] Yamakuzure commented on #97
You know what? It **never** occurred to me that that variable isn't used anywhere else. :man_facepalming:

[2019-03-01 18:38] Yamakuzure commented on #97
@markhindley : Like that? 905d9d9b1 :wink:

Currently looking at syslog...
...wow... It may be even possible to ship sd-journal.h after all. Some software packages use it, and will be sent over to syslog then.
I'll see what I can do...

[2019-03-02 00:17] Centuriondan commented on #97
@Yamakuzure @markhindley you guys are amazing!!!  Love your work!!

:D

[2019-03-02 15:14] Yamakuzure commented on #97
@Centuriondan : Comments like yours are what makes this work worth the effort! :grin: Thank you very much! :+1:

Mapping the sd-journal stuff to syslog isn't exactly trivial, but luckily really straight-forward.

[2019-03-02 22:53] udeved commented on #97
@markhindley

How is it organized on debian?

On arch, they split systemd into a systemd-libs and systemd package, while the systemd libs contain libsystemd and libudev.
We make arch packages compatible atm by simply gutting the arch systemd binary packages and repacking them only with libsystemd and libsystemd-shared respectively. Any arch package pulls this compat package to provide eg journald

[2019-03-03 14:51] Yamakuzure commented on #115
Nope, they will be removed when I update the documentation.

[2019-03-03 15:10] markhindley commented on #115
On Sun, Mar 03, 2019 at 06:51:56AM -0800, Sven Eden wrote:

Thanks.

Mark

[2019-03-04 10:35] Yamakuzure commented on #97
Well, I am currently working on rerouting sd_journal_print() and sd_journal_send() so syslog. The first is trivial, the latter requires me to rip apart their weird iovec structure.

Apart from these four functions, I doupt that much can be more then stubs returning -ENOSYS without doing anything. But I haven't done any further analysis, yet.

So the functionality elogind gains will be quite minima

[2019-03-04 10:42] udeved commented on #97
@Yamakuzure

An example on arch is their qt5-base package, it has a journald flag set.
No problem for us, we have all qt-5 in our tree without journald.
Not sure if journald is directly used by logind in qt5 or rather a specific feature of systemd in same sense as tmpfiles, udev, sysusers?

[2019-03-04 10:42] markhindley commented on #97
On Mon, Mar 04, 2019 at 10:35:47AM +0000, Sven Eden wrote:

I haven't studied the implementation, but you might want to look at
https://github.com/Daniel-Abrecht/sd_journal_shim/blob/master/src/sd_journal_shim.c
and see if there is anything which is useful.

Or, more importantly, us replace libsystemd with libelogind for pacakges
compiled against libsystemd headers.

Mark

[2019-03-05 18:40] Yamakuzure commented on #97
Well, it looks like this in Qt5:
./src/corelib/global/qlogging.cpp:82
[code]
Check! We provide sd-journal.h now. (Well, from the next release on...)

./src/corelib/global/qlogging.cpp:1582
[code]
Check! `sd_journal_send()` is implemented and reroutes to syslog.

I do not know why they use the bare function instead of `sd_journal_send_with_location()`, but maybe I'll check for location variables an

[2019-03-05 18:43] Yamakuzure commented on #97
@markhindley

It gave me some useful inspirations, so thank you very much for that!
Currently the implementation is almost as bare as that, but I guess we'll have to do a bit more, once things settle in after the next releases.

[2019-03-06 06:54] #115 closed

[2019-03-06 17:58] udeved commented on #97
I have a little question.
If the aim is a drop in replacement of libsystemd, shouldn't elogind provide a pkg-config for libsystemd?
There are packages around, that attempt to extract libsystemd flags.
Should this be covered by elogind? Some of these just try to get a unitdir path that don't exist, other try set set compile flags and the entire logic is tied to pkg-config libsystemd.

[2019-03-07 06:02] Yamakuzure commented on #97
I do not think so.
When a package is built, all the build system has to do is to check for libelogind and use its pkg-config instead of libsystemd. The includes are shipped in a way that all sources can stay the same. It doesn't matter whether you do
`#include <elogind/sd-login.h>`
or
`#include <systemd/sd-login.h>`
to get going. (That was a requirement of polkit to support elogind.)

The replacem

[2019-03-07 10:53] udeved commented on #97
@Yamakuzure

I understand the difference.
The elogind-sd headers are provided for the systemd headers, a package is then built against elogind sd headers. There are cases, when configure tries to get headers via pkg-config. I was fiddling around last night with rtkit which does try pkg-config to get libsystemd and has no flag to disable the check.
My naughty idea was to trick rtkit wihout patching

[2019-03-07 11:46] kensington commented on #45
Sorry for the delay in testing. All 239 tests pass in a chroot now. Thanks!

[2019-03-07 11:46] #45 closed

[2019-03-08 04:41] djlucas commented on #97
While not the stated intention, with sd_hwdb_*() and sd_journal_*() in place, /usr/lib/pkgconfig/libsystemd.pc -> libelogind.pc should be sufficient to drop most of the patches listed in #70 at build time. There are, I'm fairly sure, some exceptions (thinking specific syslog facilities here), but those have been upstreamed and already look for elogind, or have configure/meson/cmake flags to handle

[2019-03-08 06:47] Yamakuzure commented on #97
@djlucas The only issues I see is that there have been incidents with users getting elogind as a dependency while being on a systemd-powered system.
That is of course caused by faulty dependency and blocker definitions in the PM system.

Generally speaking I like packages to be aware of elogind within their built systems. systemd and elogind are basically mutually exclusive. Strictly speaking elog

[2019-03-08 06:48] Yamakuzure commented on #97
Quote myself:

Or now. We do it now. :grin:

[2019-03-09 13:20] Yamakuzure commented on #45
@kensington I am very happy that we have solved this. Finally! :smile:

[2019-03-09 13:22] Yamakuzure opened #116 "[PRE] 241.1: suspend/hibernate do not work"
I am testing the current 241-stable branch, considering it an rc, and got the following:

[code]

This is a critical blocker for the next release that **must** be solved!

[2019-03-10 10:17] markhindley commented on #97
On Fri, Mar 08, 2019 at 06:47:45AM +0000, Sven Eden wrote:

I have just built HEAD a93427039890bf3b6062899388a6f3a94b1d4b5a.

I have it installed on a Debian VM including replacing libsystemd.so and can't
find any regressions.

Thanks very much. Great work!

Mark

[2019-03-10 11:20] #116 closed

[2019-03-10 18:35] Yamakuzure commented on #98
This should be fixed with the [v241](https://github.com/elogind/elogind/releases/tag/v241.1) release.

[2019-03-10 18:35] #98 closed

[2019-03-10 18:37] Yamakuzure commented on #97
I close this in naive expectation that we finally nailed it with the [v241](https://github.com/elogind/elogind/releases/tag/v241.1). :wink: :+1:

[2019-03-10 18:37] #97 closed

[2019-03-11 10:04] Yamakuzure commented on #111
@markhindley : A little update, I wasn't able to find a reason for the "docked" status to update so slowly, yet.
Are there any news on your end?

[2019-03-11 12:09] joakim-tjernlund commented on #97
@Yamakuzure , did you tag the 241 release rigth? Seems like master is 23 commits ahead of this release

[2019-03-11 14:02] Yamakuzure commented on #97
Yes. Those commits are cherry-picked and squashed into v241-stable.

[2019-03-11 14:13] joakim-tjernlund commented on #97
OK, but those cherrypicks are very confusing when looking at githubs release page.

[2019-03-12 09:24] markhindley commented on #111
On Mon, Mar 11, 2019 at 03:04:05AM -0700, Sven Eden wrote:

Thanks.

I haven't had anything further from him. I will try again.

Mark

[2019-03-13 22:10] udeved opened #117 "[241.1] journald redirecting broke"
Hi Sven,

I think the redirecting to syslog is broke with 241.1.
Syslog-ng log files are all empty files.

[2019-03-14 04:03] maxice8 commented on #70
To expand on what @Cogitri said, Void Linux via the `elogind` package claims the follow systemd paths:

[code]

Has been working out well for us.

[2019-03-14 04:43] djlucas commented on #70
Bit of info on the above...

These are all part of the default installation.

These two additions are likely all that is needed for elogind to be a drop-in replacement for systemd at build time, at least for modern software packages (see the two items below),

Not sure about the need for this one. The pkgconfig file should handle, adding -I/usr/include/elogind to CFLAGS. Perhaps there are some pro

[2019-03-14 06:15] Yamakuzure commented on #117
Do you have any applications that activily _use_ sd-journal.h?

On my system (with syslog-ng-3.19.1) it looks like this:
[code]
All the elogind variants do is to include <syslog.h> and to utilize the syslog() function. There is no further handling or manipulating of syslog files.

[2019-03-14 11:04] udeved commented on #70
@djlucas

I did yesterday an update for udisks2 which has upstream elogind support.
The thing is with symlinking the pkgconfig, at least in case of udisks2, both elogind and systemd-logind get enabled. I wasn't sure about that, so I temporarily took out the libsystemd.pc symlink in our testing repo.
Needless to say, udisks2 built without the libsystemd.pc only find elogind and activates it.

[2019-03-14 11:10] udeved commented on #117
[code]

Hmm.

[code]

All log sources defined in syslog-ng.conf are empty.

Afaik, the only thing that uses a journald flag is qt5-base, and we have it deactivated.

[2019-03-14 11:47] Cogitri opened #126 "Add a CI pipeline"
If you want to you can enable CI for a provider of your choosing and I can write a YML file for CI.

[2019-03-15 04:53] djlucas commented on #70
This should cause no harm, other than possibly polluting the build log with an extra "-I/usr/include/elogind -lelogind". This should probably be corrected in udisks2, make elogind/systemd exclusive, but save a couple of unimportant duplicate messages, this is harmless.

[2019-03-15 06:38] Yamakuzure commented on #117
It is configured like this here:

[code]

Are you sure you didn't update anything else? I am a bit at loss how we could debug this.

Could you downgrade elogind and test whether the logs fill again?

[2019-03-15 06:47] Yamakuzure commented on #70
Well, it makes no sense to install on a system that is powered by systemd.

So I see how packages with no native elogind support can be forced to build against elogind instead by tricking their build systems to use elogind's pkg-config file.

Nevertheless, in the long run, I would be much more confortable if those packages get a check for eloigind in the configuration of their build systems.

@ude

[2019-03-15 06:51] Yamakuzure commented on #126
Although I have written my first "Hello World" in C in 1990, I now feel rather stupid as I do not have any idea what you are talking about.

For me, "CI" means "Corporate Identity" and "YML" is a stripped down version of XML, isn't it? :question:

[2019-03-15 07:35] Cogitri commented on #126
Ah, CI is Continuous Integration, so think Travis, Appveyor etc.

The file which defines how the CI pipeline should be run (e.g. how tests are run) is usually written in the YML format

[2019-03-15 09:55] udeved commented on #117
After trying stable elogind, I had same result. I nuked the log files, update to 241.1 again, and tada, logging works again.
I am sorry for the false alert, I dunno what went wrong, but its not an elogind issue.

[2019-03-15 09:55] #117 closed

[2019-03-16 05:17] kensington commented on #126
I think CI would be a nice idea.

[2019-03-16 05:24] kensington opened #127 "241.1 test-mountpoint-util test fails inside a sandbox"
While bumping 241.1 in Gentoo, I ran into this test failure. This only occurs in portage's sandboxed environment, it passes fine otherwise.

[code]

[2019-03-16 18:04] Yamakuzure commented on #126
All right, then go ahead, I'd like that!

Maybe it makes sense to use https://github.com/systemd/systemd/tree/master/travis-ci and adept for elogind. Future changes could then be migrated.
On the other hand, I guess elogind is different enough that it makes more sense to go an own path.

Thank you very much in advance!

[2019-03-16 18:08] Yamakuzure commented on #127
I am not entirely sure that we need all these tests. I will look further into them in the next week.

There have been some enhancements for musl-libc compatibility, so I guess a v241.2 isn't far away.

One more thing: As elogind now supports being interrupted without tearing everything down, I have adapted the init file to make use of that.
Please have a look here:
https://gitweb.gentoo.org/user/s

[2019-03-16 19:07] Cogitri commented on #126
Sure, I don't think we need that much tooling, but yes, I can do that. Could you enable the Repo on Travis CI though? Repo owners have to do that. See https://docs.travis-ci.com/user/tutorial/

[2019-03-17 09:07] Yamakuzure commented on #126
Well, I am not the owner, so I can't.

@wingo : can you, please?

[2019-03-17 09:17] Cogitri commented on #126
Oh, alright. Ping me once that's done please :)

[2019-03-18 15:04] wingo commented on #126
@Yamakuzure i thought you were admin already!  adding you now :)  /cc @kensington

[2019-03-19 06:53] Yamakuzure commented on #126
@wingo : Thank you very much! I have requested approval for elogind to be accessed by travis-ci, but the owner (you) has to accept this personally. :man_shrugging:
They sent you an e-mail.

[2019-03-19 08:08] wingo commented on #126
weird :)  anyway, done! :)

[2019-03-19 10:53] Yamakuzure commented on #126
@Cogitri : It should be enabled now.

[2019-03-19 15:37] Cogitri commented on #126
Thanks, will look at it at the weekend

[2019-03-20 17:00] Yamakuzure commented on #127
This is really weird...

Mountinfo says, that /proc/sys/fs/binfmt_misc has the mount_id 65. But when opened, /proc/self/fdinfo/<fd> says it is 86, which is in fact /proc...

/proc is also mounted as ID 64. Is that a bind mount?

[2019-03-20 18:40] markhindley commented on #111
On Tue, Mar 12, 2019 at 09:23:49AM +0000, Mark Hindley wrote:

The OP no longer has the hardware.

Sorry.

Mark

[2019-03-21 06:08] Yamakuzure commented on #127
The mountinfo is stored in a hash, so the earlier
  `/proc → 64`
is later overwritten by
  `/proc → 86`
which is okay, because that is the mount in your chroot.

Further mountinfo says that
  `/proc/sys/fs/binfmt_misc → 65`
which is a mount in your **outside** `/proc`, which is not available inside your chroot.
Therefore, when trying to open it from __inside__ your chroot, the system has to use yo

[2019-03-21 06:24] Yamakuzure commented on #127
@kensington Could you please test whether commit faeb66b fixes the issue?

[2019-03-25 10:00] kensington commented on #127
Tests pass now with that commit. Thanks!

[2019-03-26 06:01] Yamakuzure commented on #127
I am very happy to hear that!

This change seems to be worth to be PR'd towards systemd, as using a build chroot isn't __that__ uncommon.

Thank you very much for your work on the gentoo ebuild! :+1:

[2019-03-26 06:05] #127 closed

[2019-03-27 06:12] Yamakuzure commented on #127
@kensington : I have released v242.2 including this fix. Further compatibility with musl-libc is restored and I fixed some idiotic errors in the man pages.

[2019-03-27 11:44] udeved opened #128 "tag typo?"
Hi Sven,

I think you had a typo in the tag version.

Should be 241.2, not 242.2?

[2019-03-27 12:37] Yamakuzure commented on #128
Oh no! What an idiotic mistake! :scream:

Sorry, sorry, sorry everybody!

--> Fixed

[2019-03-27 12:37] #128 closed

[2019-03-27 12:40] Yamakuzure commented on #128
...now it is fixed...

[2019-04-01 08:30] rubyFeedback opened #129 "No program or command 'getent' could be found"
I am using this here:

https://github.com/elogind/elogind/archive/v241.2.tar.gz

When trying to use meson to compile it I then get:

meson.build:914:8: ERROR:  Program or command 'getent' not found or not executable

I am not sure what getent is or where it is. Could there be an additional message shown that informs the user what getent is or where it can be found? I typically compile everything f

[2019-04-01 08:32] rubyFeedback commented on #129
Nevermind - it was part of glibc. I had getent removed prior to that under /usr/bin/ but had it available at another location, so I symlinked it and compilation proceeded.

[2019-04-01 08:32] #129 closed

[2019-04-01 16:09] Yamakuzure commented on #70
@all : I have finally managed to install a MyBB forum. This took the better of the last two weeks!
Fortunately I didn't know beforehand about how much work this really is...

The link: http://forum.prydeworx.com

Encryption (https) and social logind (Twitter and Facebook) will follow, I just wnated to get it up and running first, make pretty later.

There isn't much there besides elogind. I'll add

[2019-04-01 16:22] joakim-tjernlund commented on #70
404 - Not found

[2019-04-01 16:24] joakim-tjernlund commented on #70
FYI, MATE just got elogind support in Gentoo and I am running it now

[2019-04-01 16:29] joakim-tjernlund commented on #70
What is USE=user-session ? Is for systemd but not for elogind

[2019-04-01 16:30] Yamakuzure commented on #70
Dammit! It's http://forums.prydeworx.com damn auto correction! :angry:

[2019-04-01 16:35] Yamakuzure commented on #70
@joakim-tjernlund last time I looked, it was for user systemd instances. But I didn't pay attention to it in the last couple of months, as I had to tackle other matters first.
I *think* the meaning has changed since then.

[2019-04-01 18:43] CameronNemo commented on #70
ha

[2019-04-02 05:04] Yamakuzure commented on #70
I am relieved! Feared that nobody would spot that. :wink:

[2019-04-03 09:06] anarchpenguin opened #130 "Failed to attach PID to cgroup Invalid argument (musl)"
anarchy@bull ~ $ dmesg | grep elogind
[   10.283870] elogind-daemon[2803]: New seat seat0.
[   10.285784] elogind-daemon[2803]: Watching system buttons on /dev/input/event2 (Power Button)
[   10.295879] elogind-daemon[2803]: Watching system buttons on /dev/input/event0 (Lid Switch)
[   10.296034] elogind-daemon[2803]: Watching system buttons on /dev/input/event1 (Sleep Button)
[   10.390518] elogi

[2019-04-03 11:08] Yamakuzure commented on #130
Are you using openrc?

Are cgroups enabled in
  a) your kernel and
  b) in /etc/rc.conf

What is the content of /proc/1/cgroup ?

[2019-04-03 13:33] anarchpenguin commented on #130
yes I am using openrc.

anarchy@bull ~ $ cat /proc/1/cgroup
12:rdma:/
11:pids:/
10:hugetlb:/
9:perf_event:/
8:freezer:/
7:devices:/
6:memory:/
5:blkio:/
4:cpuacct:/
3:cpu:/
2:cpuset:/
1:name=openrc:/
0::/

anarchy@bull ~ $ grep -i cgroup /etc/rc.conf
# LINUX CGROUPS RESOURCE MANAGEMENT
# This sets the mode used to mount cgroups.
# "hybrid" mounts cgroups version 2 on /sys/fs/cgroup/unified and
# c

[2019-04-04 05:49] Yamakuzure commented on #130
That looks fine.

What do you see in
  `ls -lh /sys/fs/cgroup/openrc/` ?

There should be a subdirectory for every session you have, like this:
[code]

Do you have AUDIT support in your kernel?
[code]

Well, Void Linux uses musl-libc, too. But they do not have a cgroup manager, so they use elogind as its own manager to set up the right directories and mounts.

I'll have to go through the whole pro

[2019-04-04 10:16] Yamakuzure commented on #70
@ALL : You can now register/login with your Github/Gitlab account! *yay*

My first goal is to move _this thread_ into the forums, as this long stream of answers is getting more and more cluttered and difficult to follow.
I thought about one thread for each package, and one sticky overview?

[2019-04-04 10:25] udeved commented on #70
One thread per package is probably a good solution.
We gonna link to your forum in ours.

[2019-04-04 10:50] anarchpenguin commented on #130
Thu Apr 04 05:48
anarchy@bull ~ $ loginctl
SESSION  UID USER    SEAT  TTY
      2 1000 anarchy seat0

1 sessions listed.
Thu Apr 04 05:48
anarchy@bull ~ $ ls -lh /sys/fs/cgroup/openrc/2/
total 0
-rw-r--r-- 1 root root 0 Apr  4 05:48 cgroup.clone_children
-rw-r--r-- 1 root root 0 Apr  4 05:45 cgroup.procs
-rw-r--r-- 1 root root 0 Apr  4 05:48 notify_on_release
-rw-r--r-- 1 root root 0 Apr  4 05:48

[2019-04-04 14:37] Yamakuzure commented on #130
Damn... apart from `cgroup.procs` and `tasks` everything looks fine.

@maxice8 @Derriick : Could you please have a look in your logs whether this is a general problem with musl-libc systems?

[2019-04-04 19:29] Cogitri commented on #130
Can confirm this also happens on my x86_64-musl system. I'll try downgrading from elogind to 241 to 239 on my musl partition and see if that works.

[2019-04-04 21:18] Cogitri commented on #130
Works fine with 239.

[2019-04-05 00:18] anarchpenguin commented on #130
Confirmed 239.4 works fine on musl using openrc. Atleast we have a starting point to work forward from :)

[2019-04-05 06:03] Yamakuzure commented on #130
@Cogitri : Thank you very much!
@anarchpenguin : Yes, I now know where to look.

It would be good to bisect this, that would be the easiest, but I don't have a musl system (yet) to do so.
However, I'll better stop chatting and start to diff. :wink:

[2019-04-05 06:36] Yamakuzure commented on #130
@anarchpenguin : Could you please try this patch?
https://gist.github.com/Yamakuzure/d6b3eb2b0406229129aa7bfcf08212a4

The difference to v239.4 is very small for this attaching process. The patch reverses the change that I find most likely to break things.

[2019-04-05 06:53] Yamakuzure commented on #130
@anarchpenguin : Another patch to try, if the first didn't lead to success.
https://gist.github.com/Yamakuzure/502c0b0df770db50de24f635250cc4f1

But I really really hope the first one is the culprit. If the second one is the problem, then a lot places in elogind are secretly broken for musl-libc systems by now...

[2019-04-05 15:10] anarchpenguin commented on #130
:/ your worst fears my friend.
reverse_CLOSE_ON_EXEC_removal.patch - no effect
reverse_DISABLE_BUFFER_in_cg_attach.patch - works as expected

[2019-04-05 16:09] Yamakuzure commented on #130
That's bad! :scream:

Maybe we can pull this off. I have read somewhere that musl-libc only allows to call setvbuf() as the very first action after acquiring a stream.

Could you please test with this patch only?
  https://gist.github.com/Yamakuzure/24a344d1017046985b200801e97dd590

If it isn't enough, the first one above (reverse_CLOSE_ON_EXEC_removal.patch) might be needed, too.
But I really hop

[2019-04-05 16:28] anarchpenguin commented on #130
latest patch - same failure
latest ptch + patch 1 = same failure

I have nothing but patience and cpu cycles to spend on getting this fixed so keep throwing things at me. I appreciate your help and support.

[2019-04-05 16:30] anarchpenguin commented on #130
musl’s setbuf and setvbuf functions ignore the caller-provided buffer and only switch between fully-buffered, line-buffered, and non-buffered modes.

https://wiki.musl-libc.org/functional-differences-from-glibc.html

[2019-04-05 17:31] Yamakuzure commented on #130
Well, that is exactly what is tried: Set to non-buffered mode.

If that was generally broken in musl-libc, hell would break loose, so something in the doing is wrong.

I will go and see what the requirements for the non-buffered mode is. I can't believe we have to re-enable the buffer globally on everything to fix this for musl-libc.

[2019-04-05 18:12] Yamakuzure commented on #130
Alright, I take your word for it! :grin:

Here is another one, which should solve the problem solitarily:
  https://github.com/elogind/elogind/issues/130#issuecomment-480339210

Maybe the first one (reverse_CLOSE_ON_EXEC_removal.patch) is also needed, but it shouldn't, as the flag is already set on the fd.

[2019-04-05 18:13] Cogitri commented on #130
That 404s

[2019-04-05 19:15] anarchpenguin commented on #130
No joy, either way.

[2019-04-07 18:40] Yamakuzure commented on #130
@anarchpenguin @Cogitri : Here is my last attempt:

https://gist.github.com/Yamakuzure/9410d467c8ba426f1e2afe7abf12774d

I _think_ musl has a problem with calling setvbuf() after the original fd was closed. At least it is the last thing that could be causing this.

If this still brings no fix, I'll just turn of the call to setvbuf() for musl-libc completely. That's only a hotfix, though. But it'll

[2019-04-08 07:50] anarchpenguin commented on #130
I am about to test the patch right now. If you need a quick intel chroot to do the testing with let me know, I can tar up the LTO+GRAPHITE chroot I been playing with to give you a head start.

[2019-04-08 10:35] anarchpenguin commented on #130
Sven, http://distfiles.gentoo.org/experimental/amd64/musl/stage4-amd64-musl-hardened-20180721.tar.bz2 I forgot gentoo does have the stage4 ready to go. This would be easiest and fastest solution to setting up your vm.

[2019-04-09 09:00] Yamakuzure commented on #130
@anarchpenguin : Thanks alot!
Actually I didn't think of looking into 'experimental' and tried first with a gnu stage3. But my idea to "just change CHOST and update" was ... not that good. (Trying to avoid the word "stupid" here. :wink: )

I am currently going with the more recent
 http://distfiles.gentoo.org/experimental/amd64/musl/stage3-amd64-musl-vanilla-20190404.tar.bz2
as I thought the stage

[2019-04-09 23:05] anarchpenguin commented on #130
I doubt it is gonna matter if you use hardened or vanilla really. I doubt voidlinux is using hardened features we use in gentoo. If you need any help or assistance just let me know, I have a fully baked xfce4 setup so any breakage you might find I most likely have a patch for already.

[2019-04-10 05:15] Cogitri commented on #130
AFAICS VoidLinux uses about all of Gentoo's hardened features, other than offering SELinux (we only offer Apparmor). However, I also doubt that this is causing the failures.

[2019-04-13 12:25] Yamakuzure commented on #130
Sorry for being so unresponsive. I was knocked out by a severe cold for the full last three days.

I will continue building my VM this evening.

As we are in "doubting mode": I doubt anybody has tested my latest patch? :wink:

[2019-04-15 12:55] #126 closed

[2019-04-15 13:01] Yamakuzure opened #132 ".travis.yml not working (yet)"
@Cogitri There are some dependency conflicts when trying to use travis-ci.org for automatic builds.

Please See: https://travis-ci.org/elogind/elogind/jobs/520278015

[code]

[2019-04-15 13:03] Yamakuzure commented on #111
I am closing this, as we need someone with a docking station to reproduce and to debug this... :cry:

[2019-04-15 13:04] #111 closed

[2019-04-15 13:06] Cogitri commented on #132
Thanks for pingung me, will look into it in a second :)

[2019-04-15 18:14] anarchpenguin commented on #130
If you look back I did test and had same results as originally posted :)

[2019-04-16 08:03] Yamakuzure commented on #130
Ah, yes, you are right! Sorry about that.

And next time I am building a VM on VirtualBox, here is a reminder: EFI support is marked as experimental for a reason! :roll_eyes:
However, after having fun with a non-working libelf, and my total ignorance about a VM needing VIRTIO, it is up and running now.
I'll install gdb tonight and will hen clone the VM twice. Once for musl/hardened, and once for m

[2019-04-16 08:26] Cogitri commented on #130
Can recommend KVM via libvirt instead :)

[2019-04-18 19:06] anarchpenguin commented on #130
Sven, I have tested your commit and all is well so far. I know this just reverts to 239 behavior but at least it provides a working solution for musl users at the moment.

[2019-04-18 20:02] #130 closed

[2019-04-18 20:06] Yamakuzure commented on #130
@anarchpenguin : It only reverts the case where this special technique is used:

 1. Open an FD without creating non-existent files (open() would fail then)
 2. Turn the FD into a FILE* using fdopen()
 3. (_removed_) Disable file buffering on FILE*

The function used to write to this file is fputs(), which errors out. (I have single-stepped it)

I will write a small test program showing this, so I

[2019-04-22 15:40] maxice8 opened #133 "Test fail on alpine"
[code]

[2019-04-22 15:43] maxice8 commented on #133
Seems like Alpine Linux has strict permissions on /proc

[2019-04-23 08:44] Yamakuzure commented on #133
Meddling with /proc permissions is not very likely.
The test seems to think it is running in a container.

Was this a chroot or docker build?
And if so, how is /proc mounted into the chroot/container?
/proc needs its own mount. a bind wouldn't do if I remember correctly.

Were the tests run as root?

[2019-04-23 09:34] Yamakuzure commented on #132
@Cogitri Did you have had any time to look into it, yet?

[2019-04-23 12:31] Cogitri commented on #132
Could you try again? I think that was on Void repos being inconsistent for a bit.

[2019-04-23 15:21] udeved commented on #132
@Yamakuzure

In case you don't get the travis working, we could also offer you access to our CI, jenkins based, artix builds(pkg.tar.xz).

[2019-04-23 15:56] Cogitri commented on #132
Travis should work once a commit has been pushed, will do a test PR.

[2019-04-24 05:27] Yamakuzure commented on #132
@Cogitri : No need to. There have been some upstream updates I'll migrate anyway.

[2019-04-24 05:51] Yamakuzure commented on #132
It still fails:

https://travis-ci.org/elogind/elogind/jobs/523812624

[code]
Same as before. :thinking:

[2019-04-24 11:17] Yamakuzure commented on #132
@Cogitri : That's not enough, unfortunately.
I already did so in 690cab9 but now test-event times out. I am currently experimenting in v241-stable, but am rather busy at work.

Sorry, I wanted to note this here, but my time on public transport ran out.

However, I noticed that you only added util-linux. What about libfdisk? I had added both, or is it pulled in by util-linux anyway?

[2019-04-24 15:52] #132 closed

[2019-04-24 16:06] Yamakuzure commented on #133
This test also fails on musl-libc based Void Linux docker image.
I will investigate it further tonight.

[2019-04-24 16:08] maxice8 commented on #133
No, done on a live system

[2019-04-24 17:26] Yamakuzure commented on #133
Okay,  so you really need root privileges to read /proc/1/environ, which was what caused the message.
As it is perfectly okay to run the tests as a user, the Permission Denied error is ignored.

The detect_container() function will try /proc/1/sched, too, fail, ignore the error, and return VIRTUALIZATION_NONE. So if you run the tests as a user in a live system (no chroot, no container), everything

[2019-04-24 21:20] #133 closed

[2019-04-24 21:21] Yamakuzure commented on #133
Found it!

It was a very good idea to build a musl-libc based VM! :grin:

[2019-04-24 21:26] Yamakuzure commented on #126
Thanks to the help of @Cogitri the CI pipeline now works!

Feel free to have a look: https://travis-ci.org/elogind/elogind

[2019-04-24 21:26] Yamakuzure commented on #133
@maxice8 : I hope the fix is enough for alpine, too!

[2019-04-24 21:39] Cogitri commented on #126
Nice! :)

[2019-04-25 05:25] BillKen opened #135 "actions on resume from suspend/hibernate"
I recently converted from console-kit to elogind but as elogind handles suspend/hibernate I need a way to run a script on resume.

In the case of the MS Surface line (I have a Pro4) it requires the removal of the ipts/mei modules on suspend, and in addition the wifi modules on hibernate - and of course reload at the end of the resume process.  This is needed for the touchscreen and wifi.

Before e

[2019-04-25 05:59] Yamakuzure commented on #135
Immediately before entering system suspend and/or hibernation elogind will run all executables in [/usr]/lib/elogind/system-sleep/ and pass two arguments to them. The first argument will be "pre", the second either "suspend", "hibernate", "hybrid-sleep", or "suspend-then-hibernate" depending on the chosen action.
Immediately after leaving system suspend and/or hibernation the same executables are

[2019-04-25 05:59] #135 closed

[2019-04-25 08:48] BillKen commented on #135
Thanks.

[2019-04-25 19:16] Cogitri opened #136 "[Question] Getting elogind to work properly"
So I'm currently working on GNOME 3.32 on Alpine Linux, for which I need elogind (packaged by @maxice8), which I've already used on Void previously. However, when starting GNOME the following pops up in my syslog: `WARNING: Failed to connect to systemd: Errror falling StartServiceByName for org.freedesktop.login1: Timeout was reached`, so logind doesn't seem to work properly and GNOME doesn't star

[2019-04-25 21:47] Yamakuzure commented on #136
AFAIK you *must* use gdm. But I am not entirely sure at the moment.

[2019-04-26 05:16] Yamakuzure commented on #136
@Cogitri : I have researched a bit, and it looks light lightdm is probably in order. It is just said, that the Gnome lock screen wouldn't work without gdm, that's all.

Unfortunately something wants to start systemd-login via dbus, although it is already running. That start wouldn't work, of course.
I had a quick lookup in Gentoo, and both gnome-session and gnome-shell need to support elogind.

gn

[2019-04-27 07:19] udeved commented on #136
I was recently told, arch's gnome packages work fine on artix with elogind. We have openrc-settingd in our repos too.
They made a video, but it is unfortunately in french.
https://www.youtube.com/watch?v=c2du9_dStQE

[2019-04-29 18:51] Cogitri commented on #136
@Yamakuzure I've opened an issue about this at GDM upstream. Even if elogind is kind of unsupported GDM should at least give out a proper error message and not just get stuck.

One thing I've noticed: When I start a GNOME session via lightdm I do get a session displayed via `loginctl`, but when I start one via a TTY none is shown. I guess my PAM config isn't correct? If so, what files should I sen

[2019-04-29 18:57] maxice8 commented on #136
On Mon, Apr 29, 2019 at 11:51:05AM -0700, Rasmus Thomsen wrote:

I have session	required	pam_elogind.so in /etc/pam.d/login

[2019-05-01 13:16] Cogitri commented on #136
It works now, thanks for the help :)

[2019-05-01 13:16] #136 closed

[2019-05-13 13:28] metafarion commented on #72
I finally got around to playing with this in a significant way and it seems to work quite well.  Thanks so much for your attention and effort.

[2019-05-16 05:16] Yamakuzure commented on #72
@metafarion Thanks! And thank you for testing it. Without you guys testing those features, nothing could be ever done! :wink:

[2019-06-06 09:55] lalincedeldeserto opened #137 "elogind logind.conf: no possibility to suspend and lock (so only one action is taken)"
[logind.txt](https://github.com/elogind/elogind/files/3260973/logind.txt) → this is logind.conf
![image](https://user-images.githubusercontent.com/33136381/59023406-09854180-8850-11e9-9840-a6943269e00f.png)
I'd like to configure the file in this way:
`HandleLidSwitch=lock,suspend`
`HandleLidSwitchExternalPower=lock,suspend`
`HandleLidSwitchDocked=ignore`
I'm using xfce4 version 4.12 with xfce4-scr

[2019-08-27 19:50] Boskovits commented on #137
Did you tried the linked script unmodified?
If  not, what changes you have made?

[2019-09-01 17:48] lalincedeldeserto commented on #137
Dear @Boskovits ,

I've switched from Void Linux to Arch Linux. I'm not using elogind anymore.

I tried to write an appropriate answer, but I don't remember anymore what I've done and what were the behaviours of the software in the cases I faced issues.

I hope I didn't cause an inconvenience leaving this post opened.

[2019-09-03 20:13] pierre-labastie opened #138 "Add localed/localectl"
Using most recent gdm, gnome-shell, and gnome-settings 3.32.x, it appears that some functionality is lost if the systemd-localed daemon  (more exactly the org/freedesktop/locale1 service) is not available: no way to set the login screen keyboard layout (not easy to enter a password, you have to use the on-screen keyboard), no way to access the login screen settings (no login screen button) from "s

[2019-09-04 07:02] udeved commented on #138
@pierre-labastie

There is a gentoo project called openrc-settingsd.
Perhaps it would be a good place for localed.

https://gitweb.gentoo.org/proj/openrc-settingsd.git

We have it packaged on artix as well, seems to sort of work.

[2019-09-04 09:50] pierre-labastie commented on #138
@udeved
Thanks, I was not aware of this project (although I looked for some localed project in duckduckgo...)
Looks like openrc is required, which I am not sure is acceptable by blfs. But maybe the dependency is not too strong, and it could be patched to use the blfs sysv type of init.

What worries me more is that the last release is very old.

[2019-09-04 15:48] Yamakuzure commented on #137
For further readers:
Locking after wakeup from suspend/hibernate should be done by your desktop environment. If this does not happen, you can add a hook script into `[/usr]/lib/elogind/system-sleep/`.
It is passed two arguments:
- The first argument will be "pre" before suspending/hibernating, or "post" after waking up.
- The second will be either "suspend", "hibernate", "hybrid-sleep" or "suspend

[2019-09-04 15:48] #137 closed

[2019-09-04 15:56] Yamakuzure commented on #138
I do not think that elogind is the right place. Basically setxkbmap is all that should be needed. I do not know what that last move of the Gnome team shall be good for.

However, systemd-stable/243-stable has got an update to the NEWS file yesterday:
[code]

That is rather good timing, as I am near the end of a very exhausting project, and will have time to get back on elogind next week.

Further

[2019-09-04 17:28] pierre-labastie commented on #138
Looks like guix has added a standalone localed daemon (starting from full systemd sources) http://git.savannah.gnu.org/cgit/guix.git/commit/?id=f63861b5a61b2a9d2c17dbf88b24b5e8f0c5c111

@Yamakuzure, thanks for looking into it. Basically, it amounts to add the content of src/locale, neutralize a couple of functions that call systemd1 (to interact with the vconsole, I think), change the dbus service

[2019-09-05 07:47] pierre-labastie commented on #138
FWIW, I do not think openrc-settingsd is suitable for what I need: it has too many librc function calls, so it wouldn't work without openrc, and I do not think we want to add openrc to lfs. Of course, localed could be extracted from this package, because it is less tied to librc.

@Yamakuzure I think setxkbmap does not work on Wayland.

[2019-09-05 12:31] markhindley commented on #138
FWIW, I don't think elogind is the right place for this either. I think we should avoid bloat and stick to trying to do one thing well. If you want logind, localed  and whateverelsed in a single package, use systemd itself.

@Yamakuzure It will be good to see you back!

[2019-09-05 12:36] udeved commented on #138
I also think elogind is not the right place for localectl.
That said, openrc-settingsd works for openrc, but we don't have an equivalent on our artix runit implementation. A standalone localectl, but decoupled from any init would be nice in my opinion.

[2019-09-05 14:16] pierre-labastie commented on #138
Without too much work, there are two possibilities to do that:
- extract and patch localed from openrc-settingsd, and make it standalone. The drawback is that some functions are to be rewritten (so that they use some standard config files, say `/etc/X11/xorg.conf.d/00-keyboard.conf`, `/etc/vconsole.conf`, and `/etc/locale.conf` instead of the openrc config files)
- extract and patch localectl/loca

[2019-10-03 07:12] Yamakuzure commented on #138
This seems to be the right choice for me, too.

Sounds like a new project to me...

[2019-10-03 07:47] pierre-labastie commented on #138
OK, will try to do that. Something will appear under my account within a few days. My initial thought is that I'll take openrc-settingsd, remove anything not related to localed, and add configuration options for the location of the config files.  I may add a localectl utility at a later stage.

The reason I would not take the localed/localectl from systemd is that it depends heavily on systemd lib

[2019-10-08 17:20] Necktwi commented on #17
I'm using `elogind-241.3` and my PC won't resume properly after suspend. I filed https://bugs.gentoo.org/693384.

[2019-10-22 15:19] Yamakuzure commented on #138
Alright, but I'd like to hear about your progress! :wink:

[2019-10-22 15:19] #138 closed

[2019-10-22 16:09] pierre-labastie commented on #138
Actually, I am not sure where to discuss options for it. See https://github.com/pierre-labastie/blocaled.git. It sort of works. The config files can be chosen at build time, but I'd like to be able to read them from a file. Right now, I am writing documentation, because I need it anyway (the documentation of the original code is very scarce).

[2019-10-27 15:04] metafarion opened #139 "Console beep on suspend interruption"
Hi, just a little more on the suspend interrupt subject.
I've recently noticed my machine producing a console beep every time one of my scripts prevents automatic sleep, which gets really annoying after awhile.  Do you know what might be triggering this and where to suppress it?

[2019-11-06 07:47] Yamakuzure commented on #139
If an error occurs in a shell, a beep is produced. I guess that's why it has become so hard to activate the internal speaker in the kernel configuration. Annoys the hell out of everybody. :wink:

You might want to take a look at https://linuxconfig.org/turn-off-beep-bell-on-linux-terminal if you do not wish to disable the PC-Speaker in your kernel config.

[2019-11-22 15:20] Necktwi opened #140 "system won't resume after suspend when nvidia drivers are in use."
The system resume when suspend is with `echo mem > /sys/power/state` works fine but if I suspend the system with `loginctl suspend`, resume gives black screen; I have to ssh xdm restart to get into gnome-shell. No problem if i blacklist nvidia drivers(rtx-2060).
I filed a bug at https://bugs.gentoo.org/693384

[2019-11-26 17:21] joakim-tjernlund opened #141 "New major release soon?"
241.4 is getting old, is there a 243.x on the horizon?

[2019-11-26 17:56] Yamakuzure commented on #141
Yes it is. I am currently testing and cleaning up the sources from unused functions.Guess I'll push tomorrow, you can clone from v243-stable branch and test, too, if you like. CheersSvenAm 26.11.2019 18:21 schrieb joakim-tjernlund <notifications@github.com>:241.4 is getting old, is there a 243.x on the horizon?

—You are receiving this because you are subscribed to this thread.Reply to this email

[2019-11-26 19:11] joakim-tjernlund commented on #141
Would be much easier if there was en 9999 ebuild in Gentoo, could you push one?

[2019-11-26 19:34] Yamakuzure commented on #141
There is one in my Overlay "seden", available via Layman.I am not a Gentoo dev, just a proxy maintainer for a few packages. (not elogind) Am 26.11.2019 20:11 schrieb joakim-tjernlund <notifications@github.com>:
Yes it is. I am currently testing and cleaning up the sources from unused functions.Guess I'll push tomorrow, you can clone from v243-stable branch and test, too, if you like.
Would be much

[2019-11-27 19:02] Yamakuzure commented on #140
Which dm is used? gdm?

[2019-11-27 19:13] Yamakuzure commented on #140
I have answered in the gentoo bug. Please answer my questions there. I doubt this is an elogind issue.

[2019-11-27 19:15] Yamakuzure commented on #141
I just pushed. Travis is no longer working, but that I have to sort out later. (They changed some default package in the void linux image we use.)

[2019-12-04 18:47] #139 closed

[2019-12-05 07:58] Yamakuzure commented on #140
As written in the gentoo bug, this issue is related to nvidia, not elogind.

[2019-12-06 04:09] Necktwi commented on #140
But remember **I was able to do a proper resume if I suspend with `echo mem > /sys/power/state`.**

[2019-12-29 21:17] joakim-tjernlund commented on #141
I tried your elogind-243.9999 ebuild but didn't work out:
1) the elogind-241.1-docs.patch does not apply
2) building fails with:
[code]

[2019-12-29 21:22] joakim-tjernlund commented on #141
This little patch makes it build:
[code]

w.r.t elogind-241.1-docs.patch, could you not integrate that into the elogind src?

[2020-01-06 00:25] Yamakuzure commented on #141
Sorry for the late reply.

I have just published: https://github.com/elogind/elogind/releases/tag/v243.4

The elogind-243.9999 should work just fine until the update hits the portage tree.

The reason for the long time is my stupidity leading to a typo that lead to an `rm -rf /`. Luckily as a user, but thanks to the wonders of nvme, the short two seconds until I slammed CTRL-C was enough to delete

[2020-01-06 01:45] cimarronline opened #144 "Elogind 243.4 fails to build due to missing NEWS file"
Elogind version 243.4 failed to build for me with the error "File NEWS does not exist":
[code]
When I manually added the NEWS file to the src directory, it built fine.

[2020-01-06 12:20] Yamakuzure commented on #140
@Necktwi : I believe you. But I can not reproduce your issue but like I mentioned in the gentoo report, and that one is known to be an nvidia-drivers issue.

[2020-01-06 12:21] Yamakuzure commented on #144
Damn! Missed that one...

I'll fix that right away, hang on...

[2020-01-06 12:51] Yamakuzure commented on #144
Should be fixed in re-release. Sorry for the oversight!

[2020-01-06 13:58] cimarronline commented on #144
No problem at all--thank you for the update!

[2020-01-06 14:42] maxice8 opened #145 "Failure to build on Alpine Linux Edge"
[1/343] Compiling C object 'src/journal/da05bd7@@journal-client@sta/mmap-cache.c.o'.
FAILED: src/journal/da05bd7@@journal-client@sta/mmap-cache.c.o
gcc -Isrc/journal/da05bd7@@journal-client@sta -Isrc/journal -I../src/journal -Isrc/basic -I../src/basic -I../src/boot -Isrc/shared -I../src/shared -Isrc/systemd -I../src/systemd -Isrc/login -I../src/login -Isrc/core -I../src/core -I../src/libelogind/sd

[2020-01-06 14:43] Yamakuzure commented on #144
I am reopening this.

@Cogitri has fixed the travis build file (thanks for that!) and travis is now pestering me with failures all over the place. I don't have these failures due to my super-duper-modern dev machine install. :roll_eyes:

But the stuff shall work in Travis, or it isn't ready. So I am pulling back the release now and will re-release when its finished.

[2020-01-06 15:06] joakim-tjernlund commented on #141
Great !

Ouch, been there myself too.
I haven't looked into you xfs code, just wanted to mention http://inai.de/projects/hxtools/
There is some xfs recover code in there. There is also https://github.com/salviati/xfsr
Good luck

[2020-01-06 15:13] joakim-tjernlund commented on #141
BTW, the tag, v243.4 seem to be missing.
My little patch above is also missing I think?

[2020-01-06 18:23] markhindley opened #146 "sd_is_mq() should return -ENOSYS"
Hi,

I think it would be more consistent if sd_is_mq() returned -ENOSYS, since we don't actually know (or care!) if the argument is a message queue.

Suggested patch:

 https://git.devuan.org/LeePen/elogind/commit/cb3ab75b31098d3bc69c674376fd82a14281f10a

Mark

[2020-01-06 18:33] markhindley opened #147 "Better broken AF_ALG detection"
Hi,

When cross-compiling for arm* on amd64 and i386 hosts under qemu, AF_ALG support is incomplete, but not detected as such. In particular SOL_ALG is not available and tests fail with

 Unsupported setsockopt level=279.

The attached patch works around that by checking for support in khash_supported().

Mark

[skip_id128_tests_unsupported.patch.gz](https://github.com/elogind/elogind/files/402733

[2020-01-06 18:35] Yamakuzure commented on #144
@Cogitri : Could you please have a look at https://travis-ci.org/elogind/elogind/builds/633316251 ?

gcc is mad for not knowing __cpu_mask ; which should be just there, but is not in those containers. There is no particular include file to add for it to appear, and it also shouldn't be necessary. Do you have any idea what the matter here is? Multiple internet searches haven't brought any light on

[2020-01-06 18:36] Yamakuzure commented on #145
Interesting... I'll be looking into this once find out (or get told) why gcc on Void hasn't got any idea what __cpu_mask is.

[2020-01-06 18:37] Yamakuzure commented on #146
Good idea! As I have retracted the release to get building via travis fixed, first, I'll add this before the re-release.

[2020-01-06 18:39] Yamakuzure commented on #147
To be honest, I have no clue what you are talking about. I'll take a look at that patch, I guess I'll understand it then, and will add it.

[2020-01-06 18:43] Yamakuzure commented on #141
I had to retract the release due to some heavy issues on travis.

And good it was, because some more issues popped up all of a sudden. I'll re-release when everything is ready. Hopefully tomorrow or on Wednesday.

[2020-01-06 18:44] Yamakuzure commented on #141
It _should_ be fixed now.

[2020-01-06 18:58] Cogitri commented on #144
So I guess on glibc you'll have to include `bits/sched.h` for that to be defined, I don't think it's defined on musl, since it just used an `unsigned long` for its `cpu_set_t` struct:

on GlibC:

[code]

Musl:

[code]

[2020-01-06 20:21] joakim-tjernlund commented on #141
Still don't see it.

[2020-01-09 12:33] Yamakuzure commented on #141
I need a little bit more info. I am using elogind-243.9999 for a few weeks now, and everything is working well, built with gcc-9.2 against glibc-2.30. No build failures so far, so I don't know why I should add includes when they don't solve a standing problem.

Do you build still fails with elogind-243.9999 ?

[2020-01-09 17:23] joakim-tjernlund commented on #141
umask(2) has these includes documeted:
[code]
Omitting them may work depending on glibc version which by accident pull in these

Have you fixed the two Gentoo patches elogind-241.4-broken-test.patch and elogind-241.4-nodocs.patch ?
They don't apply any more.

[2020-01-09 17:29] joakim-tjernlund commented on #141
Especially since elogind defaults to -Werror
-Werror is nice for development work but a pain for distributions

[2020-01-09 23:31] joakim-tjernlund commented on #141
Still breaks form me at home:
gcc-9.2.0-r2 and glibc-2.29-r7

[2020-01-12 10:11] Yamakuzure commented on #141
Now I get it....

[2020-01-12 10:14] perfect7gentleman commented on #141
[code]

[2020-01-12 10:18] Yamakuzure commented on #144
Yes, but the failing file *does* include <sched.h> which includes <bits/sched.h>. And its failing on both?

Really weird...

[2020-01-12 10:32] Yamakuzure commented on #144
I have gone through systemd commits to find out why this test is there.
It is performed due to a change with *cpu_set* functions in systemd core and nspawn. We don't use any of those.

So short hand solution: Mask the test, we don't need it anyway.

[2020-01-12 10:39] Yamakuzure commented on #145
Could you please tell me what "RELATIVE_SOURCE_PATH" is in your build/config.h ?

[2020-01-12 10:45] #146 closed

[2020-01-12 10:52] Yamakuzure commented on #141
@perfect7gentleman That's also my experience.
And yet we have another shred of evidence that installations can be different without seeming to be so... :man_shrugging:

That's why I need your feedback, guys, so thank you very much!

[2020-01-12 10:52] #141 closed

[2020-01-12 10:52] Yamakuzure commented on #144
Now it works. :grinning:

[2020-01-12 10:52] #144 closed

[2020-01-12 11:21] Yamakuzure commented on #147
After looking at your patch the issue got much clearer.

Thanks alot!

[2020-01-12 11:21] #147 closed

[2020-01-12 12:46] Yamakuzure commented on #145
Clarification:

What you have witnessed is a compiler assertion. The index -1 is used in you case, because __FILE__ is not longer than RELATIVE_SOURCE_PATH. systemd would fail as well at the very same point.

This is very interesting, as the relative source path should be just ".." and not some lengthy path somewhere completely different.

Please check where your build method wants to build elogin

[2020-01-12 13:25] maxice8 commented on #145
#define RELATIVE_SOURCE_PATH "/home/builder/aports/community/elogind/src/elogind-                                         85b79669b73fba319bcaa6967798e27813f6a677"

[2020-01-12 13:26] maxice8 commented on #145
oh i found out why i think.

It uses realpath --relative-to= which is a GNU-ism

[2020-01-12 13:28] maxice8 commented on #145
yup, added `coreutils` to `makedepends=` and RELATIVE_SOURCE_PATH became '..'

[2020-01-12 13:38] maxice8 commented on #145
Yeah, this is on alpine's side since busybox doesn't support --relative-to. Would be nice to have that documented.

[2020-01-12 13:38] #145 closed

[2020-01-12 14:04] Yamakuzure commented on #145
Glad you could sort that out!

I have put a note into the README.md that the build directory should not be "_too far away_".

[2020-01-12 20:34] Cogitri commented on #144
Nice :)

Is 243 ready for testing?

[2020-01-13 07:22] Yamakuzure commented on #144
Absolutely!

I'll prepare another release tonight, this time for real.

And next time I'll put up an rc pre-release first. I've learned my lesson. :wink:

[2020-01-13 09:28] Cogitri commented on #144
Great, thank you! :)

[2020-01-14 17:33] Yamakuzure opened #148 "The new --boot-loader-* options do not work as expected"
We have three new options in elogind-243:

[code]
This one works as expected, at least on UEFI. Unfortunately I do not have any machine I could test booting into CMOS setup with. It _should_ work, but maybe someone could test this?

[code]
Does **not** work. On all machines I can test this with, I get this as a reply:

As I can reboot into firmware setup, I have a feeling that something is not wor

[2020-01-14 17:34] Yamakuzure commented on #144
Unfortunately I have to postpone **_again_**! :sob:
Issue #148 got in the way!

[2020-01-14 17:38] Cogitri commented on #148
Doesn't that depend on systemd-bootd anyway?

[2020-01-19 16:03] Yamakuzure commented on #148
@Cogitri No, all these firmware related dbus handlers were moved into systemd-login, no idea why.
See:
[code]
So I thought this might be a good reason to support it.

However, I fixed the crash, but why I get this at the moment:
[code]
Is a riddle which I'll solve later. The release comes first, maybe I just forgot to enable something relevant in my kernel config or something like that. :man_shrug

[2020-01-19 16:05] udeved commented on #148
@Yamakuzure

I am pretty sure the bootloader required is the systemd-boot or whatever it is called, ie it only supports this bootloader. If you want grub detected, I think this requires patching(maybe a lot)

[2020-01-19 21:21] Yamakuzure commented on #148
@udeved : Well, --firmware-setup works. Maybe I can only leave that and have to remove the other two in the end. We'll see.
Would be a pity, as I dual-boot into the mentioned Win64Pro twice a month when I have my gaming night. Would be neat to just do that with loginctl instead of always having to press F12 at the exact right moment t choose manually...

If if it can not be made working, it simply

[2020-01-19 21:26] udeved commented on #148
@Yamakuzure

Afaik, the bootloader systemd uses is the former gummiboot.

The arch system package if it is useful to you.

https://www.archlinux.org/packages/core/x86_64/systemd/

`usr/lib/systemd/
usr/lib/systemd/boot/
usr/lib/systemd/boot/efi/
usr/lib/systemd/boot/efi/linuxx64.efi.stub
usr/lib/systemd/boot/efi/systemd-bootx64.efi`

It perhaps works if there is a efi binary located at some path (

[2020-01-19 21:35] udeved commented on #148
The more I think about, the bootloader part should be a configurable option, if you get it working with gummiboot.  If not, it should be removed.

[2020-01-20 06:48] Yamakuzure commented on #148
Actually you are right. The damn thing looks at systemd-boot only. And systemd-boot is the UEFI boot manager from systemd and formerly **was** gummiboot.

Damn. I thought this would be a way to manipulate UEFI-Boot, which is no rocket science at all. EFIVARS are available, so why the heck do they flange something behind that?

Alright. Rebooting into firmware setup works, and that's nothing differ

[2020-01-20 06:48] #148 closed

[2020-01-20 07:35] Yamakuzure commented on #141
@joakim-tjernlund Done!
  https://github.com/elogind/elogind/releases/tag/v243.4
Finally! :grinning:

[2020-01-20 08:35] Yamakuzure commented on #110
Oh boy, this was way too long...

However, elogind really can't do anything about this. For all I know, SDDM simply fucks up badly. The whole session is FUBAR after restarting elogind. But not at once. It needs a few seconds, then SDDM wreaks havoc.

If we can find out

1. where and
2. why

then we can propose a fix or provide a workaround.

[2020-01-20 13:14] udeved commented on #110
On all my artix systems running with openrc and sddm, I have this msg logged...

`
[    12.636] (II) systemd-logind: logind integration requires -keeptty and -keeptty was not provided, disabling logind integration`

The xorg-server is built with

[code]

We use a modified gentoo xdm script.
https://gitea.artixlinux.org/packagesD/displaymanager-openrc/src/branch/master/trunk/xdm.initd

[2020-01-20 18:10] Yamakuzure commented on #110
-keeptty is an xorg-server command line option.
"**Prevent the server from detaching its initial controlling terminal. This option is only useful when debugging the server. Not all platforms support (or can use) this option.**"

On Gentoo the xorg-server is started with -keeptty if XDG_VTNR is set. I haven't tried out what happens then, yet.

[2020-01-20 18:24] Yamakuzure commented on #110
Just tried it out and got:

Well, of course, as the SDDM greeter is now gone.

-keeptty only seems to be useful for user-started X servers, or launchers which do not go away.

[2020-01-20 20:30] Acatorn opened #149 "Some Elogind actions bypass Polkit rules"
Hello,
First of all - many thanks for your hard work on Elogind.
To the point, I think it might be better if I put a link to my recent post on the Gentoo forum here:
https://forums.gentoo.org/viewtopic-t-1107000.html
You can find many details there. In short, commands like:

loginctl poweroff
loginctl reboot

seems to be ok, and they work properly with polkit rules. Commands like:

loginctl suspen

[2020-01-21 07:45] Yamakuzure commented on #110
...starting X as a user wasn't that good. When I tried to suspend it failed and froze my system. Logs say that pulseaudio refused to sleep. :roll_eyes:
Unfortunately I reached my destination sitting on PT, so I eventually had to hard power off. :angry:

[2020-01-21 08:38] Cogitri commented on #149
I personally I don't have a problem with the current behaviour since I only have single user systems and I don't think many people would want to restrict this, so making it working by default but making it possible to restrict access via polkit seems like the best way to go about this (it certainly is better to allow users to hibernate the system _by default_ than my laptop going into nuclear fusi

[2020-01-21 10:12] Acatorn commented on #149
Thank you very much guys for looking into it:) Yeah, nuclear fusion in a backpack is certainly not a good thing:)
After installation of elogind with polkit USE flag enabled the file /usr/share/polkit-1/actions/org.freedesktop.login1.policy gets created. It contains the default behaviour and It's perfectly fine for normal home (single) user:) In my opinion it should stay like that because I do admi

[2020-01-22 11:43] perfect7gentleman opened #150 "elogind-243.9999 doesn't build with '-Defi=false'"
[code]

[2020-01-24 20:04] Acatorn commented on #149
Thank you @Yamakuzure for highlighting that issue with that pretty colorful labels:) I just wonder if there are a lot of things to change in the source code to make it work. I'm just a weakling in coding myself but maybe you could point me in right direction? Am I right that there is something to change (uncomment maybe) in /src/login/logind-dbus.c ? Would it be sufficient? Sorry for asking, I jus

[2020-01-27 09:32] Yamakuzure commented on #150
Oops... Sorry, I missed that one. All EFI related should have stubs if -Defi=false.

I am currently upgrading and cleaning up 'master', so we have a working development branch again. When I have finished that, hopefully tonight, I'll fix that mistake.

[2020-01-27 09:32] Yamakuzure commented on #150
* "All EFI related functions should have stubs"

[2020-01-27 09:38] Yamakuzure commented on #149
@Acatorn No, there isn't much to change, but to test.
However, as @perfect7gentleman has found issue #150 which really should be fixed ASAP, I'll add this, too.
So the next service release will not only have that issue fixed, but also the checks for suspension re-enabled, making your custom rules do what they are meant to do. :wink:

[2020-01-27 10:57] Yamakuzure opened #151 "The documentation regarding RemoveIPC setting is too hidden"
See Debian bug thread: bugs.debian.org/949698

This can lead to quite some confusion.

Also see:
* https://github.com/systemd/systemd/issues/2039
* https://github.com/systemd/systemd/issues/2324
* https://github.com/systemd/systemd/issues/4532

[2020-01-27 20:31] Acatorn commented on #149
@Yamakuzure Thank you very much sir!:) Looking forward to test it:)

[2020-01-28 20:54] Cogitri opened #152 "elogind 243.4 fails to compile on Alpine Linux"
Hello,

I just tried to bump elogind on Alpine Linux from 241.4 to 243.4 and I get the following errors:

[code]

[2020-01-31 15:54] maxice8 commented on #152
#145

[2020-01-31 15:54] maxice8 commented on #152
We need coreutils in makedepneds=, i'm working on it

[2020-01-31 19:41] Cogitri commented on #152
Oh, oops

[2020-01-31 19:41] #152 closed

[2020-02-01 20:18] #150 closed

[2020-02-04 06:16] #149 closed

[2020-02-04 06:20] Yamakuzure commented on #149
I have removed the extra check. In my tests it looks like the masking is no longer needed.

Whatever lead to elogind asking for extra credentials on every attempt to suspend my laptop, must have been something that was fixed in the meantime. Even with re-enabled check I could suspend my machine without any changes to the default policykit rules.

@Acatorn: Your custom rules should work with the me

[2020-02-04 06:53] #151 closed

[2020-02-05 17:53] keleset opened #154 "elogind doesn't use hooks in /lib/elogind/system-sleep/"
As title suggests, I have no luck getting even simple script work:
[code]
`/lib/elogind/system-sleep/lock.sh` is `-rwxr-xr-x`

Would really appreciate any help.
elogind version is `elogind-243.4`
Build arguments are:
[code]

[2020-02-05 18:40] Yamakuzure commented on #154
If something broke the hooking, I'll have to fix that asap.Sorry for the inconvenience! 

[2020-02-12 10:06] Yamakuzure commented on #154
I was busy cleaning up the master branch and migrating the upstream changes towards v243.6.
The work is almost done, and I will look into your issue right afterwards.

[2020-02-13 07:21] Yamakuzure commented on #154
I tried the following:

[code]

And the system went to sleep. So this is a bug and hereby confirmed.

The script should stop suspension:
[code]

I'll look into this next.

[2020-02-17 10:53] Yamakuzure commented on #154
The new outcome:
[code]

[2020-02-17 10:55] #154 closed

[2020-02-17 19:51] udeved opened #155 "[243.7] test-login fails"
Hi Sven,

I got bad news. Just saw the new release, compiled it locally before it would go in the repos, and I had to chroot into the system to downgrade. Terminal switching didn't work, and no login from sddm.

From the meson-logs:

[code]

Dunno if it is relevant, gcc-9.2.1 and glibc-2.31.

[2020-02-17 20:07] maxice8 commented on #155
Can confirm it also fails on Alpine Linux

[2020-02-17 21:24] Yamakuzure commented on #155
Strange...I am using this on Gentoo for a while now, and everything works just fine... I have to look into this. 

[2020-02-17 21:37] Yamakuzure commented on #155
Travis is happy for both glibc and musl.

I just tried again on my machine.

As user:
[code]

As root:
[code]

And now loginctl:
[code]

This is a miracle...

[2020-02-17 21:42] Yamakuzure commented on #155
Ahh!

How blind am I? Must have been the shock...

It doesn't work from inside a chroot, unless you have made /sys and /proc available. We need /sys/fs/cgroup and /proc/cgroups.

[2020-02-17 22:20] udeved commented on #155
@Yamakuzure

I think you misunderstood, or I didn't expresseit properly.

The build was inside a chroot, all previous versions passed all tests.
With 243.7, the test-login fails, and installing the package results in an unusable system. I had to chroot from my runit install and downgraded elogind. 243.7 somehow refuses the sddm login and also freezes the screen, no terminal switch.

[2020-02-17 22:25] udeved commented on #155
What glibc version do you use on gentoo?

[2020-02-17 23:31] Yamakuzure commented on #155
Oh, alright...

My system:
gcc-9.2.0
glibc-2.30
cgroup controller is openrc-0.42.1 with hybrid cgroup mode.

[2020-02-17 23:37] udeved commented on #155
Does elogind use any time related glibc methods?

glibc-2.31 had changes in that regard, and also causes openrc's hwclock to fail.

[2020-02-17 23:47] Yamakuzure commented on #155
Uuh! Yes, and I guess you nailed it. See:https://bbs.archlinux32.org/viewtopic.php?id=2888

[2020-02-27 16:07] DanySpin97 opened #156 "[243.7] Assert fails in logind-session"
After upgrading to 243.7, I get the following message at login:

`elogind-daemon[997]: Assertion 's' failed at src/login/logind-session.c:1267, function SessionState session_get_state(Session *)(). Aborting. `

About the system info: elogind was compiled with -O3 using clang on a musl system.

To debug it, I killed the elogind process and run it from gdb. I set a breakpoint in the assert line and

[2020-03-03 14:04] pierre-labastie commented on #156
Same here with elogind compiled with gcc, with default optimization. Downgrading to 243.4? I do not see that.

[2020-03-03 15:23] DanySpin97 commented on #156
I think it may be related to this commit: https://github.com/elogind/elogind/commit/6a3b664fb74fbac65acc4af03da290d2acc3ee43#diff-c85e15fdf34e7d03240233ec6c5652ea

[2020-03-05 15:30] pierre-labastie commented on #156
See my comment in the above referenced commit. Looks like it fixes the issue. Please tell me if you need a PR. But it is just one character removal.

[2020-03-11 08:16] tombriden commented on #156
Can also confirm the fix works. Without it gdm fails to load on a gnome system

[2020-03-11 08:35] Yamakuzure commented on #156
Sorry for the late reply, I am currently busy in a different project.

I'll look into this tomorrow and the following week and will prepare another release once I get issue #155 fixed.

[2020-03-11 08:48] Yamakuzure commented on #155
@udeved Please see this tracker bug on Gentoo: https://bugs.gentoo.org/show_bug.cgi?id=glibc-2.31

I think glibc-2.31 should be held back at the moment. From what I have seen it _seems_ to be a problem with some other library used, so I can't do anything about that right now. But I keep looking.

[2020-03-11 09:19] pierre-labastie commented on #155
I'm not sure but I suspect this may be related to #156: as mentioned by @tombriden, that issue prevents gdm to start, so I suspect it might also prevent sddm to start (not tried).
@udeved , may I suggest you try to apply:
[code]

[2020-03-11 10:38] udeved commented on #155
@Yamakuzure

We basically follow arch upstream, so we have glibc-2.31 in the repos, elogind is now held back.

Dunno if it is related, but util-linux has some fixes for glibc.2.31 in the git repo, but no fix release yet.

@pierre-labastie

I'll try that in vbox and report back.

[2020-03-11 10:44] Yamakuzure commented on #155
I am using SDDM on with elogind-243.7 and it works fine. But SDDM does not hook into elogind anyway. All interaction is done via PAM.

[2020-03-11 10:50] Yamakuzure commented on #155
I scanned the code, and from what I see on the internet, the problems arise with `stime` and `time64`, the latter only on 32bit builds.

Both aren't used by elogind.

I'll fix issue #156 tonight and will upgrade to glibc-2.31. Quite risky on Gentoo, but if my suspicions are correct, elogind will keep working just fine. But who knows what else will break...
Well, downgrading glibc on Gentoo is [far

[2020-03-11 12:04] markhindley opened #157 "243.7 compile failure: includes commented out"
Hi,

I am just starting to build 243.7 for Debian. However, builds fail with

`FAILED: src/basic/a6ba3eb@@basic@sta/selinux-util.c.o
cc -Isrc/basic/a6ba3eb@@basic@sta -Isrc/basic -I../src/basic -I../src/boot -Isrc/shared -I../src/shared -Isrc/systemd -I../src/systemd -Isrc/journal -I../sr
c/journal -Isrc/login -I../src/login -Isrc/core -I../src/core -I../src/libelogind/sd-bus -I../src/libelogind/s

[2020-03-11 13:34] Yamakuzure commented on #157
How are you bulding this?

When commits are migrated, new includes are commented out, so we don't pull in stuff that is not needed by the code elogind uses.

I have build elogind-243.7 many times with gcc-9.2.0 against glibc-2.30, and having those includes commented out was always fine.

However, aas it does not build on your machine, one or both of them is neccessary there, so I'll uncomment them

[2020-03-11 14:14] markhindley commented on #157
On Wed, Mar 11, 2020 at 06:35:03AM -0700, Sven Eden wrote:

It is the same setup we have been using for the 241 series:

 git-buildpackage in a pbuilder chroot.

This sets CFLAGS to '-g -O2 -fdebug-prefix-map=/build/elogind-243.7=. -fstack-protector-strong -Wformat -Werror=format-security'

After cleaning and installing build dependencies this configures with

 meson .. --wrap-mode=nodownload --bu

[2020-03-11 15:48] Cogitri opened #158 "SetBrightness broken in GNOME 3.36 with elogind 243.4"
Hello,

I've just upgraded GNOME to 3.36 on Alpine and now brightness control is broken. The GNOME folks have told me that GNOME has switched to using SetBrightnes via logind for brightness control, so I think this might be a bug in elogind, but I don't really know where to dig for this

[2020-03-11 21:37] Cogitri commented on #158
FWIW here's the commit that adds this: https://gitlab.gnome.org/GNOME/gnome-settings-daemon/-/commit/cd051e6c7ccfb7e7b0ec440409c559b2e51284e8

[2020-03-12 07:34] Yamakuzure commented on #158
Hmmm... Interesting...

Here on Plasma brightness control still works fine. But I _think_ PowerDevil still does it on its own.

The commit you linked shows me were to look, so I am pretty sure we'll get this sorted out.

[2020-03-12 07:41] Yamakuzure commented on #155
Okay, I have updated all packages, upgraded to glibc-2.31 and rebooted my machine.

What shall I say? Everything works just fine.

I have these packages installed:
[code]

[2020-03-12 07:50] Yamakuzure commented on #155
@udeved : I might have a lead, but its slim.

In your quote its test 148/158, but both in master and v243-stable branch its 149/159.

What's the missing test?

[2020-03-12 08:20] Yamakuzure commented on #156
I am reopening this, as this is a fix in master only.

Sorry, guys, but the commit @DanySpin97 found is not in the v243-stable branch.
See: https://github.com/elogind/elogind/blob/v243-stable/src/login/logind-core.c#L463

And that's bad, it means that I was a complete idiot and have tagged a commit in master.

No wonder I have no issues when building elogind from v243-stable branch.

[2020-03-12 08:25] Yamakuzure commented on #156
Guys, could you please try with:
 https://github.com/elogind/elogind/archive/v243-stable.zip
???

Sorry for this stupid mistake!

[2020-03-12 08:40] Yamakuzure commented on #155
@udeved Could you please try with
https://github.com/elogind/elogind/archive/v243-stable.zip ?

I just have found out that I have made a nightmarish mistake and have tagged a commit on the half-baked way between systemd-244 and 245 as v243.7 in master branch.

So it is no wonder that I haven't got any problems, as I am building directly from the v243-stable branch, which *should* have been v243.7

[2020-03-12 08:41] Yamakuzure commented on #157
@markhindley : Could you please try again with
https://github.com/elogind/elogind/archive/v243-stable.zip ?

That should be v243.7, but I was a complete idiot and tagged a commit half-way between systemd-244 and 245 instead.

[2020-03-12 08:43] Yamakuzure commented on #158
@Cogitri : Could you please try again with
https://github.com/elogind/elogind/archive/v243-stable.zip ?

That *should* be v243.7, although it isn't tagged as such. (I'll have to fix this asap!)

There were some updates between v243.4 and v243.7 concerning brichtness setting. Hopefully it solves your issue?

[2020-03-12 09:02] Cogitri commented on #158
Sure, I'll give it a go, thanks :)

[2020-03-12 11:41] Cogitri commented on #158
Doesn't seem to work for me :/

[2020-03-12 11:54] markhindley commented on #157
On Thu, Mar 12, 2020 at 01:41:55AM -0700, Sven Eden wrote:

Basically still the same.

Merged upstream/v243-stable (a0f583df335e2047032acca33bff138a8ea321d30) and
existing /debian.

cc -Isrc/basic/a6ba3eb@@basic@sta -Isrc/basic -I../src/basic -I../src/boot -Isrc/shared -I../src/shared -Isrc/systemd -I../src/systemd -Isrc/journal -I../sr
c/journal -Isrc/login -I../src/login -Isrc/core -I../src/core

[2020-03-12 15:37] Yamakuzure commented on #157
Thanks for testing this, I will fix the includes before moving the tag.

[2020-03-12 15:38] Yamakuzure commented on #158
Thanks for testing!

I'll go and take a look what is wrong with that.

[2020-03-12 15:49] markhindley commented on #157
On Thu, Mar 12, 2020 at 08:37:52AM -0700, Sven Eden wrote:

The only includes I have had to uncomment to get a successful compilation are

--- a/src/basic/selinux-util.c
+++ b/src/basic/selinux-util.c
@@ -1,13 +1,13 @@
 /* SPDX-License-Identifier: LGPL-2.1+ */

 #include <errno.h>
-//#include <fcntl.h>
+#include <fcntl.h>
 #include <malloc.h>
 #include <stddef.h>
 #include <string.h>
 #include <sy

[2020-03-12 16:45] markhindley commented on #157
On Thu, Mar 12, 2020 at 03:49:40PM +0000, Mark Hindley wrote:

That seemed to be a local issue, now resolved.

Mark

[2020-03-12 19:33] #157 closed

[2020-03-12 19:34] Yamakuzure commented on #157
Thanks for testing, Mark!

Fixed in master and cherry-picked into v243-stable. I'll push it once I got the re-tagged release ready.

[2020-03-12 19:41] udeved commented on #155
@Yamakuzure

Sure, I'll report back.

[2020-03-12 19:43] udeved commented on #155
Uhm, do you eventually have a commit sha for 243.7 so I can build it in chroot?
Not sure a makepkg on the host system is clever to test this.

[2020-03-12 19:44] Yamakuzure commented on #158
Hmmm... From what I see everything _looks_ in order.

@Cogitri : When you try to change the brightness level, do error messages pop up in your system log?

[2020-03-12 19:53] Yamakuzure commented on #157
Now also in v243-stable and included in the re-tagged v243.7 release.

[2020-03-12 19:56] Yamakuzure commented on #155
You can try the new v243.7 release. :wink:
 SHA1 is 82390d469f6d929b180c128111b149ad518a3028

I'll need some time to get a lead on issue #158, so I thought a re-tag now is good as anytime. :man_shrugging:

[2020-03-12 20:05] udeved commented on #155
The build went fine, haven't installed and run it yet.

[code]

[2020-03-12 22:12] a17r commented on #156
Trying out 243.7 with the respun tarball for the first time and login was uneventful. Which is a good thing, I guess.

[2020-03-13 08:04] Cogitri commented on #158
Hm, I don't have anything in my `/var/log/messages`

[2020-03-13 10:43] Cogitri commented on #158
Hm, I don't have anything in my `/var/log/messages`

[2020-03-13 13:11] Cogitri commented on #158
The only thing that's noticeable is:

[code]

But since GNOME Shell displays the popup window showing the brightness change I doubt that that is relevant.

[2020-03-22 16:38] perfect7gentleman opened #159 "elogind-daemon[2662]: CLOCK_BOOTTIME_ALARM is not supported"
WTF is that?

[2020-03-24 08:51] Yamakuzure commented on #155
Sorry for the late reply. We are fighting with SARS-CoV-2 here, which turned my schedules and daily routines upside-down. :fearful:

However, I am glad that it worked out for you.

[2020-03-24 08:51] #155 closed

[2020-03-24 08:52] Yamakuzure commented on #156
Great! Let me know when any other issue arises.

[2020-03-24 08:52] #156 closed

[2020-03-24 08:55] Yamakuzure commented on #158
Sorry for the late reply. SARS-CoV-2 has us in its grip here and has turned my daily routines upside-down. :roll_eyes:

I will investigate this further, but I can't promise you when, sorry. :disappointed:

[2020-03-24 09:01] Cogitri commented on #158
No worries, we've applied a patch to not use elogind brightness control for now. Thanks for your efforts and stay healthy! :)

[2020-03-24 09:02] Yamakuzure commented on #159
From `man 2 timerfd_create`:

[code]

[2020-03-24 09:03] Yamakuzure commented on #158
Thanks, you, too!

[2020-03-24 09:18] perfect7gentleman commented on #159
So, what does that mean?

[2020-03-24 09:19] perfect7gentleman commented on #159
[code]

[2020-03-25 17:52] Leebre opened #160 "Polkit agent can't register with elogind"
Hi, I am experiencing an issue with polkit authentication agents not successfully registering with sysetms that are using elogind. I am using Parabola (a libre distro derived from Arch) with OpenRC/elogind on x86. When I try to start an agent (say the Mate polkit agent), I get the following error:

[code]

I have also tried with the Gnome and LXDE agents, and they give similar errors. I have seen

[2020-03-27 09:31] joakim-tjernlund opened #161 "MS Teams does not find USB headseat"
MS teams at https://packages.microsoft.com/repos/ms-teams/pool/main/t/teams-insiders/teams-insiders_1.3.00.5153_amd64.deb

Has an headset problem, if I connect USB HS after MS teams is started, Teams will not find(or cannot use) the HS. I have to connect HS first then start MS Teams.

People using systemd does not have this problem which makes me think this is an elogind(243.4) problem.

[2020-03-27 09:47] joakim-tjernlund commented on #161
Just noticed I did have the latest elogind, 243.7, so I upgraded but still have the same problem.

[2020-03-27 11:00] Yamakuzure commented on #161
MS Teams, Zoom, WebEx Teams and WebEx Meetings work just fine here with my Corsair VOID Pro. Even when I "hand over" the headset to a Windows VM and back.

Do you use PulseAudio?

[2020-03-27 11:57] joakim-tjernlund commented on #161
Yes, PA, Gentoo and MATE
I can see that one Teams has grabbed ti microphne, it does not let it go even when no call is in progress.
Any idea where to look?

[2020-04-03 09:49] Yamakuzure commented on #159
As far as I can see it, this is a kernel feature, and your machine does not support it.

[code]

I couldn't find any CONFIG_ guards around anywhere there, so it seems that your hardware (or BIOS) does not support a wakeup timer. :man_shrugging:

However, this has nothing to do with elogind at all, I'm afraid...

[2020-04-03 09:52] perfect7gentleman commented on #159
with linux-5.6.1 there is no such error.

[2020-04-03 09:52] #159 closed

[2020-04-03 09:55] Yamakuzure commented on #160
Adhoc I have no idea. Could you please give us a link to you upstream report?

[2020-04-03 10:46] Yamakuzure commented on #161
I haven't tried to start teams and *then* connect my headset... Will do that later today.

[2020-04-04 13:15] Leebre commented on #160
@Yamakuzure sure, here is the issue report I created for polkit: https://gitlab.freedesktop.org/polkit/polkit/-/issues/119

[2020-04-07 10:35] Yamakuzure commented on #160
I know this sounds stupid, but I want to be absolutely sure: dbus and elogind are both running before you log in, and your system is configured to use PAM, right?

[2020-04-08 21:08] Leebre commented on #160
@Yamakuzure there are dbus-daemon and elogind-daemon processes with lower PIDs than my display manager (sddm), so I think the answer to your first question is yes.

Regarding PAM: it is installed on my system and is a required dependency of the 'polkit' package. As to whether it is configured correctly on the system, I can't vouch for that. I haven't changed it from the default for my distro, but

[2020-04-10 13:36] udeved commented on #160
@Leebre

Make sure your displaymanager pam has proper elgind lines.
If your default is systemd, it is likely your DM ppam files call systemd instead of elogind.

for the sddm greeter pam, it has this content:

`session		optional pam_elogind.so`

You need to replace any pam_systemd.so occurrence with the pam_elogind.so.

[2020-04-10 21:13] Leebre commented on #160
@udeved ah ha! That seems to have fixed it!

I changed a couple of lines in the 'sddm-greeter' and 'system-login' pam config files, as you suggested. Thank you so much! I will pass this on to others who are using Parabola, who may be experiencing the same problem. :-)

[2020-04-15 19:10] Morality124 opened #162 "Possible race condition with LightDM"
Hello. There seems to be an error generated whereby the lightdm user session (or root if LightDM < 1.30) is terminated but before the PAM elogind module can "release" the session, creating an error that the session can't be released because it doesn't exist. I can confirm the session no longer exists by checking loginctl, so this seems more like a minor "cosmetic" issue at this time (i.e. isn't in

[2020-04-16 16:12] drforbin opened #163 "laptop not waking from suspend"
When I wake my laptop it does not wake from suspend.
This did work with consolekit, but no longer using elogind.
I am using gentoo.

Thank you

[2020-04-18 17:29] bfrg commented on #163
I'm having the same issue (on Gentoo as well). When I close my laptop lid, the system will suspend but won't properly resume. It works fine when I run `sudo pm-suspend` tough.

Do you use an nvidia driver by any changes? It might be related to #140. See also the following Gentoo bug [report](https://bugs.gentoo.org/693384).

I have also found this post: https://forums.gentoo.org/viewtopic-t-109715

[2020-04-19 11:03] dwardor opened #164 "kde powerdevil quits trying to suspend if elogind hook interrupted suspend"
I've just migrated from consoleit+pm-utils to sys-auth/elogind-243.7 (as pushed by default gentoo profile and communicated in gentoo news) combined to kde-plasma/powerdevil-5.4.18.1

I've setup elogind hooks  (via /lib64/elogind/system-sleep/ with AllowSuspendInterrupts=yes to cancel/interrupt suspend if :
- users are connected to my machine via ssh
- a virtualbox guest os is running
- cpuload is

[2020-04-26 07:05] Yamakuzure commented on #160
As everything seems to work now, I am closing this issue.

[2020-04-26 07:05] #160 closed

[2020-04-26 07:16] Yamakuzure commented on #162
lightdm seems to to try to close the session twice. Once via pam_unix, which tells elogind about it, and once via pam_elogind.

It is an interesting issue, but I'll have to setup lightdm myself to reproduce this. As there is no harm in this additional attempt to close the session, I am afraid I have to prioritize this rather low.

[2020-04-26 07:24] Yamakuzure commented on #163
That's a problem somewhere deep between telling registered applications that a suspend is coming, and doing the actual suspension, whenever the nvidia driver is loaded and active.

Directly suspending with
[code]
works fine, but elogind (like systemd-sleep) tells registered applications (like NetworkManager) beforehand that it will suspend now. On resuming the machine, those applications are told

[2020-04-26 07:32] Yamakuzure commented on #164
Sorry for the late reply. I am currently drowning in work and do not have much time for my personal stuff. Ironically the Corona Crisis took much main business off our customers, so they now have time for the projects they have with us.

However, you are doing it right. That's the only possible way to achieve what you are trying to achieve that comes to my mind, too.

Whoever wanted to suspend the

[2020-04-26 11:33] dwardor commented on #164
Yes copied from system log !

Take all the time you need :-) & if you need tests carried out I can contribute.

[2020-05-06 06:29] dwardor commented on #164
dmesg shows the following information :
[code]
The last line with "already returned success to client" is intriguing to me

[2020-05-08 06:08] Yamakuzure commented on #164
Sorry for the long wait! I am stilll investigating this, piece by piece.

This week I have gitten rid of some anoying tasks at work. So with less overtime I have more time for elogind again.

[2020-05-17 17:57] powerman opened #165 "runit support: Cannot determine cgroup we are running in: No data available"
I'm using Gentoo, but with runit instead of openrc. When I've tried to switch from consolekit to elogind using guide https://wiki.gentoo.org/wiki/Elogind I got about 30sec delays when logging it and these errors in log:

[code]

I don't think there is any specific cgroup setup on my system except it's supported at kernel and mounted while boot.

[code]

Is there any way to use elogind with runit?

[2020-05-17 18:59] udeved commented on #165
We implemented on artix openrc's cgroups to have unified cgroups for elogind on openrc, runit, s6.
A pure runit setup has no native cgroups support or one shot services.
You either use openrc-init on runit, or write your own simple oneshot implementation for runit to initialize the system.

[2020-05-17 20:16] powerman commented on #165
Can you please give me a hint about what exactly should be implemented?

[2020-05-17 23:54] powerman commented on #165
I've solved this issue. Working around needs to run command with an arg for poweroff/reboot was a bit tricky, but cgroup issue turns out to be just in hardcoded value in ebuild. Details: https://bugs.gentoo.org/723522

Please consider adding native support for configurable command with an arg for poweroff/reboot.

[2020-05-17 23:54] #165 closed

[2020-05-18 19:16] udeved commented on #165
@powerman

You would need to start in stage 1 a oneshot service that sets up cgroups just like openrc does.
Openrc's cgroups work just fine in stage 1.

The problem  on your system might be, that you compiled elogind with openrc?
elogind source has 2 options for cgroups, elogind and openrc.

[2020-05-18 19:52] powerman commented on #165
Yeah, if you take a look at mentioned above bug you'll see I've changed hardcoded `Dcgroup-controller=openrc` with `=none` (which actually means elogind).

I already had cgroups mount in place in stage 1, the problem was in hardcoded value because my mounts doesn't setup one with "name=openrc" and related cleanup script and thus it won't detected as valid "openrc".

TBH it looks weird to see this

[2020-05-25 07:27] Yamakuzure commented on #165
To be honest, elogind only fakes being a cgroup-controller. Normally this should be enough, because it means that elogind sets up all required mounts, and the kernel does the rest. IIRC this is how VOID Linux uses elogind.

For this to achive, the meson option `cgroup-controller` must be set to either `none` or `elogind` at configuration time.

[2020-06-07 15:53] travankor opened #167 "Make polkit optional"
On a recently updated elogind 243.7, I can't use loginctl commands, which worked on elogind 243.4.

elogind seems to create and recognize the session that it creates, but loginctl can't perform privileged operations anymore.

`strace loginctl suspend`

<Details>

[code]

[2020-06-16 11:57] Yamakuzure commented on #167
Well, the standard operations work fine on my laptop.

Unfortunately I can not test any suspend/hibernate operation, because something is wrong with my Laptop. Might be the last BIOS update, but whenever I try to suspend/hibernate, no matter whether I use elogind or cat the values directly to /sys, the laptop just freezes.

However, I do not have any problem with the access from my user account, u

[2020-06-16 13:42] travankor commented on #167
In red: `Failed to suspend system via elogind: Access denied`
The first part depends on the command, while the Access denied is consistent.

I see that elogind detects lid closes and registers new sessions for the user (and removes the old session).

Yes, as stated, this works on 243.4.

No. I don't have anything that depends on polkit, unless it's a brand new elogind dependency.

Don't use either

[2020-06-17 10:23] Yamakuzure commented on #167
If you do not have polkit installed, than those command would not work as regular user, as /sys/power/* are only writable by root.
See #149 why it no longer works without polkit in 243.7 (tl;dr:  elogind bypassed polkit authentication on suspend, hibernate and the like prior version 243.7, but the reasons for this bypass are long gone.)

[2020-06-17 10:28] Yamakuzure commented on #158
Just a little update:

I can not test various things on my current laptop. I'll get a new one mid July, but on the current one (HP ProBook) there

- are no brightness control keys
- suspend/hibernate freeze the laptop, even if I write directly into /sys/power/state

This is quite unnerving. There is so much stuff I simply can not get done on this little bastard. Why does HP always suck making Note

[2020-06-17 10:37] Yamakuzure commented on #161
Sorry for the lack of updates.

I have done several tests. In the meantime I am using app-office/teams-insiders-1.3.00.14051 on Gentoo (seden overlay via laymen, if anybody searches for it)

With two different USB-Headsets, a Corsair Void Pro and a Microsoft LifeChat, I can have WebEx (in Falkon Browser), MS Teams and Zoom open, and switch from one to another.

The only issue I have is, if I start

[2020-06-17 10:39] Yamakuzure commented on #163
Just a little update:

I can not test various things on my current laptop. I'll get a new one mid July, but on the current one (HP ProBook) there

- are no brightness control keys
- suspend/hibernate freeze the laptop, even if I write directly into /sys/power/state

This is quite unnerving. There is so much stuff I simply can not get done on this little bastard. Why does HP always suck at making N

[2020-06-17 10:43] Yamakuzure commented on #164
Right now everything seems to be fine until to the point that PowerDevil does not restart its inactivity timer.

Currently an update to KDE Plasma 5.19.1 is waiting for me, so I will set up a new test scenario after the update. (Gentoo. Can take a while)

[2020-06-17 11:16] Cogitri commented on #158
Heh, I know that feeling, my Spectre X360 has been to repair a number of times and still doesn't work great, I guess I'll go for one of those new fancy Ryzen laptops soon...

[2020-06-17 11:27] travankor commented on #167
@Yamakuzure
Do you think it would be a bad idea if I added that patch back to Void Linux's build. Mainly, people who don't use polkit but were expecting things to work as before might be surprised (Void's elogind does not depend on polkit).

Alternatively, I could just write a sudo rule to do `sudo loginctl` without asking for a password.

[2020-06-17 12:11] joakim-tjernlund commented on #161
Using the same teams too(although I use system media-video/ffmpeg[chromium] ).
Seems like this teams is a little better but something is still not OK w.r.t audio.
Perhaps one should try udev instead of eudev?

Adding my ebuild, it has a few improvements:
[code]

[2020-06-17 19:33] dwardor commented on #164
I did Gentoo's PowerDevil 5.9.1 update yesterday... Was also hoping it might help... But does not seem too.

[2020-06-21 21:08] PegasusEpsilon commented on #53
@Yamakuzure I think I finally figured this out.

I disabled the `elogind` service entirely, stopped the service, killed the service, ensured it was dead, logged out, logged back in and... my `tmux` session was gone. `ps` revealed that `elogind` was running.

So I removed the executable bit from the binary, killed it again, logged back out, logged in, and my `tmux` session survived. `ps` showed `el

[2020-06-22 01:17] rworkman commented on #53
Unable to reproduce this here with 243.7 (first version I've ever had installed); elogind appears to respect the KillUserProcesses flag in /etc/elogind/elogind.conf

[2020-06-22 18:02] PegasusEpsilon commented on #53
@rworkman

    pegasus@Li⁺:~$ pacman -Q | grep elogind
    elogind 243.7-2
    elogind-openrc 20191020-1
    libelogind 243.7-2

Even tried compiling it from source and commenting out every instance of kill(2) in the source.

I'm saying it's not an elogind issue anymore, but the symptoms still appear unless PAM gets a tweak.

What are you using for your display manager? I recently switched to lxdm

[2020-06-24 11:53] Yamakuzure commented on #161
@joakim-tjernlund : Thanks for your ebuild, I have taken some of your changes into my ebuild for teams-insiders-1.3.00.16851.ebuild (up now)

But I made the ffmpeg[chromium] dependency depending on USE="chromium" for teams-insider.

[2020-06-24 11:55] joakim-tjernlund commented on #161
That may be a good idea since I think ffmpeg-4.3 break Teams

[2020-06-25 07:04] Yamakuzure commented on #161
Not only that. If I use either ffmpeg[chromium] *or* system mesa, Teams crashes with message in its log file, that the renderer crashed.

So I have update the ebuilds for the latest two teams-insider builds in my overlay.

[2020-06-25 07:21] Yamakuzure commented on #164
For me neither...

I am still investigating if there is anything we can do about it, or whether this is a PowerDevil issue. Although I hope it is the first, I only get forward very slowly.

However, I am currently migrating the systemd commits until v245 and will then integrate the stable branch up to v245.6.
As always there are a lot of changes only concerning moving code around, so this takes a

[2020-06-25 08:33] Yamakuzure commented on #161
JUst plugged in my LIfeChat LX 6000, joined a Teams Meeting (Teams was already running), and the Headset is working flawlessly.

[2020-06-25 08:41] Yamakuzure commented on #161
Correction: The headphones worked fine, but the microphone didn't. I had to restart Teams so others could hear me.

[2020-06-25 09:00] joakim-tjernlund commented on #161
Right, that is the problem. I can see that Teams never lets go of the Mic once it has taken it, the mic icon is always visible in my Tray

[2020-06-25 09:06] Yamakuzure commented on #161
Curious... I can have a Teams Meeting, then go into a WebEx (via Falkon Browser) or into a Zoom Meeting, and the Headset works everywhere. But When I plug in the headset *after* Teams was started, I can select everything, but the Mic is dead.

Now that you've written it, the Mic-Icon didn't appear in the tray until I restarted Teams...

And curious was, even when I switched to the internal Mic, bo

[2020-06-25 20:34] joakim-tjernlund commented on #161
I did try standard udev and it did no difference.

[2020-06-26 05:34] rworkman commented on #53
I'm using xdm, but this works properly for me in testing runlevel 3 (no display manager) as well.
elogind will either start from a system init script or it will be started on demand via dbus. Either approach should work fine based on testing here.
If your PAM config loads pam_elogind.so, then elogind will manage (incorrectly, it seems, based on your information) the user processes such that they a

[2020-06-30 09:06] markhindley opened #168 "Default logging to kmsg"
Sven,

Is elogind logging to kmsg by default a conscious decision, or just inherited from systemd?

It has been suggested to me that syslog would be a better default target. See Debian [#964006](https://bugs.debian.org/964006).

What do you think?

Thanks

[2020-07-17 19:48] Tracerneo commented on #158
I ran into the same issue, I had to work around it by patching gnome-settings-daemon.

[code]

@Yamakuzure You can emulate brightness keys with `xdotool key XF86MonBrightnessUp` and `xdotool key XF86MonBrightnessDown`.

How can I test elogind's SetBrightness interface?
[code]
Other than the error (which appears after a delay), nothing changes, so I'm not sure if I'm doing something wrong, or if it

[2020-07-28 15:38] joakim-tjernlund commented on #161
FYI, one can get some screen control by:
[code]
from https://docs.microsoft.com/en-us/answers/questions/8761/request-control-during-screen-share-ubuntu-180404.html

[2020-08-08 02:32] novazur972 commented on #72
Hi,
Finaly, one year later, I always have problems with that.

[code]
[code]
[code]
From logs:
[code]

It seems that 1 is executed before 0. What can I do to define order ?

And why this error `A sleep script in /lib64/elogind/system-sleep failed [1]: Operation not permitted` ?
/usr/local/perso/pre_suspend.sh exists and is executable by all:
[code]

But, it is on a NFS mount. Is it the problem ?

[2020-08-14 08:56] markhindley opened #170 "New version?"
Sven,

I completely understand that keeping in sync with systemd updates is time consuming. However, [Debian bug #968379](https://bugs.debian.org/968379) appears to be caused by a breakage in the libelogind0/libsystemd0 compatibility with wireshark now using libsystemd0 symbols only present in version 246.

Are you working on a new version of elogind?

Many thanks

Mark

[2020-08-16 09:10] Salz commented on #170
New versions in systemd 246 compared to elogind 243.7 are (sorted by version)

`A LIBSYSTEMD_245
T sd_bus_enqueue_for_read@@LIBSYSTEMD_245
T sd_bus_message_dump@@LIBSYSTEMD_245
T sd_bus_message_sensitive@@LIBSYSTEMD_245
T sd_event_add_child_pidfd@@LIBSYSTEMD_245
T sd_event_source_get_child_pidfd@@LIBSYSTEMD_245
T sd_event_source_get_child_pidfd_own@@LIBSYSTEMD_245
T sd_event_source_get_child_proce

[2020-08-16 09:48] Yamakuzure commented on #170
Hey @markhindley and @Salz !
Thank you very much for this information.

Originally I wanted to upgrade to v245, but then read that thee are people sticking to v244 of systemd due to stability reasons.
But now that v246 is out, I guess it is time to upgrade to that one.
The debian bug you mentioned is a good reason for that, too.

However, I have to plea for some patience. Although elogind is on to

[2020-08-16 09:53] Yamakuzure commented on #53
As I now have a laptop with a sane BIOS again, I will look into this again. Maybe I can reproduce the issue, that would be nice.

The flag should be respected for a long time now, so maybe there is a new bug, or someone else misbehaves. We'll see.

[2020-08-16 09:59] Yamakuzure commented on #168
The logging defaults are totally inhereted and only journald was thrown out.

However, the issue should always been fixed by commit 2bed929.

[2020-08-16 10:20] Yamakuzure commented on #158
@Tracerneo : My new laptop arrived (Dell Precision 7550) and is up and running now. suspension works again, and the brightness keys do work, too. Well, at least for my panel. The external monitor is totally unimpressed, as it is powered by an Nvidia Quadro card. Sad. I had explicitly ordered the nvidia driver to enable brightness control. :stuck_out_tongue_closed_eyes:

[2020-08-16 14:37] Yamakuzure commented on #161
@joakim-tjernlund : That's a really handy tipp! Thanks alot!

[2020-08-16 14:45] Yamakuzure commented on #72
They should be in alphabetical order, or it should be stated to not being so in tha loginctl man page.

I'll look into that once the systemd v246 tree has been synced in.

[2020-08-16 15:39] mirabilos commented on #170
Sven Eden dixit:

OT, but that page doesn’t show. Screenshot:

#                                                                            PrydeWorX Forums - Password Required
   #[1]Latest Threads (RSS 2.0) [2]Latest Threads (Atom 1.0)

   [3]____________________ [4]____________________ [5][X] [6]Login [7]Lost Password? [8]Register
   Or login with a social network below
   [9]Login with GitHub

[2020-08-16 16:54] Salz opened #171 "test-fs-util failed on my sytem"
The test-fs-util has code in place to support "setups, where the machine-id is in the dbus default path" which seems to be the case on my system. However, the commit ef634baa031a70aa1cf88467b468ddad0297b5ef breaks this code by moving the chase_symlink() call below the special case, failing the assert in src/test/test-fs-util.c:223:
[code]
The attached patch fixes the test.

[0001-fix-fs-util-test.

[2020-08-17 06:25] Yamakuzure commented on #170
Strange... Only banned users aren't allowed to view the forum.

[2020-08-17 12:20] mirabilos commented on #170
Sven Eden dixit:

I’ve never seen the site before… but it wouldn’t surprise me
if they considered the standard webbrowser lynx “banned” as
many idiots do…

bye,
//mirabilos
--

+1
	-- Octavio Alvarez, me and ⡍⠁⠗⠊⠕ (Mario Lang) on debian-devel

[2020-08-17 12:55] Yamakuzure commented on #171
You are right, the line you moved should have been above the special case addition all along.

I'll fix that. Thanks alot for the find!

[2020-08-17 14:57] Yamakuzure commented on #170
@mirabilos Thanks for the hatred. Users get banned, not browsers.
 Besides, the thread on my forum is perfectly readably with lynx, w3m and elinks. Thanks.

[2020-08-18 07:59] Cogitri commented on #158
Sure, I think most distros patched gnome-settings-daemon by now anyway

[2020-08-19 11:05] PureTryOut opened #172 "Support config files in .d directories"
https://github.com/elogind/elogind/blob/master/man/logind.conf.xml#L38 indicates elogind does not support config files other than `/etc/elogind/elogind.conf`, while it seems systemd does support config files in .d directories.

I'd like support for this in elogind as well, as some packages might provide/require specific elogind configuration different from the main elogind package. In my case I ha

[2020-08-19 16:10] Yamakuzure commented on #172
Oi! That's horrible! And a very good point to start supporting .d directories as well.

[2020-08-19 16:12] Yamakuzure commented on #170
Just to add some feedback, elogind master is now at the level of systemd-v245. It compiles fine, but I neither checked Travis nor tested it in action, as we need v246 anyway.

[2020-08-21 04:45] rworkman commented on #172
On a related note (not at all trying to hijack this issue), it would be nice to have something similar for the /lib/elogind/system-sleep/ and system-shutdown/ dirs, ideally that elogin would check some dir in /etc, e.g. /etc/elogind/system-sleep/ and /etc/elogind/system-shutdown/

[2020-08-24 06:19] Yamakuzure commented on #172
@rworkman : I think that could be possible as well. It seems like elogind-246 will come with some really new features. :wink:

[2020-08-24 06:29] Yamakuzure commented on #170
Folks, I am at systemd/systemd Tag v246 now. I have not pushed to elogind/master, yet, because there is plenty of stuff to do until that compiles. The systemd devs have (again) shuffled many functions around, adding new source files and renaming/moving others.
But I am at it and hope to get a compiling version soon, which then can be used to branch of v246-stable to go for a first release candidat

[2020-08-28 15:15] joakim-tjernlund commented on #161
Any news on the MS Teams microphone problem?

[2020-08-31 07:11] Yamakuzure commented on #170
Hey all, the master branch is now at level with systemd-v246

However, this is only the "it compiles" status, there is a lot of testing and cleaning up to do. Someone really bold could try it out, but I wouldn't advise it, as I haven't even run the test suite, which too needs a good look at it.

If anybody wants to help, you could do either of the following tasks while I am working on cleaning up

[2020-08-31 07:50] Yamakuzure commented on #161
Not yet. But there have been rumors about a new MS Teams version coming out soon. Currently build 16851 is still the newest version on both insiders and regular.

However, the microphone problem hit me two times last week, when I had to close teams and reopen it for it to work.
But one thing was odd: I switched to the internal microphone on my laptop, and that didn't work either, while both headph

[2020-09-01 05:57] Yamakuzure commented on #140
Hey guys, as I mentioned on another place I have a new Laptop. It is a Dell Precision with Optimus Setup again, but this time I am powering the laptop primarily through the Nvidia Quadro.
This new machine can only power my external monitor using the nvidia driver directly, but then my panel stays off. So I have to configure both X11 Screen sections to use the nvidia device, and use xrandr to set n

[2020-09-01 06:09] Yamakuzure commented on #163
It seems like this is simply us not telling the nvidia drivers to go to sleep after switching away from the VT it hogs.
Please See issue #140 for futher handling of this case, as I just posted a possible solution there.

There is also a gentoo bug related to this here: https://bugs.gentoo.org/693384
In that bug report a similar solution has been suggested.

I close this as a duplicate, as one plac

[2020-09-01 06:09] #163 closed

[2020-09-08 08:56] oglueck opened #173 "cgroup2 leak with cronie"
Whenever a cron job ends then the cgroup2 of its session is not removed by elogind (I guess elogind creates it). This leaks tons of cgroups if you have frequent jobs, which can consume a surprisingly large amount of memory (unreclaimable slab).

I am using Gentoo with sys-auth/elogind-243.7 and sys-process/cronie-1.5.5 on kernel 5.8.
/etc/rc.conf:
rc_cgroup_mode="unified"
rc_cgroup_controllers="cp

[2020-09-08 13:22] Yamakuzure commented on #173
I am currently using `rc_cgroup_mode="hybrid"` on kernel-5.7.19, and it looks like that for me:

[code]

27 Minutes later.... (27 calls to /bin/true by CROND in /var/log/messages)

[code]

I daresay there is something wrong with the handling of pure unified cgroups. With hybrid, everything looks solid, but I will continue having an eye on the numbers until I can test with "unified".

[2020-09-08 13:31] oglueck commented on #173
Yes I have the same exerience. As long as you use hybrid there is no problem. With unified it leaks.

[2020-09-08 13:42] Yamakuzure commented on #173
The question is, whether this is really eloginds fault, as openrc is the cgroups controller. But we'll see what I can find out.

[2020-09-08 15:40] joakim-tjernlund opened #174 "elogind [e]udev rules?"
grepping for systemd in udev rules get a quite a few hits, but elogind very few.
I wonder if there should be some more for elogind too?
[code]

[2020-09-09 10:22] Yamakuzure commented on #174
All rules that cause systemd to start a service file, are irrelevant for elogind, as it is no system control daemon.

All rule files that are of any concern to elogind as a login-daemon are already transfered and adapted.
But when I have finished cleaning up the current update to v246, I'll take a look whether the systemd devs have added anything we might need.

[2020-09-14 19:41] dwardor commented on #164
From https://blog.sleeplessbeastie.eu/2013/02/26/how-to-automate-kde-using-d-bus/

The following call, made as the session user, seems to reset the idle timer

`> qdbus org.kde.screensaver /ScreenSaver org.freedesktop.ScreenSaver.SimulateUserActivity`

tested with :
[code]
time returned is in ms

However I don't know how to implement it from within the hooks that are run as root. (maybe eloginctl

[2020-09-15 15:34] Yamakuzure commented on #164
Well, elogind installs /usr/bin/busctl, you could call that from the hook sript befor it bails out.

loginctl does not do anything itself, it just tells elogind what to do via dbus.
But as bot are already talking via dbus, it might be a good idea to check whether the SimulateUserActivity service is provided by anyone, and tickle them on failure.

Might this be worth investigating?

[2020-09-15 19:21] dwardor commented on #164
OK so from [https://lists.freedesktop.org/archives/dbus/2012-November/015346.html](https://lists.freedesktop.org/archives/dbus/2012-November/015346.html) it would seem that to have root busctl as <user> all I need to do is add in the hook:
`sudo -u <user> env DBUS_SESSION_BUS_ADDRESS="$DBUS_SESSION_BUS_ADDRESS" busctl --user call org.kde.screensaver /ScreenSaver org.freedesktop.ScreenSaver Simulat

[2020-09-16 14:31] Yamakuzure commented on #164
Ah right. Okay, that was a stupid idea, sorry!

DBUS_SESSION_BUS_ADDRESS is not exported in any way, so it is not possible to use `su - <user>` or `sudo -u <user>` and get this information out of the environment. It just isn't there.

But if you finde a way, have a look at this snippet:
`loginctl --no-legend list-users | head -n 1 | cut -d ' ' -f 2`

[2020-09-16 17:40] dwardor commented on #164
Got it to work :-) !

Here is the code:

[code]

With a timeout of 15 minutes It now tries to suspend ~every 15 minutes :-) after failing due to my hooks !
[code]

[2020-09-17 08:04] Yamakuzure commented on #164
@dwardor : That is impressive! Congratulations on that one! :+1:

[2020-09-17 11:04] dwardor commented on #164
By the way calling loginctl from within the hooks fails with
`Failed to list sessions: Connexion terminée par expiration du délai d'attente`
i.e. Connection closed due to expired delay

[2020-09-18 19:35] #164 closed

[2020-09-19 08:12] dwardor opened #175 "Make broadcast message optional based on user configuration"
Now that I have suspend cancellation by hook working I'd really like to not have my console poluted by

[code]
Could this broadcast be made optional based on a setting in /etc/elogind/logind.conf ?

[2020-09-20 14:01] Yamakuzure commented on #175
Yes, that's doable.

[2020-09-21 16:06] travankor opened #176 "Unlock session signal not sent"
Logind's D-bus unlock signal doesn't seem to work. Interestingly, the lock signal works as expected.

To reproduce with [swayidle](https://github.com/swaywm/swayidle), `swayidle -dw unlock 'zenity --info'` and then `loginctl lock-session`. Unlocking the session does not trigger the hook.

[2020-09-21 17:22] Yamakuzure commented on #176
Just tried it with Plasma.

* Locked via Meta+L
* Switched to console
* loginctl unlock-session 3
* Switched back to Plasma
* Session was no longer locked.

Are you sure that swaylock would listen to the unlock signal?

However, I have no Sway installed right now, but it doesn't seem to be too big, so I'll give it a try.

[2020-09-22 06:37] travankor commented on #176
Ok, so `loginctl unlock-session` seems to work (triggers the "unlock" hook), but this isn't triggered after succesfully unlocking a session. However, `loginctl unlock-session` doesn't actually unlock my session (it just runs the hook).

In contrast, there is an "after-resume" hook that triggers succesfully after resuming from suspend.

[2020-09-22 06:48] travankor commented on #176
Does the screen locker have to have this built in because I don't think it does listen. swayidle is the only daemon listening and responding to sd_bus.

[2020-09-22 07:03] travankor commented on #176
Assuming the problem is that there is no built in logind support in any wlroots screenlocker, then this could be solved by adding `loginctl unlock-session`to screenlocker.sh.

[2020-09-22 07:37] Yamakuzure commented on #176
I have installed Sway, which, in contrast to Plasma, allows me to use my external Monitor via Wayland, but have only an empty screen with a mouse curser and nothing to do.
Looking at https://wiki.gentoo.org/wiki/Sway I realize that setting up Sway is far from being trivial. But I like the idea of a Wayland WM that is actually able to power my external Monitor, so I will invest the time to configur

[2020-09-22 15:34] travankor commented on #176
Tangentially, [wayfire](https://github.com/WayfireWM/wayfire/) should be similar to sway since they both share the same compositor library, except with less configuration.

[2020-09-24 14:42] travankor commented on #167
Hope this one makes it to v246-stable

[2020-09-24 14:44] travankor commented on #176
No, this didn't fix it.

[2020-09-25 12:10] Yamakuzure commented on #167
It is on my list of the things to put into v246. I am already at it, as cleanup is done now.

[2020-09-29 10:24] joakim-tjernlund commented on #161
FYI teams-insiders_1.3.00.25560_amd64.deb  is out

[2020-09-29 12:17] Yamakuzure commented on #161
seden overlay :
[code]
USE="system-ffmpeg system-mesa" used, and it works well. But as you can see, I had to downgrade ffmpeg for that.

[2020-09-29 12:19] Yamakuzure commented on #176
Currently I can't seem to get either to work. However, I'll start a new trial tomorrow morning, then with greetd using tuigreet.

[2020-09-30 06:40] Yamakuzure commented on #176
Now I know why I haven't seen anything when starting wayfire or sway via SDDM.
Using greetd I had a brief glimpse of an error message saying that the proprietary NVIDIA driver is not supported.

GNOME and KDE utilize EGLStreams, so they can run using Wayland on NVIDIA, but others are fixed on GBM. (*)

Why that stupid thing then breaks off instead of just using the Integrated Intel HD is beyond me

[2020-09-30 08:58] travankor commented on #176
You could either disable the nvidia gpu in the uefi, or you could set `WLR_DRM_DEVICES=/dev/dri/` to the right card.

[2020-10-04 09:22] markhindley opened #177 "System crashed on suspend/hibernate failure"
Sven,

Please see https://bugs.debian.org/971644

The gist seems to be that elogind tried to suspend the system when hibernate was not configured. When this failed, the system crashed with dirty filesystems.

Whilst this should be avoidable by setting HandleHibernateKey=ignore, I think the point that the failure should be better handled is a good one: either by detecting that hibernate is not avai

[2020-10-05 00:57] rworkman commented on #177
In src/shared/sleep-config.c there appears to be code to handle that exact case:

I wonder why that didn't catch here...

[2020-10-06 15:10] shibotto commented on #140
I'm using the old nvidia-drivers-340 and apparently it only requires the `chvt` bits from the `nvidia-sleep.sh` script, which I got from a subsequent driver releases, so I'm not sure how much qualified I am to help (I don't even have `/proc/driver/nvidia/suspend` 😅)

However I think it should be worth mentioning that I tried Gentoo + systemd-246 and resume works properly on my old system, so maybe

[2020-10-08 15:39] joakim-tjernlund commented on #161
https://bugs.gentoo.org/747337
ffmpeg-4.3 fix/patch

[2020-10-11 12:37] pierre-labastie commented on #53
FWIIW, it looks like `screen` (analogous to `tmux`) is not killed by _lightdm_ nor by _gdm_ (when detached), using either lxde or GNOME. But it **is** killed by _lxdm_. I've not tried any other DM. In each case, elogind is started (version 243.7). So, although I agree with the comments above, GNOME does not seem to be the culprit. I've looked at the lxdm code. It uses killpg, which shouldn't kill

[2020-10-16 19:49] carlhueffmeier commented on #140
I'm facing the same issue with my Thinkpad P1 Gen 3 (intel+nvidia).

@Yamakuzure Your script worked fine for me after some small modifications. Not sure whether it was a copy / paste error, but your snippet is missing a closing bracket on line 12. Maybe that's the cause for the exit status?

I also had to add a `sleep 1` and execute `nvidia-sleep.sh` in the background as @shibotto suggested. Witho

[2020-10-27 18:13] 6bit opened #178 "Power Key"
Hi,

I find my gentoo box powering off unexpectedly. Looks like elogind is responsible.

Oct 27 11:55:33 freya kernel: elogind-daemon[2142]: New seat seat0.
Oct 27 11:55:33 freya kernel: elogind-daemon[2142]: Watching system buttons on /dev/input/event1 (Power Button)
Oct 27 11:55:33 freya kernel: elogind-daemon[2142]: Watching system buttons on /dev/input/event0 (Power Button)
Oct 27 11:55:33 fre

[2020-11-06 08:03] Yamakuzure commented on #177
Well, the Debian bug might look like the system was not configured to look for the correct hibernation image on boot.

However, the behavior reported when the user hit the Hibernate key is absolutely unsuspected.
"PM: Image not found (code -22)" sounds like the kernel tried to hibernate, but whatever was configured, or deemed to be the right place to write into was not available.

The question I h

[2020-11-06 08:14] Yamakuzure commented on #161
Well, not accepted, yet. I reaqd through the ffmpeg pipermail thread, and both sides have strong arguments.

Actually I think that MS should do the same as the Chromium guys did, and change their usage of av_max_alloc() to work with both the old and the new behavior.

In the meantime I haven't observed any problems with my headset in different programs (Falkon, Teams, Zoom) being fetched and relea

[2020-11-06 08:22] Yamakuzure commented on #140
It was a copy&paste error. Thanks for pointing that out!

[2020-11-06 08:53] Yamakuzure commented on #178
Hmmm... difficult. You have two power buttons registered, and either of these must have been triggered.

Could you have a look into `cat /proc/bus/input/devices` to find out what's what?

[2020-11-06 09:24] joakim-tjernlund commented on #161
Seems so, I just want them to make an active decision at this point.

I figure they will get that for free once they upgrade, problem is how long time that will take.

[2020-11-06 12:29] markhindley commented on #177
Thorsten,

On Fri, Nov 06, 2020 at 12:03:36AM -0800, Sven Eden wrote:

Can you provide the content of /proc/swaps please.

Thanks

Mark

[2020-11-06 14:52] markhindley commented on #177
On Fri, 6 Nov 2020, Mark Hindley wrote:

Sure:

tglase@tglase-nb:~ $ cat /proc/swaps
Filename                                Type            Size            Used            Priority
/dev/sda2                               partition       3206140         0               -2

bye,
//mirabilos
--
tarent solutions GmbH
Rochusstraße 2-4, D-53123 Bonn • http://www.tarent.de/
Tel: +49 228 54881-393 • Fax:

[2020-11-07 13:29] Yamakuzure commented on #177
@markhindley : Well, that looks in order.
But the error does not.

The prefix "PM" means, it comes from the kernel power management.

When I look into the kernel/power/swap.c source on hibernation, that error is issued in swsusp_check() when checking the hibernation resume device. elogind will have passed "/dev/sda2" to it.

The function clears the swsusp header page on that device, then initializ

[2020-11-07 13:48] Yamakuzure commented on #177
This (from the link above) sounds like a hint to me:

Chen Yu 2019-07-05 14:57:10 UTC
(In reply to djl from comment #11)

I guess he means:

[2020-11-08 17:26] Yamakuzure commented on #53
I finally got time to test this.

1. Set KillUserProcesses=yes in /etc/elogind/logid.conf
2. Opened a screen session and detached
3. Logged out and back in --> The screen session was gone.
4. Set KillUserProcesses=no in /etc/elogind/logid.conf and send elogind-daemon a -USR1 signal (reload config)
5. Opened a screen session and detached
6. Logged out and back in --> The screen session was still th

[2020-11-08 17:26] #53 closed

[2020-11-09 03:50] PegasusEpsilon commented on #53
Again, not an elogind core problem anymore. Quoth myself:

I have since noticed that removing that flag makes some auth stuff fail to work properly. I don't spend all day messing with this stuff, but whatever. Continuing to quote myself:

Feel free to keep the issue closed, since it's 100% not a problem with elogind core, but at least read the comments left by users.

[2020-11-09 12:43] Yamakuzure commented on #110
Good news!

With xorg-server-1.20.8 I can finally start X without suid root, and restarting elogind no longer takes down my whole system.
Suspend/Hibernate also works, so for me, everything is fine.

@udeved wrote:

I no longer have this message.

[2020-11-09 12:46] Yamakuzure commented on #172
I'll add both features once the v246-rc1 alpha release is published.

I have already changed some of the ways configuration is read, so those two should be easy to implement.
Spoiler: elogind will no longer require a reload/restart when you change sleep paramters in logind.conf. :smile:

[2020-11-09 12:49] Yamakuzure commented on #170
A v246-rc1 is almost done. I am mainly battling with travis, it failed on stuff systemd upstream has forgotten. The last issue seem to be some c-ansi errors in testing.

[2020-11-09 13:06] Yamakuzure commented on #72
The files in the sleep directory are executed serially in the order dirent() reads them, which should be alphabetical, before entering sleep. But on wakeup they are called in parallel (forked off executor), so you can not have scripts relying on each other.

I have 5 scripts currently.
* aa.sh : Only logs to mark the beginning
* boinc.sh : Suspends all BOINC tasks
* network_off.sh : Stops some ser

[2020-11-09 13:13] Yamakuzure commented on #53
@PegasusEpsilon : Thank you for the roundup! :+1:

I always read all comments. However, I wanted to make sure that there really isn't hidden something fishy with that configuration option. Sorry if that wasn't clear enough.

However, thank you very much for your effort in tracking these issues down. I am sorry that I can't help you further, but we'll hopefully be able to provide users with a lead,

[2020-11-09 14:13] markhindley commented on #177
Sven,

On Sat, Nov 07, 2020 at 05:48:33AM -0800, Sven Eden wrote:

Although the error message is similar, I think Thorsten's point is different. On
his system his RAM is bigger than swap, so hibernating using the swapspace
cannot work. However, the hibernation attempt is still made and fails
unpleasantly.

I am certainly not an expert on kernel PM and I am unsure where the bug
responsibility lies,

[2020-11-09 17:11] Yamakuzure commented on #177
Well, the available swap space is checked. If it is not sufficient, the default is to shutdown the machine.
You need to fill up your memory with actual pages (neither buffer nor cache) to have the swap space being too small.

elogind also does not send the device name, but the device number as major:minor to /sys/power/resume. There is no safer way to do it.

Could they please do the following:

[

[2020-11-09 21:32] mirabilos commented on #177
The output of `cat` is `8:2`, so looking good, but I’m _not_ going to crash my machine again.

Apparently not, and the default ought to be “message the user (e.g. write to syslog) about the problem and then DO NOTHING”.

[2020-11-10 11:23] Yamakuzure commented on #177
You can set what is tried and how here:
[code]
Just uncomment "HibernateMode" and erase "shutdown".

By the way, if you do
[code]
and your machine crashes, then elogind has absolutely nothing to do with it.

[2020-11-10 11:28] Yamakuzure commented on #170
https://travis-ci.org/github/elogind/elogind/branches starts looking good again, so with any luck I'll push out the v246-rc1 pre-release in a few hours.

[2020-11-10 18:48] Yamakuzure commented on #170
https://github.com/elogind/elogind/releases/tag/v246.0-rc1 can be tested now! :partying_face:

[2020-11-10 21:47] Lahvuun commented on #170
I tried doing a simple revbump:
[code]
and it builds fine, but doesn't seem to work.

After a reboot `rc-service status elogind` just returns `status: crashed` and I can't run bspwm or sway. Doesn't look like there are any logs so I'm kind of at a loss here. Any way I can debug this?

[2020-11-10 22:27] Yamakuzure commented on #170
Doesn't look like there are any logs so I'm kind of at a loss here. Any way I can debug this?Try merging with USE="debug". You should then see at least something in /var/log/messages. 

[2020-11-11 07:17] Yamakuzure commented on #170
Try merging with USE="debug". You should then see at least something in /var/log/messages. 

**Edit**: But only if you start elogind without daemonizing it.
Sorry, but there seems to be a problem with the internal mechanisms of forking processes off. I have to analyze what upstream has changed where, and how to adapt.
The first fork succeeds, but the double fork fails. No idea why, yet

[2020-11-11 18:10] markhindley commented on #170
Sven,

On Tue, Nov 10, 2020 at 10:48:39AM -0800, Sven Eden wrote:

Thanks.

I needed the attached patch to fix a mismerge in src/test/test-fs-util.c.

With it the experimental Devuan package builds. Now some testing...

Mark

[2020-11-11 18:19] markhindley commented on #170
On Wed, Nov 11, 2020 at 06:10:09PM +0000, Mark Hindley wrote:

Github seems to have swallowed the attachment.

Here again, inline.

Mark

From 3de3983cfdca4fbbf34ed9909137e029b64efd3d Mon Sep 17 00:00:00 2001
From: Mark Hindley <mark@hindley.org.uk>
Date: Wed, 11 Nov 2020 17:56:04 +0000
Subject: [PATCH] Fix test-fs-util.c.

There appears to be a mismerge here. The /var/lib/dbus/machine-id/foo path

[2020-11-12 03:38] perfect7gentleman commented on #170
246.9999 ie git
[code]

[2020-11-13 01:54] 6bit commented on #178
Hi Yamakuzure,

This:
freya ~ # cat /proc/bus/input/devices |grep '^N'
N: Name="Power Button"
N: Name="Power Button"
N: Name="Video Bus"
N: Name="HDA Intel PCH Front Mic"
N: Name="HDA Intel PCH Rear Mic"
N: Name="HDA Intel PCH Line"
N: Name="HDA Intel PCH Line Out"
N: Name="HDA Intel PCH Front Headphone"
N: Name="HDA Intel PCH HDMI"
N: Name="ORTEK W/L Keyboard/Mouse"
N: Name="ORTEK W/L Keyboard/Mo

[2020-11-13 09:45] Yamakuzure commented on #170
I will put out rc2 in a few minutes, because:

[code]

It works now! :smile:

[2020-11-13 09:56] Yamakuzure commented on #178
elogind goes through the input devices, and checks whether their IO bits have any of KEY_POWER, KEY_POWER2, KEY_SLEEP or KEY_SUSPEND. (Field "B" in /proc/bus/input/devices)
Actually I have no idea how to distinguish between the actual power button and your media remote.

Could you please post the full blocks for these two from /proc/bus/input/devices ? Maybe we are able to find a hint there.

[2020-11-13 15:20] Yamakuzure commented on #178
Well, it is instructed by default:

[code]
Switch this to
[code]
and you'll be fine.

[2020-11-14 09:34] Lahvuun commented on #170
I installed rc2 with portage but `rc-service elogind status` still returns `crashed`. There is, however, a process called `elogind-daemon` and `loginctl` lists my session. I'm also able to run bspwm but not sway. Sway complains about unset `XDG_RUNTIME_DIR` which really isn't, and `/run/user/1000` doesn't exist either.

[2020-11-14 09:55] perfect7gentleman commented on #170
the same
[code]
[code]

[2020-11-14 10:38] Yamakuzure commented on #170
Sounds like the wrong PID is written to the pidfile. I know where and how to fix that. 

[2020-11-14 16:11] Yamakuzure commented on #170
Fixed with 7db52c01ed07f543f8272ea9a726cb542e771595

[code]
Hmmm... I think I'll take a look at what the `rc-service elogind describe` output means and how I can make that one nicer and more descriptive.

[2020-11-14 17:11] joakim-tjernlund opened #179 "dmesg logging noise"
I got quite a few automatic logins onto a server and a lot of:
[code]

Can some users be exclude from this logging?

elogind 243.7-r1 on Gentoo

[2020-11-14 17:38] markhindley commented on #170
Sven,

Pretty good feedback from Devuan/Debian testers for 246.0 rc2. No missing
functionality or regressions so far.

The only comment/query is:

What is the significance of that?

Thanks.

Mark

[2020-11-14 17:49] Yamakuzure commented on #170
I am not quite sure yet, but will investigate. Thanks for the feedback!

[2020-11-15 22:47] simonvanderveldt commented on #158
Also just upgraded to GNOME 3.36 and ran into this issue. I'm on gentoo using OpenRC. I've applied the patch listed [here](https://github.com/elogind/elogind/issues/158#issuecomment-660306612) to get me back to a working situation for now.

Did anyone get anywhere towards finding the root cause/fixing this issue?

According to the PR that added this change to gnome-settings-daemon (https://gitlab.

[2020-11-16 08:07] Yamakuzure commented on #158
Good question.
But the information you posted gives me a lead on where to look for a discrepancy between the official systemd code, and the elogind adaptation. Maybe we missed some tiny detail important to Gnome?

[2020-11-16 12:04] xgqt commented on #158
I can also confirm that the patch https://github.com/elogind/elogind/issues/158#issuecomment-660306612 works.
My system is Gentoo (OpenRC default/linux/amd64/17.1/desktop) on AMD Ryzen 5 3500U (with Radeon Vega Mobile)

[2020-11-17 20:19] joakim-tjernlund commented on #161
Noticed these was missing exec privs:
/usr/share/teams-insiders/resources/app.asar.unpacked/node_modules/slimcore/bin/*
watch out for rect-overlay though: https://microsoftteams.uservoice.com/forums/908686-bug-reports/suggestions/40805257-screen-sharing-broken-on-linux-with-1-3-00-16851#comments

[2020-11-21 07:53] Yamakuzure commented on #170
@markhindley : The "Unknown section" issue is probably fixed in dd77166

[2020-11-21 08:23] Yamakuzure commented on #110
If nobody can still reproduce either, this can safely assumed to be a closed issues.

But as always: If I have mised somethign here, feel free to re-open with new data! :wink:

[2020-11-21 08:23] #110 closed

[2020-11-21 13:58] Yamakuzure commented on #161
@joakim-tjernlund : Thanks alot!
Screen sharing worked for me, but I do not recall when the last time was. (I am on X11 Plasma with kwin-ft)

Maybe I can test this on monday...

[2020-11-22 10:42] #72 closed

[2020-11-22 10:42] #172 closed

[2020-11-22 14:34] shibotto commented on #140
Just one thing I noticed a couple of days ago on 243.7: if I ssh into my laptop and start a simple `startx /usr/bin/xterm` from that session, I am able to suspend and resume fine using `loginctl suspend`. If I do the same from a TTY... we already know what happens :D
I will try the v246-stable branch in a few hours.

[2020-11-23 06:20] Yamakuzure commented on #140
@shibotto : The v246-stable branch does not work at the moment. My nvidia card is suspended like it is intended, but then the suspension itself, no matter whether I go into 's2idle' or 'deep' suspension, does not work. My laptop basically freezes, and I have to use Magic SysRq to reboot it.
Another issue: Since rc the logging no longer works, elogind is completely silent, and I have not yet found

[2020-11-23 06:31] Yamakuzure commented on #179
No.
But you can set the `SYSTEMD_LOG_LEVEL` environment variable prior starting up elogind to reduce the log level.

[code]
However, elogind will change from preferring kmsg to preferring syslog, so dmesg won't be pestered any more.

[2020-11-23 14:12] Yamakuzure commented on #161
@joakim-tjernlund

Those are shared libraries, that do not need exec privs. At least `file` says those are all `application/x-sharedlib`

I just had a meating with two collegues, and screen sharing worked, they could see my screen just fine. Teams minimized into the tray, and I could do stuff and talk to them.

*but*: I had no overlay. So I _think_ at least `rect-overlay` needs an executable bit?

[2020-11-24 04:29] perfect7gentleman commented on #170
there are still problems with 246.9999
[code]
So, cannot log in Plasma X-Session, downgrading to 243 resolves it.

[2020-11-24 04:37] perfect7gentleman commented on #170
The same problem with Wayland session.

[2020-11-25 00:43] shibotto commented on #140
[ It turned out pretty long, I'm sorry]

I had a bit of a different experience: in my test (up until df1cd9ff543b830d8430e758aea3630bb37df793) suspension itself is working fine exactly like before, Nvidia is not, exactly like before :D
Let me say in advance that I'm focusing on the VT switch aspect of the problem, so the first thing I did was removing the check and the writes on `/proc/driver/nvid

[2020-11-25 05:26] travankor commented on #140
worst case scenario, nouveau should still work fine

[2020-11-28 20:29] Yamakuzure commented on #170
@perfect7gentleman : I finally found the issue that made rc2 horrible.
elogind forks nicely again, and logs to syslog without pretending to be a kernel module now. :smiley:

[2020-11-28 22:53] Yamakuzure commented on #168
Actually 4518675cb1329b208fcfaa4c2adcdea353ab621c should have eventually fixed that.

[2020-11-29 05:30] perfect7gentleman commented on #170
seems to work again.

[2020-11-29 10:02] Yamakuzure commented on #178
As this is a local configuration issue, I will close this now.
Please feel free to re-open this issue if you think there really is a bug.

[2020-11-29 10:02] #178 closed

[2020-11-29 10:05] Yamakuzure commented on #177
As there is no hint elogind is responsible for the users machine crashing, I will close this now.

@mirabilos : If you hibernate your machine "by hand" as I suggested, and experience no crash, then feel free to re-opne this issue.

[2020-11-29 10:05] #177 closed

[2020-11-29 10:11] Yamakuzure commented on #176
WLR_DRM_DEVICES seems to be the right way to go. Unfortunately, without the nvidia card, my external monitor will remain dark.
Unfortunately I have to defer this until at least v246-rc3...

[2020-11-29 10:13] Yamakuzure commented on #175
Just to be clear about this: You only talk about the broadcast messages when a hook skript fails, right?

[2020-11-29 10:24] Yamakuzure commented on #174
The only difference to upstream systemd-login is this:

[code]

Fell free to re-open this issue if you find something I have missed.

[2020-11-29 10:24] #174 closed

[2020-11-29 10:30] #168 closed

[2020-11-29 10:30] #179 closed

[2020-11-29 10:34] Yamakuzure commented on #171
Sorry, I forgot the "Closes:" tag in 700283ed9df2a70c965dc62c6ec89701211cb217 :disappointed:

[2020-11-29 10:34] #171 closed

[2020-11-29 12:32] Yamakuzure commented on #140
@travankor : Thanks a lot for your time and efforts to get this sorted out.
I am reopening this, and will conduct more research, now that elogind does its logging again since ca110ae6521c6cd427743bd557ee9e08adc8937f.

[2020-11-29 12:42] dwardor commented on #175
I meen not seeing this :

[code]

[2020-11-30 09:16] Yamakuzure commented on #140
@shibotto

You are right. I have started an OpenBox session using `startx` and it remained to be of Type 'tty'. I have removed the check. It was a nice idea but is impractical.

Well, elogind with plasma and `loginctl suspend` works fine now on my machine, too, and I also have this "UDEV stuff" in my log, although it is issued by elogind, not UDEV.

This *should* be resolved now. (*)

_First_, I g

[2020-12-01 09:50] Yamakuzure commented on #175
@dwardor : Here you are. :smiley:

(To be honest, I will be setting these two options to "no", too. :wink:)

[2020-12-01 10:41] Yamakuzure commented on #140
@shibotto : The nvidia suspend feature is now optional and opt-in. Are you okay with the naming and documentation?

As always, I am open for suggestions and ideas!

[2020-12-01 17:26] Yamakuzure commented on #158
The first thing I can confirm, is, that brightness controls work perfectly fine on Plasma. :shrug:

However, I have added debugging output to the two functions used. Functions, that are unaltered compared to systemd-logind, btw.

If someone could try those with an unpatched gnome-settings-daemon, then we might get a clue what the issue is?

Something else, both
[code]
and
[code]
work without any i

[2020-12-01 18:22] Yamakuzure commented on #162
I have tried this one out, finally.

This one is from logging in and out of an OpenBox session. I have removed all irrelevant lines.

[code]

I have had a look into the sources, and in `session.c:919:session_stop()`, they explicitly call `login1_service_terminate_session()`, which then does a dbus call on login1 for "TerminateSession".

However, at this point, the session was already closed via PA

[2020-12-01 18:38] Yamakuzure commented on #162
I have tried this one out, finally.

This one is from logging in and out of an OpenBox session. I have removed all irrelevant lines.

[code]

I have had a look into the sources. It looks like lightdm *becomes* the user it just created a session for, in a single-forked off process. Then, after the user logged out of their session (pam_unix will have dealt with it), lightdm ends its own hold on PAM.

[2020-12-02 06:51] #140 closed

[2020-12-02 06:51] #175 closed

[2020-12-02 07:39] Yamakuzure commented on #173
Oh dammit!

@oglueck I am very sorry! I forgot to mark commit bf6dd5e with a "Bug:" tag, so this issue got never updated.

The issue _might_ be fixed, but the fix needs further testing. It at least seemed to me that the detection of the unified controlling mechanism wasn't reliable before that commit, and came up with wrong controller paths with (at least) openrc.

[2020-12-02 10:03] mirabilos commented on #177
Package: src:linux
Version: 5.9.9-1
Severity: critical
Justification: causes serious data loss
X-Debbugs-Cc: tg@mirbsd.de,reply@reply.github.com

A bit of backstory, since this is not the first place I had to
report this to (feels like being sent from Pontius to Pilatus):

I’ve switched from consolekit to elogind once it became usable.

I accidentally hit Fn-F12 on a Thinkad X61, causing elogind t

[2020-12-02 14:25] Yamakuzure commented on #177
Please have a look:
[code]
1. Set `HandleHibernateKey` to `ignore`, and your keyboard becomes safe again.
2. Set `HibernateMode` to `platform` alone, and elogind won't shutdown your computer if hibernation fails.

Those are the defaults for elogind _AND_ systemd-sleep, so if you ever migrate to systemd, you now know where to look. ;)

(Those are also explained in `LC_ALL=C man logind.conf`. The LC

[2020-12-02 14:51] mirabilos commented on #177
Sven Eden dixit:

Perhaps, but the thing is, my system suddenly behaves different
in multiple totally unexpected ways after I switched from the
old consolekit thingy to libpam-elogind, and this was… bad.
Especially since I only need it to satisfy certain package
dependencies.

And elogind doing things when I close the laptop or press some
keys that never used to do anything is… very much unexpecte

[2020-12-02 17:53] dwardor commented on #175
emerged your elogind-246.999 last night... Everyhting is working like a charm here.

[2020-12-03 08:10] Yamakuzure commented on #177
@mirabilos
I am back from smoking a cigarette after reading your post and writing a response that you won't like. I am posting this anyway, because I believe it would be unfair to you to not let you know what you have caused.

However, having cooled down I want to make two facts clear first now:

1. If you do not have enough swap space free to hibernate, and issue `echo "disk" > /sys/power/state`,

[2020-12-03 08:13] Yamakuzure commented on #175
*yay* :grinning:

[2020-12-03 16:15] mirabilos commented on #177
Sven Eden dixit:

I filed a bug against the kernel and put this on Cc to let you know
about it but this seems to have made you explode.

No it doesn’t do that. “It” (unclear whether it’e elogind or Linux)
merely powers off the system instead of shutting it down, which causes
the filesystem corruption.

Perhaps it thinks the hibernation was successful.

bye,
//mirabilos
--
  “Having a smoking secti

[2020-12-03 23:03] mirabilos commented on #177
Sven Eden dixit:

Huh. Still.

Questionable:

$ cat /etc/initramfs-tools/conf.d/resume
RESUME=none

The configured resume device is “none, don’t do that”.

This paragraph was specifically a response to my understanding
of your replies as not understanding the difference between
shutdown and poweroff (as in, the former would safely umount etc).

I did that since, but I still point out unsafe defaul

[2020-12-04 07:49] Yamakuzure commented on #177
Are you **KIDDING** me? You configured your computer to _NEVER_ ever resume from hibernation data and then complain that resuming from hibernation does not work, and how this is all our fault and how we are too stupid to not break _your_ computer?

Really?

`/sys/power/resume` is __NOT__ the device to resume from, but the device to write the hibernation data to!

Oh boy I am really, really mad now

[2020-12-04 08:16] Yamakuzure opened #180 "Clearly document what the hibernation and suspend modes and states really mean"
This should be done in `man logind.conf`, as that is the place to look for the respective configuration options.

The source for some explanations might be:
- https://www.kernel.org/doc/Documentation/power/swsusp.txt
- https://www.kernel.org/doc/Documentation/power/states.txt
- https://superuser.com/questions/1078709/which-is-the-user-space-command-for-resuming-from-hibernation
- https://wiki.gent

[2020-12-04 08:21] Yamakuzure commented on #162
After having had another session of step-by-step code analysis, this does not seem to be a race condition. LightDM simply does not actually '_hold_' the session it is releasing, so the user logging out of their session effectively ends it.
The "Failed to release session" message is just a side-effect of LightDM cleaning up after itself.
Therefore I assume that the message is even good, as it shows

[2020-12-04 08:21] #162 closed

[2020-12-04 08:28] Yamakuzure commented on #161
@joakim-tjernlund : After I have upgraded to elogind-246.9999 (compiled from v246-stable branch), I have seen the following:

1. Started Teams without my headset plugged in.
2. MS Teams device configuration was set to:
   * Speaker: Integrated Audio
   * Microphone: Integrated Audio
   * Secondary ringtone: None
3. I then plugged in my headset and went back into the Teams settings. The device conf

[2020-12-04 10:56] Yamakuzure commented on #161
In 6 Minutes I have another Meeting.

What I have done now:
1. Updated to teams-insiders 1.3.00.30857
2. Disconnected my Headset
3. Rebooted
Teams shows Integrated Audio as being used, like above
4. Plugged in my Headset
Teams shows my Headset, like above.

So now I keep my fingers crossed that my headset is working fine in a few minutes.

[2020-12-04 11:53] Yamakuzure commented on #180
Notes:
[code]

[2020-12-04 14:05] mirabilos commented on #177
Sven Eden dixit:

I disabled hibernation because I can’t use it anyway due to smaller
swap space than RAM. But then some tools suddenly decide to ignore
this configuration item and hibernate anyway.

I call this a bug.

(tbh I forgot about this until I saw it again, but I had to set it
to none because some tool kept complaining that the "selected resume
device was too small" otherwise)

[2020-12-05 18:47] dzhigit1 commented on #158
On Devuan Ceres with GNOME 3.38. I can change brightness ONCE after turning on laptop. After that, I have to log out and log back in for changes to take effect.

Have the same behavior as before.

[2020-12-07 07:21] Yamakuzure commented on #177
@mirabilos : I do owe you an explanation and a huge apology.

Having been a week-end off, busy with family matters, allowed my to finaly realize what happened.

But first things first: I haven't been angry at you or your report. I was pissed off by my inability to get to the bottom of the issues you seemingly had. But instead of realizing what was off, I vented and took my frustration out on you.

[2020-12-07 07:52] Yamakuzure commented on #158
@dzhigit1 I can use any of these commands as often as I like.

What the hell is going on there?

Could that be a dbus issue? dbus (still!) has to be patches to work with elogind.

Please see:
* https://gitlab.freedesktop.org/dbus/dbus/-/merge_requests/53 and
* https://gitweb.gentoo.org/repo/gentoo.git/tree/sys-apps/dbus/files/dbus-enable-elogind.patch

I know this is far fetched, but from all I ca

[2020-12-07 14:59] mirabilos commented on #177
Sven Eden dixit:

Funnily enough, the advice came from that very warning you wrote about:

The warning also comes when the auto-detected resume device is smaller
than RAM because, obviously, hibernation can then not (always) work.

The suggested fix was to disable this entirely, especially if the user
does not intend to use hibernation.

I’m running unstable, and I had done so *ages* ago and didn’

[2020-12-17 23:32] #180 closed

[2020-12-17 23:33] Yamakuzure commented on #170
Although I am waiting for answers on the other issues, I will release the new elogind version tomorrow.

Whatever pops up then, can be fixed. :wink:

[2020-12-19 10:17] Yamakuzure opened #185 "travis-ci.org will shut down at the end of 2020. Do we need an alternative?"
As the new discussion feature isn't that obvious to see, please have a look here:
Diskussion https://github.com/elogind/elogind/discussions/184

[2020-12-19 12:39] Yamakuzure commented on #170
Done. :wink:

[2020-12-19 12:39] #170 closed

[2020-12-19 22:26] shibotto commented on #140
I'm so sorry, I know I am slow af, I should work on that...

No problem at all for me and the doc seems clear enough.

---

I just tried 246.9 and I set both `SuspendMode=deep` (although it was already the default for me) and `HandleNvidiaSleep=yes` (still editing the function to remove the file check), however it still fails to correctly switch VT. And on top of that I don't get any debugging mes

[2020-12-20 02:56] MrYacha commented on #140
Hi guys, I have the same behavior on my Artix Linux, with one difference **my laptop doesn't have Nvidia**, but uses AMD. My xorg log file -
[Xorg1.log](https://github.com/elogind/elogind/files/5720430/Xorg1.log)

[2020-12-20 15:24] Yamakuzure commented on #140
@shibotto : Sorry that it doesn't work correctly for you. At least the hook script works.
With the latest nvidia drivers I use neither, and everything (suspend/hibernate/resume) just works.

But I have also nvidia-smi and nvidia-percistenced running, and do not load `nvidia` but `nvidia_uvm`. Maybe that is the reason why it just works for me?

@MrYacha : I have nothing like that in my Xorg log fil

[2020-12-20 15:54] Yamakuzure commented on #140
@MrYacha : Sorry, but I fear this is out of my scope. I am using Plasma with SDDM, and I either get:
[code]

And when I add `-keeptty` (via /etc/sddm.conf.d/) I get:
[code]

Both cases are harmless, everything works just fine. I just can not get to a situation that provokes the mesages you got.
Also they do not look like they have anything to do with this issue #170, so you might want to open a ne

[2020-12-20 17:30] MrYacha commented on #140
I just tried to use SSDM to launch my WM (awesome) and it actually works, now my system can resume from suspend well. Before I used xinit, I never thought that it can impact. I'm also not sure if its elogind's issue, could you please point me where should I report my case?
Surely attaching my logs with SDDM.
[Xorg_sddm.log](https://github.com/elogind/elogind/files/5721253/Xorg_sddm.log)
[xinit con

[2020-12-21 06:47] jason-oliveira opened #186 "Device permissions not being set on device plugin."
On users of elogind in Calculate Linux, if a device is plugged-in once, everything is detected, and appropriate permissions are set in /dev/input, and the ACL applies. Once unplugged and re-plugged, the device does not receive ACL permissions, and the device is no longer detected by most programs. The only way to re-set this behavior is to log out of the user entirely, and then log back in. Once d

[2020-12-21 10:33] Yamakuzure commented on #140
@MrYacha : I am currently uncertain what your actual issue is...

Howevwer, why are you loading radeon, ati, modesetting, fbdev, **and** vesa?

According to the PCI ID, you have a Wrestler [Radeon HD 7340], and that should only need 'radeon'. (plus modesetting if this is a hybrid setup with Intel HD?)

[2020-12-21 12:52] Yamakuzure commented on #186
@jason-oliveira : Thank you for your report.

Which init system is used?
Which versions of udev/eudev and elogind are used?
Are `70-uaccess.rules` and `73-seat-late.rules` properly installed?
Is `elogind-uaccess-command` built and installed?

I am asking all of these questions, because I can unplug and plug back in whatever I want on my setup:
openrc-0.42.1, eudev-3.2.9, elogind-246.9

Example:
If

[2020-12-21 13:08] Yamakuzure commented on #173
For me it seems to be fixed.

Feel free to re-open if I have overlooked anything.

[2020-12-21 13:08] #173 closed

[2020-12-21 13:10] Yamakuzure commented on #161
As I can now watch both Microsoft Teams and Zoom to switch to internal audio when I unplug my headset, and switch back to my headset when I plug it back in, I am closing this issue.

Everything works just fine, at least for me.

Please feel free to re-open this issue if I have overlooked anything.

[2020-12-21 13:10] #161 closed

[2020-12-21 16:14] maxice8 opened #187 "Release title for 246.9-r1 has wrong title"
![image](https://user-images.githubusercontent.com/30738253/102797487-81fa1780-438e-11eb-8ca7-864212995ade.png)

[2020-12-21 16:15] maxice8 commented on #187
Also couldn't the release be 246.10 or 246.9.1 ?  `-r` is how Alpine and Gentoo point out **internal** releases and are extremely unergonomic to use.

[2020-12-21 16:35] Yamakuzure commented on #187
Oh dammit. That happens if you try to be fast. :roll_eyes:

...I'll fix that...

[2020-12-21 16:44] Yamakuzure commented on #187
@maxice8 : Done! :smiley:

See: https://github.com/elogind/elogind/releases/tag/v246.9.1

Thanks for the info, and sorry for the crap release!

[2020-12-21 16:44] #187 closed

[2020-12-21 18:52] jason-oliveira commented on #186
gentoo is still stuck at elogind-243.7, so that'll be another bug filed.
openrc-0.42.1 and eudev-3.2.9 are installed.

73-seat-late.rules is not installed. Should they be?
gentoo's ebuild does not seem to build or install elogind-uaccess-command. Should it?

[2020-12-22 12:17] Yamakuzure commented on #186
@jason-oliveira :

Both the official Gentoo ebuild and my live ebuild, do. See:

[code]

Let me check the official ebuild...

[code]
Well, both are installed.

[code]

Seems to be valid, too...

So the official Gentoo ebuild does everything as expected. Are there any "adaptations" done at Calculate Linux?

( Note: The -r1 ebuild only adds a USE flag "audit" to add sys-process/audit as a dependency

[2020-12-22 12:46] jason-oliveira commented on #186
I was wrong about elogind-uaccess-command. It's in /lib64/elogind/

Not sure where you're getting the 73-seat-late.rules, because https://github.com/gentoo/eudev/tree/master/rules doesn't seem to include them. I just installed the -r1 (so it was guaranteed to build from source), and:

oliveiraj@lorptarp ~ $ equery f elogind | grep -P '(.rules|uaccess-command)'
/etc/polkit-1/rules.d
/etc/polkit-1/r

[2020-12-22 13:16] Yamakuzure commented on #186
`73-seat-late.rules` is installed by elogind. Without it, elogind-uaccess-command is never used.

[2020-12-22 22:16] jason-oliveira commented on #186
Well, seeing as the rule is not installing here (or on any other machine despite using the gentoo ebuilds), where can I locate it in the repo so I can manually add it to the proper directory? Looks like this might solve the issue.

[2020-12-23 00:45] jason-oliveira commented on #186
Manually building the package, I can see it builds 73-seat-late.rules, so I copied that version to /lib/udev/rules.d/ and everything worked magically on all three machines. Thank you. I'll see to it that (at least) Calculate knows this is happening.

[2020-12-23 00:47] jason-oliveira commented on #186
Contents of 73-seat-late.rules:
[code]

[2020-12-23 02:33] jason-oliveira commented on #186
Closing issue as this is an issue with Calculate or Gentoo, resolved with manually adding 73-seat-late.rules
Thanks for the triage.

[2020-12-23 02:33] #186 closed

[2020-12-23 07:55] Yamakuzure commented on #186
@jason-oliveira : I am glad we could sort this out. :smiley:

[2020-12-23 18:09] pierre-labastie opened #188 "elogind is not started by pam_elogind.so if logging in at a console"
elogind version 246.9.1
Using beyond linux from scratch default pam.d files:
Our /etc/pam.d/login:
[code]
And /etc/pam.d/system-session:
[code]
- Log in at console just after boot up
- type `ps aux | grep elogind`
- answer: only the line with grep elogind
- type `loginctl`
- answer: No sessions
- type `ps aux | grep elogind` again
- answer `root      1580  0.0  0.0 497700  4116 ?        S    18:24

[2020-12-24 10:35] tsaop commented on #188
Impacted by this as well.

The culprit seems to be: 650e39b, more specifically the block that reads:
[code]
Commenting it out fixes the problem, but I don't know if it has other effects.

If you read the definition of `logind_running()`, you'll see that it searches in `/run/systemd/seats`, but that directory is not there yet, since elogind hasn't been started.
If you start elogind as a daemon, it

[2020-12-24 14:37] drfiemost opened #189 "Build error with gcc-10 using the flag -ftracer"
I'm getting the following error when building elogind-246.9.1 with gcc-10 using the flag -ftracer:
[code]
These are the steps to reproduce:
[code]

[2020-12-25 08:59] drfiemost commented on #189
I can get past this by adding an assert(runtime != NULL) but then I get another one:
[code]
Fixed this one with an assert(val != NULL) and then the compilation went fine.
Can't tell if it is safe to assume these variables as non-null though.

[2020-12-25 13:16] Yamakuzure commented on #188
Well, merry christmas to you, too. :wink:

That one is on me. I did not realize that there might be systems where elogind might not be started, either bei the daemon manager or by a service trying to talk to elogind via dbus, before user login.

The `if (!logind_running())` does not make real sense, as pam_elogind would simply try to talk to the elogind daemon via dbus, which would then start it.

[2020-12-25 13:40] Yamakuzure commented on #189
This is more likely on gcc here.

The function is called in `configure_runtime_directory()` at line 639 with three arguments, `handle`, `ur` and `rt`. The latter becomes the second argument to `export_legacy_dbus_address()` and is `runtime` there.
As you can see, `rt` is already asserted, and thus `runtime` can never be `NULL` when reaching line 315.
(The argument `rt` comes from elogind as a repl

[2020-12-25 13:46] #188 closed

[2020-12-25 15:40] drfiemost commented on #189
Ok, thanks.
So the first one might be a regression in gcc, I've reported it upstream just to be sure (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=98444)
As for printing a null string it looks like an undefined behavior so it's not guaranteed to work everywhere, better be safe.

[2020-12-26 09:36] tiagodfer commented on #158
I'm having the same issue @dzhigit1 has, I can only use those commands once and get no debug message whatsoever.

[2020-12-29 16:18] maxice8 opened #190 "version with dots breaks other packages"
`sdbus-cpp` fails to build because the version has dots.

[code]

[2020-12-30 10:51] Yamakuzure commented on #190
You are talking about https://github.com/Kistler-Group/sdbus-cpp, right?

All elogind versions have at least one dot.

It is the sdbus-cpp build system that needs to be fixed.
Their CMakeLists.txt uses:
`pkg_check_modules(Systemd IMPORTED_TARGET GLOBAL libsystemd>=236)`
Which would not work normally, as elogind installs `libelogind` and not `libsystemd`.

[code]

Therefore I get:
[code]

Here is a

[2020-12-30 11:31] Yamakuzure commented on #189
@drfiemost

Thanks for doing so. Martin Sebor has written a very interesting answer. I like his idea of putting a "`if (!runtime) __builtin_unreachable ();`" infront of the line in question.

I think we can enhance the code here and reopen the issue as a sole reminder for myself.

[2020-12-30 11:34] Yamakuzure commented on #158
@tiagodfer Although "me too" comments add no value or insight, yours gave me an idea:
Is elogind still running after you have issued the command once?
Could you please check using `ps`? Maybe it is some weird crash, so elogind can not respond any more, because it simply isn't around?

Well, this is also very far fetched, as dbus would simply restart elogind on the next call, but maybe somethings b

[2020-12-31 20:00] dzhigit1 commented on #158
Sorry, my laptop is now broken, so I cannot do any troubleshooting :(

Yes
`#  This file is part of elogind.
#
#  elogind is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[D-BUS Service]
Name=org.freedes

[2021-01-01 13:06] Yamakuzure commented on #158
Oh... I am sorry to hear that!

Why? I mean, if elogind is started via init script or similar means, then the dbus action to start it on demand isn't really required.

But I wonder whether something happens that makes elogind crash, and the above commenting out of the Exec line causes it to remain shut down...

I hope we can eventually find out
1. if elogind is really crashing and
2. why it is doi

[2021-01-11 14:29] Dramokl commented on #158
I ran into the same issue with elogind 243.7, I had to work around with  simple comfiguration edit

[code]

[2021-01-11 16:22] simonvanderveldt commented on #158
@Dramokl But that section isn't commented out in the current elogind sources?
https://github.com/elogind/elogind/blob/8b21e351cf952f283ad23011b70281769ac9bc4f/src/login/org.freedesktop.login1.conf#L314

[2021-01-11 16:30] Dramokl commented on #158
Yes, this section is not commented out. It can be edited locally or within the ebuild patch. If the SetBrightness method is absent in the DBus service, the old control mechanism is used

[2021-01-11 17:35] simonvanderveldt commented on #158
Ah, ok, so your patch is actually the reverse, it's supposed to comments out the `SetBrightness` method?

[2021-01-12 05:40] Dramokl commented on #158
Oh.. Yes - that's right - you need to comment out the method.  Hastened to post a comment because I myself have been looking for the cause of this problem for a long time

[2021-01-14 21:26] slashbeast opened #191 "246.9.1: broken dbus activation if elogind-deamon is not running."
It seems that the elogind does not work for *first* login session if elogind-deamon was not already running in the background. The logs states that the seat  has been assigned but this is not true. After re-login the seat is assigned as it should be.

This also do not happen if elogind is started via init script. Reproduced by many Gentoo users, including myself.

Working on: 243.7
Broken on: 246.

[2021-01-15 06:59] Yamakuzure commented on #190
If you get feedback from sdbus-cpp, I'd like to hear about it here.

Please feel free to re-open if I can be of further assistance.

[2021-01-15 06:59] #190 closed

[2021-01-15 07:07] Yamakuzure commented on #191
Please open a Gentoo bug and ask them to patch in af660607dc12e1d77861ee4946be8e8560808412
The commit will be included in 246.9.2

I just had to reboot my computer due to some updates, and this is what I have:

[code]

[2021-01-15 07:07] #191 closed

[2021-01-15 07:17] Yamakuzure commented on #191
@slashbeast : Or they update to [v246.9.2](https://github.com/elogind/elogind/releases/tag/v246.9.2) - just released - which fixes the issue. :wink:

(I couldn't find any more pressing issues, so there was no real reason to further stall the release.)

[2021-01-27 03:58] BeanieBen9990 opened #192 "make elogind show asterisk as password when logging into tty"
Is there a way to make elogind show asterisks for each character typed when first logging into the system? I've tried looking it up but there's only results for making sudo do this. I have a keyboard with a couple unreliable keys, and it would be super helpful to see when it doesn't type the key instead of just guessing. Is there a way to do this?

[2021-01-27 09:08] Yamakuzure commented on #192
No, there is no such way, as elogind does not ask for the password, your system does.
Your system then uses PAM to do the login, which routes it through elogind to create the session.

elogind does never ask you for a password.
On login, your system does, and when asking for a password for privileged actions, it is polkit that does that.

[2021-01-27 09:08] #192 closed

[2021-01-28 14:07] BeanieBen9990 commented on #192
Thank you! I seriously had a hard time figuring out what program handles the login password. Now that I know it's a lot easier to find this answer. Thank you!!

[2021-01-29 11:51] idl0r opened #193 "Starting GTK apps initially very slow / delayed"
Hi,

I upgraded my system quite some time ago and I experience some major lags / delays when starting GTK apps the first time.
It seems that nobody else reported similar issues recently here so I'll do it finally.

It used to be fine before and I basically just replaced the ck-launch-session by:
.xinitrc:
[code]

When I start a GTK app, strace shows some timeouts when talking (or trying to) to dbu

[2021-01-29 16:38] idl0r commented on #193
I tried that with a GTK3 "Hello, World", to get a clean strace.
Does that help?
[strace.log](https://nc.qasl.de/index.php/s/BtWmYdcg684oBGN)

[2021-01-29 18:10] saltedcoffii opened #194 "Some files in elogind don't respect the --prefix variable during ninja install"
using the --prefix=/usr/local during the `meson` stage does not move some binaries and libraries from their /bin /lib and /lib64 prefix to the appropriate /usr/local prefix. passing --libdir and --libexecdir doesn't help the problem either.
The error can be repeated by running, within the most recent elogind release tarball:
[code]
Look inside whatever destdir was and notice that there are still f

[2021-02-01 08:19] Yamakuzure commented on #194
That is "courtesy" of systemd, there are two prefix options.

The regular `--prefix` is for all user level stuff, but they also added `--rootprefix`, which reads:

You need to set both, if you want everything to be installed in /usr/local

Example:
meson setup with
    `--prefix /tmp/elogind_PREFIX -Drootprefix=/tmp/elogind_ROOT`
results in:

[code]

and

[code]

[2021-02-01 08:19] #194 closed

[2021-02-01 08:36] Yamakuzure commented on #193
Other than all locale files being missing, and a delay when accessing
  `/usr/lib64/gdk-pixbuf-2.0/2.10.0/loaders.cache`
and
  `/usr/share/locale/locale.alias`
there is only a delay when dbus tries to reach `org.gnome.SessionManager` and then `org.xfce.SessionManager` twice.
Also the attempt to reach either SessionManager to issue a `NameOwnerChanged` message appears quite often, and always result

[2021-02-01 13:06] travankor opened #195 "Fails to set XDG_RUNTIME_DIR in certain situations"
Elogind doesn't set XDG_RUNTIME_DIR for [greetd](https://sr.ht/~kennylevinsen/greetd/).
This was working on the previous version 243.4. Logging into a normal TTY sets the environment variable, but greetd has to set it twice (once for a greeter user, and once for a regular user).

Before upgrade:

[code]

After:

[code]

[2021-02-01 18:31] Yamakuzure commented on #195
Why does greetd needs an XDG_RUNTIME_DIR? It is a greeter, not a user.
Is XDG_RUNTIME_DIR set for you after you have logged in using greetd?

[2021-02-01 22:25] travankor commented on #195
Greetd can start a [graphical session](https://git.sr.ht/~kennylevinsen/gtkgreet), which requires the environment variable. For non-graphical greeters, the variable is not needed.

No, it is not.

[2021-02-02 07:17] Yamakuzure commented on #195
Good to know, thanks

That is weird. Are you really going through PAM and is it elogind version 246.9.2?
The first release, version 246.9.1, had an error that would skip all the user setup if elogind wasn't already running.

Just for the record, I just logged into tty3, bash, and XDG_RUNTIME_DIR is set. Also when I do `bash --login`.

I am asking this, because it is the PAM module that sets these

[2021-02-02 08:09] cybern0id commented on #195
Sorry for hijacking but my issue is identical I think. I've been banging my head against the wall trying to get  to the bottom of this for the past week.

I'm running devuan "chimaera / testing" with swaywm, greetd and gtkgreeter running on tty7. I've made my own sysv init script to start greetd (because no systemd), and my own PAM conf for greetd. Upon first boot everything works beautifully howe